[2017-12-21 02:04] jacquesqiao opened #2 "Graph Design"
- [x] add onnx to VisualDL #34
- [x] add edge in Graph data format design https://github.com/PaddlePaddle/VisualDL/pull/32
- [x] impl edge in Graph API

[2017-12-21 07:19] Superjomn opened #4 "current IM do not support train/test or other FileWriter related concept"

[2017-12-25 10:55] BingBlog opened #8 "Scalars_tooltip needs refactoring"
1、data precision,
2、style

[2017-12-25 10:58] BingBlog opened #9 "need config for overall updating frequency"

[2017-12-25 11:06] BingBlog opened #10 "Scalars needs to be simpled"
目前Scalars中，如果图的数据量过大，会出现卡顿。
可以在sdk里面加一些自动的设置。

[2017-12-25 11:07] BingBlog opened #11 "Scalars charts zoom bug"
Scalars在对图进行放大时会报错。

[2017-12-25 11:54] Superjomn opened #12 "Scalar need to check different data ranges"
some negative value.

[2017-12-26 10:24] daming-lu opened #16 "Convert ONNX protobuf to JSON"
need to write a converter. Can use TF's multiplexer as a reference

[2017-12-27 05:14] Superjomn opened #18 "deploy an official site."
an official web site

[2017-12-27 05:15] Superjomn opened #19 "deploy an online demo"

[2017-12-27 05:17] Superjomn opened #20 "ask onnx/pytorch/caffe for PR resource"

[2017-12-27 05:19] Superjomn opened #21 "tutorial of usage on pytorch/caffe"

[2017-12-27 05:19] Superjomn opened #22 "optimize histogram"

[2017-12-27 05:19] Superjomn opened #23 "optimize scalar"

[2017-12-27 05:21] Superjomn opened #24 "optimize graph"

[2017-12-27 05:21] Superjomn opened #25 "optimize image"

[2017-12-27 05:22] Superjomn opened #26 "develop image component"

[2017-12-27 05:23] Superjomn opened #27 "develop graph"

[2017-12-27 05:24] Superjomn opened #28 "develop histogram"

[2017-12-27 05:24] Superjomn opened #29 "Develop scalar"

[2017-12-27 05:24] Superjomn opened #30 "Integrate VisualDL to Paddle fluid(or just a demo?)"

[2017-12-27 05:24] Superjomn opened #31 "SDK document"

[2017-12-27 05:26] #29 closed, assigned to Superjomn, BingBlog

[2017-12-27 08:29] jacquesqiao commented on #27
already have one https://github.com/PaddlePaddle/VisualDL/issues/2

[2017-12-27 08:29] #27 closed, assigned to jacquesqiao, daming-lu, deqingli, BingBlog

[2017-12-27 08:46] jacquesqiao opened #35 "add a basic graph api that support load onnx model"

[2017-12-27 10:00] #35 closed, assigned to nobody

[2017-12-27 12:29] Superjomn opened #36 "image component scale to fit width"

[2017-12-27 12:30] Superjomn opened #37 "protobuf might be too large"
When store image to Protobuf message, it might easily out of the maximum storage.

some solutions:

- just sample several steps
- define maximum image shape

[2017-12-27 12:49] #8 closed, assigned to nobody

[2017-12-28 01:56] jacquesqiao opened #38 "graph data format should have edge"

[2017-12-29 00:53] daming-lu commented on #38
https://github.com/PaddlePaddle/VisualDL/pull/39

[2017-12-29 00:53] #38 closed, assigned to daming-lu

[2017-12-29 06:21] daming-lu commented on #16
https://github.com/PaddlePaddle/VisualDL/commit/4b1f28c09c32d1de9906b8a801659f14287791d9

[2017-12-29 06:21] #16 closed, assigned to daming-lu

[2017-12-29 10:26] jacquesqiao opened #41 "add a paddle demo to record log"

[2017-12-29 10:26] daming-lu opened #42 "Graph needs Travis Test for Correctness"

[2017-12-29 10:26] jacquesqiao opened #43 "need to transform paddle programdesc to graph data format"

[2017-12-29 10:29] Superjomn opened #44 "refine build system"

[2018-01-02 04:23] Superjomn opened #48 "need a mechanism to avoid IO conflict between writer and reader processes"
TODO

- [ ] add a status to check whether a tablet is changed and need to sync
- [ ] add a file lock thing to avoid read/write conflict

[2018-01-04 05:01] daming-lu opened #56 "Use AWS to download test models if Travis is running"
We found Baidu BOS is slow while being accessed from Travis. cURLing the test models (26MB and 6MB) could timeout. So we need a logic so that if it is Travis, switch the cURL to download models from AWS (overseas service)

[2018-01-05 02:37] #36 closed, assigned to BingBlog

[2018-01-05 02:37] #26 closed, assigned to Superjomn, BingBlog

[2018-01-08 06:30] #44 closed, assigned to jacquesqiao

[2018-01-08 07:01] jacquesqiao opened #66 "server can not work after move position"
[code]

the static file work directory also need to fix

[2018-01-08 08:37] Superjomn opened #69 "Static "real-time" demo webpage"
We need an online demo to display some real-time effect, some requirements are as follows:

- quite light-weight and stand large amount visits
   - can the single frontend simulate this effect?
- look like real-time, the components should be updated dynamically.

[2018-01-08 08:42] #28 closed, assigned to Superjomn, deqingli, BingBlog

[2018-01-08 08:42] #25 closed, assigned to BingBlog

[2018-01-08 08:42] #42 closed, assigned to daming-lu

[2018-01-09 03:02] jacquesqiao opened #71 "Cannot compile on MacOS"
In file included from /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/iostream:40:
In file included from /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/istream:163:
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/ostream:1038:10: error: use of overl

[2018-01-09 08:50] Superjomn opened #74 "image(xx,xx,iter_cycle) the third argument is not needed, should be ignored"

[2018-01-09 10:05] Superjomn opened #75 "setup.py do not need protoc"

[2018-01-09 10:53] Superjomn opened #76 "visualDL command line need refactored"

[2018-01-10 03:40] Superjomn opened #80 "TODO"
- scalar
  - [x] 默认关闭 outlier
  - [x] 数据刷新失败，则停止刷新，保持原状，避免空白控件的出现 -[1级]
  - [x] 多个线条颜色(等美研小伙伴给配色)
  - [ ] legend 要用富文本
- 页面布局
  - [x] 根据设计修改
  - [x] margin 修改
  - [x] 浏览器tab里边的VisualDL加一个空格，变成Visual DL
  - [x] 拉到最上边的时候，banner那一栏看不到了
- graph
   - [x] 下午ready
   - [x] 配色
   - [ ] 图片映射到画布大小-[1 级]
   - [ ] 缩略图位置固定 - [2级]
   - [x] 用鼠标拖动 graph，松开鼠标图片会弹回去
- demo
   - [ ] pytorch
   - [x] mxnet
   - [x] [

[2018-01-10 15:47] jacquesqiao opened #82 "一个图多条线的时候，出现了一个不存在的tag"
![image](https://user-images.githubusercontent.com/3048612/34781368-9c638ce2-f660-11e7-938f-b781d30e63f9.png)

[2018-01-11 01:55] Superjomn opened #83 "need more documentations"
# Tutorial
- [x] quick start @ChunweiYan
- [ ] introduction for scalar
- [ ] introduction for histogram
- [ ] introduction for image
- [ ] introduction for graph

# Site
- [ ] content of home page
  - [ ] project aims
  - [ ] our advantages
  - [ ] team infomation
- [x] quick start(same with Tutorial)
- demos (with basic documentation those can be transformed to reading-sutible HTML pages)
  - [ ]

[2018-01-11 06:01] BingBlog commented on #82
提供下场景，这个我也复现不了~

提问题的时候，可以尝试分析下造成问题的原因吧。这个/loss是一个Tag么？返回值中是否存在 //loss这样的标签？

或者把接口返回的Tag json数据提供下？

[2018-01-11 06:03] #22 closed, assigned to deqingli, BingBlog

[2018-01-11 08:16] daming-lu opened #85 "UI button 改名字"
Run / Stop => Execute / Halt ？ 区分于tf

[2018-01-11 14:45] Superjomn opened #88 "image need to support channels between 1 and 3"

[2018-01-12 02:49] jacquesqiao opened #90 "material needed by Marketing"
- demo gif/vedio
  - [x] scalar
  - [x] image
  - [x] histgram
  - [x] graph
  - [x] 没有Visual-DL之前，纯代码滚屏的那种效果，体现一下无法可视化的时候深度学习的状态
  - [x] Graph那个部分，也可以录一个从缩在一点的状态突然散开的效果，做个单独的Gif
  - [ ] easy to use, diff of integrate visualdl to other platform

[2018-01-12 05:34] jacquesqiao opened #93 "add comment to sdk(Python & CPP)"

[2018-01-12 06:23] Superjomn opened #95 "build need enhancement"
- bin dependencies:
  - cmake
  - nodejs -> node

- python
  - wheel

add some document or refine the scripts.

[2018-01-12 07:36] Superjomn opened #97 "build flag ON_RELEASE off failed"
- need to check on and off.

[2018-01-12 07:37] Superjomn opened #98 "setup.py unable to copy diretories"

[2018-01-12 09:48] jacquesqiao opened #101 "convert paddle program to graph json"

[2018-01-12 10:04] jacquesqiao opened #102 "prepare pip wheel package"

[2018-01-13 02:46] jacquesqiao opened #110 "rm history big file inception-v1.pb"
### refs:

- https://stackoverflow.com/questions/2100907/how-to-remove-delete-a-large-file-from-commit-history-in-git-repository
- https://git-scm.com/book/zh/v1/Git-%E5%B7%A5%E5%85%B7-%E9%87%8D%E5%86%99%E5%8E%86%E5%8F%B2

- http://harttle.land/2016/03/22/purge-large-files-in-gitrepo.html

### cmd
[code]

[2018-01-13 06:23] BingBlog commented on #82
Don't appear again~

[2018-01-13 06:23] #82 closed, assigned to nobody

[2018-01-13 10:04] jacquesqiao opened #124 "mode in title of histogram is at wrong place"
![image](https://user-images.githubusercontent.com/3048612/34905060-2ad12dd6-f88c-11e7-9f4f-115acdef4820.png)

[2018-01-13 10:55] jacquesqiao opened #126 "individualImage的参数index有时候为None"
当后台访问image挂的时候，会用None调用individualImage接口

![image](https://user-images.githubusercontent.com/3048612/34905429-420324ee-f893-11e7-9628-ee49f5c80cb8.png)

[2018-01-13 11:22] Superjomn opened #127 "binary records should be sampled not add"

[2018-01-13 12:31] jacquesqiao opened #128 "mode list is error when have two mode and mode have same prefix"
### pass_name
- trainbatch
- trainpass

![image](https://user-images.githubusercontent.com/3048612/34906076-9819b08e-f8a0-11e7-96ef-f281ea5a3bd9.png)

[2018-01-13 12:58] Superjomn opened #129 "图片需要添加 放大 功能"
- 点击放大
- 再点击还原
- 不需要再做的控件啥的

[2018-01-13 13:17] Superjomn opened #130 "histogram need sample"

[2018-01-14 01:47] jacquesqiao opened #131 "鼠标拖动graph会自动弹回去"

[2018-01-15 01:42] #127 closed, assigned to nobody

[2018-01-15 01:42] #110 closed, assigned to nobody

[2018-01-15 01:42] #98 closed, assigned to nobody

[2018-01-15 01:43] #93 closed, assigned to nobody

[2018-01-15 01:43] #88 closed, assigned to nobody

[2018-01-15 01:43] #85 closed, assigned to daming-lu

[2018-01-15 01:43] #130 closed, assigned to Superjomn

[2018-01-15 01:43] #66 closed, assigned to Superjomn

[2018-01-15 01:44] #48 closed, assigned to Superjomn

[2018-01-15 01:48] #97 closed, assigned to nobody

[2018-01-15 09:50] Superjomn opened #146 "scalar get 0 at the end"

[2018-01-15 10:19] jacquesqiao opened #147 "compile and install step"
install npm
[code]

[2018-01-15 10:26] Superjomn opened #148 "change graph to original theme"

[2018-01-15 17:11] #148 closed, assigned to Superjomn

[2018-01-15 17:11] #146 closed, assigned to nobody

[2018-01-15 17:11] #129 closed, assigned to BingBlog

[2018-01-16 03:49] #102 closed, assigned to nobody

[2018-01-16 05:27] #131 closed, assigned to nobody

[2018-01-16 08:47] liaozhuoran opened #170 "mac can not compile"
![qq20180116-164711](https://user-images.githubusercontent.com/1241579/34979677-f2bccdd0-fadc-11e7-9633-e741fe98f289.png)

[2018-01-16 09:43] jacquesqiao commented on #170
您的系统环境是怎样的，os版本，Python版本等

[2018-01-17 12:18] aa12356jm opened #175 "Add support for Python 3"
看了一下https://pypi.python.org的轮子，发现只有python2.7，作者可否支持python3?非常感谢提供这么好的工具

[2018-01-17 13:13] dzhwinter opened #176 "time subtitle has a wrong showing format"
when showing the scalar graph, the x-axis time label show in the wrong format. Even the vl_stratch demo.

[2018-01-17 14:04] Superjomn commented on #175
恩，python3在后面会支持，应该只是打包的工作

[2018-01-17 14:05] Superjomn commented on #175
@daming-lu 可否帮看下这个python3打包

[2018-01-17 14:07] Superjomn commented on #176
Can you give a screenshot? and highlight the bug? @dzhwinter

[2018-01-17 14:09] dzhwinter commented on #176
![image](https://user-images.githubusercontent.com/6687176/35046834-264f37cc-fbd3-11e7-8e89-20a5dc97255b.png)

[2018-01-17 14:10] jacquesqiao commented on #175
应该是用Python3的环境打个包就行了

[2018-01-18 05:32] machanic opened #177 "Hope to support chainer framework"
chainer is excellent framework which is built on pure python and is share the same idea with PyTorch, (actually , pytorch copy chainer's idea).
Hope to support chainer framework, Thanks.

[2018-01-18 06:29] Superjomn commented on #177
It supports any pure python framework, just use the python SDK.

In fact, it is not bound to the deep learning tasks, any python/C++ application with a `for-loop` can use it.

for example, the `scalar` component, `add_record(x, y)` simply draw a scalar on `(x,y)` in European space.

[code]

It should draw a straight line.

[2018-01-18 06:58] rubinliudongpo opened #178 "Fails to build it on Ubuntu 17.xx"
I added following contents into CMakeLists.txt:
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")
add_definitions(-std=c++11)

on issue command 'python setup.py bdist_wheel', we still can see:

[code]

[2018-01-18 07:36] Qero opened #179 "failed to import at pyenv's user"
I install vissualdl by pip, but I get the fatal error when import it in my pyenv local environment
[code]

Then, I found the core.so in versions/2.7.14/lib/python2.7/site-packages/visualdl, and it is depends on the /usr/local/opt/python/Frameworks/Python.framework/Versions/2.7/Python, it isn't match my  python environment.
[code]

Now it works, but I must change dependence by hand.
[code]
--------

[2018-01-18 07:48] jacquesqiao commented on #179
can you try to clone the code and build it locally?

[2018-01-18 07:51] jacquesqiao commented on #178
we will have a look~

[2018-01-18 08:00] jacquesqiao commented on #178
I add this flag and the building is all right on my MacOS. I will try Ubuntu17 then.

[2018-01-18 08:05] Qero commented on #179
Yes, I have tried to build visualdl with my local python environment, but I encountered the same problem as https://github.com/PaddlePaddle/VisualDL/issues/170.
macOS High Sierra 10.13.2
GNU Make 3.81
cmake 3.10.1
python 2.7.14

[2018-01-18 08:45] jacquesqiao commented on #179
Ok, I will try to fix this problem, thank you~

[2018-01-18 09:17] llxxxll opened #181 "图表的刷新间隔可以自己修改吗？"
当前是15s
如何修改为5s呢

[2018-01-18 09:28] thatdevin opened #182 "Only support for python 2?"

[2018-01-18 09:47] Superjomn commented on #182
yes, currently only python 2.7 version is supported.

We will support python 3 latter, after one or two weeks.

[2018-01-18 11:05] BingBlog commented on #181
Thanks for the feedback. This feature is in our plan.
However, we found in development, if you want to render a large amount of data in the map, refresh too fast, the browser response will be slower.
We will still provide this function as soon as possible.

[2018-01-18 12:01] #176 closed, assigned to deqingli, BingBlog

[2018-01-18 12:02] kolinwei opened #185 "支持LogWriter的加载与续写"
因为当前只支持一个logdir的展现，遇到多个独立的训练进程想往一个log写需要展现的数据时，后启动的会覆盖之前的logdir下的storage.meta。如果在初始化logWriter时，发现下面有storage.meta的话不覆盖，而是在基础上续写就好了。

[2018-01-18 12:52] BingBlog commented on #181
duplicate width #9. This one close.

[2018-01-18 12:52] #181 closed, assigned to BingBlog

[2018-01-18 12:59] BingBlog commented on #8
#53 done

[2018-01-18 13:23] Superjomn commented on #185
嗯，可以考虑在第二版上加这个功能

[2018-01-18 13:24] #177 closed, assigned to nobody

[2018-01-18 13:26] #185 closed, assigned to nobody

[2018-01-18 13:27] #182 closed, assigned to nobody

[2018-01-18 13:28] #126 closed, assigned to BingBlog

[2018-01-18 13:28] #124 closed, assigned to BingBlog

[2018-01-18 13:28] #95 closed, assigned to nobody

[2018-01-18 13:28] #75 closed, assigned to Superjomn

[2018-01-18 13:28] #74 closed, assigned to Superjomn

[2018-01-18 13:28] #37 closed, assigned to Superjomn

[2018-01-18 13:29] #18 closed, assigned to daming-lu

[2018-01-18 13:29] #19 closed, assigned to daming-lu

[2018-01-18 13:29] #21 closed, assigned to Superjomn, daming-lu

[2018-01-18 13:29] #23 closed, assigned to deqingli, BingBlog

[2018-01-18 13:29] #24 closed, assigned to deqingli, BingBlog

[2018-01-18 13:29] #30 closed, assigned to jacquesqiao, daming-lu

[2018-01-18 15:20] burness opened #186 "[ERROR 2018-01-18 22:56:20,830 lib.py:212] Unexpected error: <type 'exceptions.RuntimeError'>"
Hi Paddler:

During the train parse of the DeepFM, I add the LOSS and AUC to the logwriter and I load them to visualdl.
![image](https://user-images.githubusercontent.com/3112825/35104591-3f83c542-fca4-11e7-81c2-64256da4969a.png)

But I see the log here, it get an error "CHECK failed: (index) < (current_size_)":
![image](https://user-images.githubusercontent.com/3112825/35104044-a43223b4-fca2-11e7

[2018-01-19 01:58] jacquesqiao commented on #186
Are you opening multiple browser pages for this service at the seem time? If so, we have some bugs and will be fixed soon.

On the other way, the wrong time format in the scalar window has been fixed, will upload a new version today~

[2018-01-19 03:42] Superjomn opened #187 "Job flow chart like ray webui"
- draw the computation information of kernals
- draw the schedule of distributed system.

[2018-01-19 05:16] Superjomn commented on #186
That's OK for this kind of runtime exception.  The server will have some Read/Write IO conflicts with the Writer (which write to the same ProtoBuf file) and will retry several times and recover service latter.

Just a temporary runtime error and can be ignored.

[2018-01-19 05:16] #186 closed, assigned to nobody

[2018-01-19 05:18] QinZiwen opened #188 "Unexpected error: <type 'exceptions.RuntimeError'>"
我模仿demo写了这样一个测试例子：
[code]
当用浏览其可视化的时候，终端报错：
[code]
但是，只要我把‘CorrectAccuracy’ 或者 ‘MistakeAccuracy’ ，任意一个删除掉，就不报错，一起正常。难道是visualdl只支持两个scalar？

[2018-01-19 05:20] Superjomn commented on #179
We will try to add CMake flags to specify the paths of python lib and header files.

Most include errors are due to the Pybind compiling with an incompatible python environment.

Will try later in the weekend and update on this issue.

[2018-01-19 05:22] Superjomn commented on #175
因为 Pybind 的缘故，比想像中要复杂，周末再试试

[2018-01-19 05:36] jacquesqiao commented on #188
我们这边测试下，另外目前同时启动多个网页查看的时候，也可能会有这个问题，后面会修复。

[2018-01-19 06:03] QinZiwen commented on #188
我只使用了一个网页查看

[2018-01-19 07:19] jacquesqiao commented on #187
![image](https://user-images.githubusercontent.com/3048612/35138995-15de1642-fd2c-11e7-9137-6017342e9e0c.png)
http://ray.readthedocs.io/en/latest/webui.html
do you mean this one?

[2018-01-19 07:38] Superjomn commented on #187
yes

[2018-01-19 07:45] jacquesqiao opened #189 "fix problem when compile multiple times"

[2018-01-19 07:53] leanna62 opened #190 "Segmentation fault on using LogWriter to MNIST (GPU) example on Docker"
原始代码路径：https://github.com/dzhwinter/benchmark/blob/master/fluid/mnist.py
参考vdl_scratch.py中scalar部分进行添加。
问题如下：
*** Aborted at 1516348104 (unix time) try "date -d @1516348104" if you are using GNU date ***
PC: @                0x0 (unknown)
*** SIGSEGV (@0x180) received by PID 1285 (TID 0x7fb467080700) from PID 384; stack trace: ***
    @     0x7fb466c5f390 (unknown)
    @     0x7fb441027930 std::_H

[2018-01-19 15:15] Superjomn commented on #190
是自己搭建的docker吗？　ubuntu么，系统版本和python版本是啥？

[2018-01-19 15:15] #189 closed, assigned to jacquesqiao

[2018-01-19 15:19] Superjomn commented on #188
训练任务的 LogWriter  和  server后端的 LogReader IO冲突，一般可以忽略。

sync_cycle 控制了writer写的间隔，可以设大一点，比如30~50，这样 write 和 read 的冲突会少一些。

这一版里为了简单没有加任何多线程或者锁的方式，所以难免会有同时write read 同一个文件的问题，但都不是致命错误，server会自动 retry 后恢复。

[2018-01-20 01:32] burness commented on #186
Ok, Thanks chunwei and longfei.

2018-01-19 13:16 GMT+08:00 Yan Chunwei <notifications@github.com>:

[2018-01-20 03:35] QinZiwen commented on #188
确实 sync_cycle设为50后，问题就没有了

[2018-01-21 11:01] jacquesqiao opened #196 "add doc of how to build pip package for manylinux"

[2018-01-22 06:59] aa12356jm commented on #175
@Superjomn python3可以了吗？可以的话，麻烦您提醒一下哈，非常感谢

[2018-01-22 08:59] daming-lu opened #197 "add 3-D to Scalar"
After talking to Yibing from DeepSpeech team, it would be better if VisualDL could support 3-D real-time rendering like below:

<img width="1792" alt="screen shot 2018-01-22 at 4 58 14 pm" src="https://user-images.githubusercontent.com/5635322/35212585-98f4ebda-ff95-11e7-94f9-c01688dda484.png">

[2018-01-22 09:14] leanna62 commented on #190
不好意思回复晚了
系统版本：Ubuntu 16.04.3 LTS
python版本：Python 2.7.3  [GCC 4.4.6 20120305 (Red Hat 4.4.6-4)] on linux2

[2018-01-22 12:11] KeyKy opened #198 "用PIP安装VisualDL遇到问题"
visualDL: command not found

[2018-01-22 14:54] Superjomn opened #199 "scalar bugs"
![image](https://user-images.githubusercontent.com/328693/35226724-2b3080c8-ffc7-11e7-9b2d-743349c8a5ba.png)

一个是smooth算错了，另一个是排版问题
￼
遮挡曲线了

[2018-01-22 14:56] jacquesqiao commented on #198
try to start Python and run
[code]

[2018-01-23 02:07] KeyKy commented on #198
我已经安装成功了，import visualdl没有问题，好像就是没有visualDL这个可执行文件。

[2018-01-23 07:35] ccmeteorljh commented on #199
在画图的过程中，手动按F5刷新后，出现这样的情况
![image](https://user-images.githubusercontent.com/33303691/35263255-fe146924-0052-11e8-94d9-6645f4ff4854.png)

[2018-01-23 07:43] ccmeteorljh commented on #199
还有上下不同步的情况：
![1](https://user-images.githubusercontent.com/33303691/35263532-250c4e4c-0054-11e8-8688-1b64653b63cc.PNG)
![2](https://user-images.githubusercontent.com/33303691/35263538-2abdf5d4-0054-11e8-8005-de97350726ba.PNG)

[2018-01-23 08:34] BingBlog commented on #199
@ccmteorljh：
Thanks for the feedback. Problems you mentioned:
1、title display wrong (resolving);
2、smoothed error;
3、not synchronized;
4、refresh error;

About 2: I can't reproduce the scene you mentioned in the second problem, would you like to provide the callback data? Then I can check the smooth algorithm.

About 3 and 4: Does 3 and 4 appeared both after you refresh browser? The empty map may b

[2018-01-24 02:40] #196 closed, assigned to jacquesqiao

[2018-01-24 05:24] Superjomn opened #201 "STOPPED but still send request to backend"
- need more test
- in my task, it will refresh the data even after STOPING, every 30s.

[2018-01-24 05:47] Superjomn commented on #198
pip 打包目前只适配了 mac 和 ubuntu，还没有全环境测试。

如果还有问题，可以试下源码编译安装，依赖环境应该会自动下载。

[2018-01-24 05:48] Superjomn commented on #190
应该还是 pip 打包的问题。

可以试下源码编译安装，应该是自动化的。

[2018-01-24 06:40] reminisce opened #202 "Scalar graph inconsistencies"
感谢开发者提供这个工具，编译安装方便快捷，简单易用，就是前端还有不少可以改进用户体验的地方。比如下面这个图，有时候accuracy曲线会下降到零，过一会儿又恢复正常。
这是我的code，请看一下是不是有用错的地方。
我是从source编译安装，在MacOS上运行的。
[code]
![image](https://user-images.githubusercontent.com/4978794/35317769-2cff5192-008d-11e8-91a0-6608dba90376.png)

[2018-01-24 06:43] Superjomn opened #203 "Scalar graphs can't render both 0 records and very large # of records"
- 0 records will result in a blank tablet, that's ok, but frontend will yield an error
- to0 many records(10000 for example) will make this scalar dead
   - TODO add reservoir sample in storage
   - TODO frontend should tolerate 0 records

[2018-01-24 07:00] KeyKy commented on #198
OK

[2018-01-24 07:00] #198 closed, assigned to nobody

[2018-01-24 07:48] sophiazxj opened #204 "安装失败"
用conda 和pip 都没安装成功

***
用的是python 3
***
#### 报错如下:

[code]
想请问, 应该用什么channel ?

[2018-01-24 09:40] Superjomn commented on #204
python3 暂时不支持。 目前只支持 python2.7

pip 打包+pybind 有一些坑，只能未来一版加支持了

[2018-01-24 09:45] Superjomn opened #205 "logging enable error message output"
The logging.h has naive implementations for the interfaces of GLOG,
but the `CHECK`s can not output error messages before exceptions.

This is annoying to users and results in many troubles.

TODO:

- output the error message

[2018-01-24 09:46] Superjomn commented on #175
抱歉，python3支持应该要等到下一个小版本了。

pip+pybind 有一些麻烦。

[2018-01-24 09:46] #204 closed, assigned to nobody

[2018-01-24 09:47] #188 closed, assigned to nobody

[2018-01-24 11:03] luchensk opened #206 "python setup.py bdist_wheel failed on MAC"
OS version:
      System Version: macOS 10.12.4 (16E195)
      Kernel Version: Darwin 16.5.0
Python version: 2.7.13
cmake version: 3.10.2

It failed with the error during running 'python setup.py bdist_wheel':
[code]

[2018-01-24 15:37] dzhwinter opened #207 "Title formatting issue"
We want to group images according to the filename/title, justified the mirror graph with the same title.

![image](https://user-images.githubusercontent.com/6687176/35340786-1365fc54-015f-11e8-8bc3-48391978c2fa.png)

[2018-01-24 15:40] dzhwinter opened #208 "Smooth line shows in wrong fromat"
![image](https://user-images.githubusercontent.com/6687176/35341118-e018d834-015f-11e8-9bf4-29ec4cf711df.png)

[2018-01-24 16:41] TuXiaokang commented on #175
@Superjomn 下个版本大致时间能透露吗，期待 ing

[2018-01-24 17:35] veridone opened #209 "how to generate a ONNX proto or the network graph"
In demo` vdl_scratch.py`  writed:
[code]
but I do not find in README, is there any specific examples ?

[2018-01-25 02:41] Superjomn commented on #209
Sorry, we forget to add the document.

Translate the model to ONNX proto, and set the argument `--model_pb` to the Protobuf file.

for exmple:

[code]

that should work.

[2018-01-25 02:44] veridone commented on #209
I want to know how to create the xxx.pb in paddle

[2018-01-25 02:45] Superjomn commented on #209
Paddle to ONNX tool is on the way~

Currently the graph component only supports ONNX format.

[2018-01-25 02:49] Superjomn opened #212 "graph component need to support paddle fluid/v2"
currently, the graph component only supports ONNX model, it might take a long time for Paddle Fluid to develop a 2ONNX tool.

We have an intermediate representation in graph generation, it is more intuitive, just add some codes in paddle python SDK write some log should work.

Just a suggestion~

[2018-01-25 02:50] Superjomn commented on #209
reference #212

[2018-01-25 02:50] #209 closed, assigned to daming-lu

[2018-01-25 11:10] Superjomn commented on #208
you can try to turn off the "smooth", check whether the scalar gets normal, and update the screenshot here.

It is hard to reproduce the bug in my environment.

[2018-01-25 23:04] jetfuel opened #213 "CMakeLists doesn't compile tests on release"
In the CMakeLists.txt, line 55
it says ```# compile test only in release mode```. So it seems we do want to compile tests in release mode.

However, the actual flow shows
[code]
Looks like we only compile tests during development. It doesn't match the description.

Which one is the correct behavior? Tests on release or tests on development?

[2018-01-26 01:49] jetfuel commented on #205
@Superjomn The LogStreamFatal constructor throws errors and there is no way to have the string(extra error message) piped into the message. I noticed that the destructor also throws the exceptions. If we remove the ```throw Error(ss.str());``` in LogStreamFatal constructor, it should be able to print out the error message. It seems the implementation was there already but not confirmed. Was there

[2018-01-26 05:34] reminisce opened #216 "Cannot display more than one histogram at the same time"
I was trying VisualDL in an [MXNet tutorial](https://github.com/apache/incubator-mxnet/blob/master/example/gluon/mnist.py) to track the gradients of **two parameters** for each epoch. However, only the histogram of the second gradient can be displayed.
The changes I made to the tutorial are adding writer creation before the epoch loop:
[code]
and calling `add_record` at the end of each epoch loop:

[2018-01-26 07:24] fengziyue opened #217 "PIP couldn't find a version that satisfies the requirement visualdl"
fzyue@fzyue:~$ pip install --upgrade visualdl
Collecting visualdl
  Could not find a version that satisfies the requirement visualdl (from versions: )
No matching distribution found for visualdl

python 2.7.12
ubuntu 16.04 LTS

[2018-01-26 13:54] AutuanLiu commented on #217
```$ pip install --upgrade visualdl```
Collecting visualdl
  Could not find a version that satisfies the requirement visualdl (from versions: )
No matching distribution found for visualdl

* python 3.6.3
* ubuntu 16.04

**build and install locally also failed**

[2018-01-26 15:02] Superjomn commented on #213
yes, it seems that test is also needed when release.

so this flag can be removed.

[2018-01-26 15:11] Superjomn commented on #205
The exception in the construction is just a temporary implementation. The exception in the destruction seems work, but it  fails to break the execution of the program at the position where `CHECK` fails, the exceptions will not be threw until the end of the block (when the destruction is called).

[2018-01-27 18:35] thatdevin commented on #175
也在期待中

[2018-01-29 06:19] luchensk commented on #206
Is there some update? Thanks.

[2018-01-29 06:52] ccmeteorljh opened #222 "VisualDL画图问题"
利用VisualDL画图时，发现有时候出现问题如下：
1、开始显示空白，放大后图片才出来；
2、图片出来后，移动鼠标到线上没有具体的数值；
![image](https://user-images.githubusercontent.com/33303691/35497031-686b8398-0503-11e8-8975-ab4280891585.png)

![image](https://user-images.githubusercontent.com/33303691/35497008-53562daa-0503-11e8-8b9c-430520b7e1e3.png)

![image](https://user-images.githubusercontent.com/33303691/35497134-e0497938-0503-11e8-92da-774d072fdae0.

[2018-01-29 07:56] jacquesqiao commented on #217
please run
[code]
and paste the result.

[2018-01-29 10:25] AutuanLiu commented on #217
[('cp36', 'cp36m', 'manylinux1_x86_64'), ('cp36', 'cp36m', 'linux_x86_64'), ('cp36', 'abi3', 'manylinux1_x86_64'), ('cp36', 'abi3', 'linux_x86_64'), ('cp36', 'none', 'manylinux1_x86_64'), ('cp36', 'none', 'linux_x86_64'), ('cp35', 'abi3', 'manylinux1_x86_64'), ('cp35', 'abi3', 'linux_x86_64'), ('cp34', 'abi3', 'manylinux1_x86_64'), ('cp34', 'abi3', 'linux_x86_64'), ('cp33', 'abi3', 'manylinux1_x86

[2018-01-29 13:49] jacquesqiao commented on #217
visualdl does not support Python3 now, please use it with Python2.7

[2018-01-29 19:48] jetfuel commented on #205
@Superjomn I now see the concern and reason why we switch to the implementation of throwing in the constructor.

I now have another question. We are thinking if it is possible to change the CHECK function to something like CHECK(cond, error_msg). However, I noticed that we are using the GLOG in the debug and we are using our own CHECK Macros in the release mode.

Is this because the GLOG doesn't t

[2018-01-29 19:55] jetfuel commented on #213
@Superjomn In the CMakefile, the test requires GLOG and GFLAG. But we only include the GLOG and GFLAG in Debug Mode.

Is there a reason why we only include the GLOG and GFLAG in the Debug Mode?

[2018-01-30 03:13] leanna62 opened #224 "画图问题"
画图问题：如果同时画多幅图，会出现某个图画不出来的现象；如果单独拆开，每个图上画两条线是可以呈现出来的。

![image](https://user-images.githubusercontent.com/7959732/35546268-88bcd862-05ae-11e8-8a1d-a5656b330c2b.png)
![image](https://user-images.githubusercontent.com/7959732/35546307-bbe079a6-05ae-11e8-836e-cd1ca666ed92.png)

[2018-01-30 05:08] Superjomn commented on #216
There are two possibilities:

1. the second histogram does not have any record, so nothing to draw
2. there is an error in processing the records by the LogReader

scalar has a bug in reading records, and that may also affect the histogram, it is fixed in https://github.com/PaddlePaddle/VisualDL/pull/225.

If the second situation, try to pull the latest code and install from source.

[2018-01-30 05:11] Superjomn opened #226 "Histogram styling improvements when very few records"
reference the screenshot from https://github.com/PaddlePaddle/VisualDL/issues/216

[2018-01-30 05:13] Superjomn opened #227 "the colors of scalar are too similar, hard to distinuish"
need to carefully tuned.

[2018-01-30 08:19] daming-lu opened #228 "Image Sampling Error"
When we set image sampling number to be 10 but only generate 5 images, it would throw an error. Once the total image amount is less than the sample amount, we should use the total amount or at least prompt a warning to inform the user.

[2018-01-30 08:44] daming-lu opened #229 "Image / Scalar Layout"
Image layout can be smarter. It can show 1 image from each namespace and collapse others.

Scalar layout can be grouped by namespace.

Also, it could support a comparison between 2 frameworks, such as Paddle and PyTorch

[2018-01-30 12:32] Superjomn opened #231 "need a whl package script to build whl on mac/ubuntu"
currently, the WHL package is built manually, quite trivial and easy to make mistake.

Recently, much bugfix is merged, but no new WHL is updated.

We'd better have a script, to build WHL in the different environments, it seems that the Travis-CI has mac env, but not sure whether it can be used to build WHL.

[2018-01-30 13:11] #222 closed, assigned to nobody

[2018-01-30 13:11] #224 closed, assigned to nobody

[2018-01-31 06:57] nbcc commented on #175
同，工具链用 python 3 方便些。

[2018-02-01 02:43] Superjomn opened #237 "Custom scalar graphs layout / order"
[title: idea from some users: configure the exact position(group) of the components. for example, two scalars(one called train, another is called valid), one can place them side by side. Currently, the components are mixed.]

the four components are split into different HTML pages.

But it is boring to see just one kind of the component in a page.

we can configure different components on a page,

[2018-02-01 06:16] daming-lu opened #239 "Let VDL generate static webpage to publish metrics"

[2018-02-01 19:10] cs2be opened #241 "Interactive ONNX Graphs"
- Make Graph component clickable. Clicking at a node should collapse/expand its internal content

[2018-02-01 19:29] cs2be opened #242 "Build Docker Demo that will allow users show VisualDL on the trained data and put on docker hub"

[2018-02-01 21:51] cs2be opened #243 "visualDL server is slow when logdir is not set correctly"

[2018-02-01 21:52] cs2be opened #244 "No cross-platform compatibility of logs"
visualDL has errors when reading logs from another system.  For example If logs were generate on linux, and user reads the logs on macOS, the visualDL server will run into alot of errors.

[2018-02-01 22:35] cs2be opened #245 "Audio preview component"

[2018-02-01 22:35] cs2be opened #246 "Text preview"

[2018-02-01 22:40] cs2be commented on #83
[@daming-lu] Add comprehensive content (README, Tutorials, Demos) in both English and Chinese to make new users easier to get started

[2018-02-01 22:48] cs2be opened #247 "Support Embedding visualization"
* projection to 2D graphs
* projection to 3D graphs

[2018-02-02 00:09] varunarora commented on #246
@daming-lu Could you write a few sentences here on what this feature means? So we know what the need is? You could provide links from other frameworks if you have them.

[2018-02-02 00:48] varunarora commented on #245
@daming-lu Could you write a few sentences here on what this feature means? So we know what the need is? You could provide links from other frameworks if you have them.

[2018-02-02 02:01] jetfuel commented on #216
The issue still persists. I create two histograms, one with mode "train" and the other with mode "test".
The later one shows up properly, but the other can't render properly.
<img width="936" alt="screen shot 2018-02-01 at 6 01 35 pm" src="https://user-images.githubusercontent.com/1093725/35713019-fbd814fc-0779-11e8-9146-ccb648e47855.png">

[2018-02-02 19:33] #243 closed, assigned to cs2be

[2018-02-02 19:42] cs2be commented on #244
The issue seems to be with "std::hash<std::string>".  The hash method is returning different values on Linux and OSX.

binary_record.h:72:
std::string hash() { return std::to_string(hasher(data)); }

So when we read the binary record, we compare the file hash and throw an error if the hash doesn't match:

binary_record.h:85:
CHECK_EQ(hash(), hash_) << "data broken: " << path;

I created a test in

[2018-02-02 20:01] varunarora commented on #247
@Superjomn Could you kindly give concrete examples of such functionality that you would like to see? If you wish to share references to other visualization tools or papers, please do so. Or if you don't have concrete ideas and just want us to figure it out, we could do that too.

[2018-02-02 20:04] varunarora commented on #241
@Superjomn @daming-lu Could you provide more clarity on what this interaction should looks like and what it should enable? Either a reference to another computation graph visualization OR a rough drawing made with Paint-like tools with some text explaining it should suffice.

[2018-02-02 20:06] varunarora commented on #239
@daming-lu Should the contents of this static page be identical to a dynamically pooling VDL page, just that the data is loaded non dynamically? What other differences from the regular VDL dashboard should this have? Please share clarity.

@dzhwinter

[2018-02-02 20:10] varunarora commented on #227
@Superjomn Do you mean the colors of different curves on a scalar graph and too similar?

[2018-02-02 20:12] varunarora commented on #226
Can you describe what you mean by ugly here and the specific improvement you envision? Just some general pointers in the right direction would be useful.

[2018-02-02 20:16] varunarora commented on #217
Duplicate of #175. Closing.

[2018-02-02 20:16] #217 closed, assigned to nobody

[2018-02-02 20:19] varunarora commented on #208
@dzhwinter Do you happen to have the logs for this training so we could reproduce? Or perhaps tell us if this is from a known tutorial-ish example?

[2018-02-02 20:20] varunarora commented on #229
Similar to #207

[2018-02-02 20:22] varunarora commented on #206
@luchensk Sorry for the lack of responsiveness.

@cs2be Since this is up your alley, could you shed some light here please?

[2018-02-02 20:24] varunarora commented on #202
@jetfuel Could you kindly help me here with a translation? Or @reminisce, if you see this before.

[2018-02-02 20:25] varunarora commented on #201
@Superjomn Could you kindly provide some more clarity / context for this issue?

[2018-02-02 20:29] varunarora commented on #197
@daming-lu That's not scalar then anymore, now is it? Bringing up an old suggestion, but are you open to an alternative set of header tab names, to not exactly mimic you-know-what

Also, link to the page whose reference you have mentioned is here: https://github.com/PaddlePaddle/DeepSpeech

[2018-02-02 20:32] jetfuel commented on #202
@varunarora The translation goes
Thank you for the tool, It's simple and easy to run. There are just some frontend improvements we can work on.
Take the following graph as an example, sometimes the accuracy curve would drop to zero, and back to normal after a while.
Here is my code snippet, Please take a look if there is any miss-configuration.
I compiled the source code and installed from there.

[2018-02-03 00:29] jetfuel commented on #201
@Superjomn @varunarora  I used the scratch_log as my testing log. I do see extra request sent to the backend server. But I don't see any other requests afterward. Is this expected?

[2018-02-03 01:09] Superjomn commented on #201
yes, that should be the right logic.

[2018-02-03 01:09] #201 closed, assigned to BingBlog

[2018-02-03 01:17] Superjomn commented on #226
![image](https://user-images.githubusercontent.com/328693/35761384-c9b23fd0-08c2-11e8-988d-82d5048060ce.png)

- the height is fixed, so large margin between three patternings, if relative height, it will be more compact.

[2018-02-03 01:19] Superjomn commented on #227
yes.  With four lines in a single scalar, there will be two `red` lines, very hard to distinguish.

[2018-02-03 01:20] Superjomn commented on #241
I think @daming-lu means that the graph should have some interactions, just like TensorBoard's.

[2018-02-03 01:22] varunarora commented on #241
Got it - thanks. If you guys had some unique ideas apart from TensorBoards, do share! We could still use TensorBoard as a baseline.

[2018-02-03 01:23] varunarora commented on #227
Got it - thanks for the clarity @Superjomn!

[2018-02-03 01:23] varunarora commented on #226
Much clearer, thanks for this.

[2018-02-03 01:26] Superjomn commented on #244
Hash here just works as a filename generator for a `BinaryRecord`, and it has some bugs, for example, if two image components add two same image records, these two records will be saved to one same file called `daffa`(a hash code), if any image component update this record, it will delete the `daffa` file even another image component still needs it.

So I think a simple but bug-free way is to defi

[2018-02-03 01:28] varunarora commented on #190
@jetfuel Could you kindly give us an English description of this issue?

[2018-02-03 01:29] varunarora commented on #202
Thank you very much, @jetfuel!

[2018-02-03 01:34] jetfuel commented on #190
@varunarora
Title: Running mnist gpu version through docker, Will get error when adding log writing module.

source code: https://github.com/dzhwinter/benchmark/blob/master/fluid/mnist.py
Use vdl_scratch.py as the reference to add Scalar log.

[2018-02-03 01:37] varunarora commented on #147
I believe this has been resolved with the frontend guide in #234

[2018-02-03 01:37] #147 closed, assigned to nobody

[2018-02-03 01:38] varunarora commented on #90
Is this still a task item or can we close this for now @jacquesqiao?

[2018-02-03 01:38] varunarora commented on #128
@Superjomn Was this resolved?

[2018-02-03 01:40] varunarora commented on #101
Identical to #212?

[2018-02-03 01:40] #101 closed, assigned to nobody

[2018-02-03 01:41] varunarora commented on #76
@Superjomn If this is still unfixed, what refactoring do you anticipate needs to be done?

[2018-02-03 01:43] varunarora commented on #170
Identical to #71

[2018-02-03 01:43] #170 closed, assigned to nobody

[2018-02-03 01:44] varunarora commented on #43
Discussion transitioned into #212

[2018-02-03 01:44] #43 closed, assigned to nobody

[2018-02-03 01:47] varunarora commented on #69
@Superjomn Is this still a requirement? If so, should be resolved alongside #239

[2018-02-03 01:50] varunarora commented on #2
@jacquesqiao Can you give us an update on the status of this and what needs work (apart from the click interactions stuff)?

[2018-02-03 01:51] varunarora commented on #190
Thank you @jetfuel!

[2018-02-03 01:54] varunarora commented on #20
@Superjomn Where are we on this?

[2018-02-03 01:57] varunarora commented on #12
@Superjomn So it needs to render negative values?

[2018-02-03 02:01] varunarora commented on #10
@jetfuel Could use some help here too :)

[2018-02-03 02:03] varunarora commented on #9
I am guessing this is for scalar records. So you think this should be a config instead of the developer controlling it with their own logic?

[2018-02-03 02:12] jetfuel commented on #10
@varunarora The Scalar page will experience some delay when loading excess amount of data.
The SDK should implement some algorithm to avoid this case.

[2018-02-03 06:24] Superjomn commented on #12
yes, I think scalar just draw a line, no matter negative or positive.

There seem some bugs originally, haven't tested negative value on the current SDK.

[2018-02-03 06:25] Superjomn commented on #20
This plan is not carried out.

[2018-02-03 06:26] Superjomn commented on #69
no, it's not important in the current stage.

[2018-02-03 06:26] #69 closed, assigned to nobody

[2018-02-03 06:27] Superjomn commented on #76
I's done.

[2018-02-03 06:27] #76 closed, assigned to nobody

[2018-02-03 06:27] Superjomn commented on #128
It is fixed.

[2018-02-03 06:27] #128 closed, assigned to nobody

[2018-02-03 10:57] #216 closed, assigned to nobody

[2018-02-04 03:27] harryprince opened #252 "Support Mxnet in R"

[2018-02-04 15:02] dzhwinter commented on #239
Our needs come out from the status:
1. The flask server web page can only response a few request simultaneously. Use flask as the backend is fragile.
2. Our training dashboard can be shown after the training job is finished, means that we can only provide the static web page without dynamic load or refresh logic.

@cs2be  suggested that we can provide a static web page feature, is it a visible way

[2018-02-05 21:41] varunarora opened #254 "Install everything in virtualenvs"
Most of the documentation doesn't recommending installing wheels in `virtualenv`s. It should be the recommended way.

[2018-02-05 21:43] varunarora commented on #252
@harryprince First of all, it's an honor! Very excited about you and Meghan Markle.

Second, are you asking for a logging integration for when mxnet is written in R? That doesn't seem to be on our current near future plans, unless there is a bigger need from more people.

Everyone else: please respond here with a comment if you are looking for an R API too.

[2018-02-05 21:50] varunarora opened #255 "On doc for build locally, specify correct path for scratch program"
`vdl_scratch.py` -> `demo/vdl_scratch.py`

[2018-02-05 22:04] varunarora opened #256 "Documentation to develop for server side"
@jetfuel suggested that we can just run the server using `python visualdl/server/visualDL`. Perhaps this should be added to the documentation.

[2018-02-05 22:52] jetfuel commented on #255
@varunarora The VisualDL package will install the command `vdl_scratch.py`.
Therefore, a user can execute the `vdl_scratch.py` anywhere.

I agree with you, this seems confusing. any suggestion?

[2018-02-05 22:56] varunarora commented on #255
Ahaa!! Makes sense now.

Yes, well, we should probably not place /visualdl/server in the path, but instead have a symbolic link to `visualDL.py` (note the rename) from a link `visualDL`.

And if the user is expected to run a Python script, it doesn't make sense the have them execute a .py from a dir that's not where they are. Either a linked command approach (`visualDL generate_scratch_data`) or a

[2018-02-05 23:04] jetfuel opened #257 "The image graph demo gif in README is showing Scalar demo as well."
The gif of image-demo also shows scalar on the top. This is confusing to the users. They might think the Image graph should display scalar charts as well.

This is the link to the troubled gif
<img src="https://raw.githubusercontent.com/daming-lu/large_files/master/loss_image.gif" width="60%"/>

[2018-02-05 23:15] varunarora commented on #257
Agreed.

[2018-02-06 00:00] #254 closed, assigned to nobody

[2018-02-06 00:45] varunarora commented on #256
Nvm, I think this takes care of it `./scripts/setup_dev_server.sh` and it is already in the documentation

[2018-02-06 00:45] #256 closed, assigned to nobody

[2018-02-06 09:59] cs2be opened #261 "Binary Record sometimes gets saved with an empty filename"
If user stops a training abruptly (by SIGHUP or SIGKILL), then the binary record filename maybe empty.

[2018-02-06 18:46] jetfuel commented on #257
@daming-lu Do you have the original image gif?

[2018-02-06 19:11] jetfuel commented on #12
![screen shot 2018-02-06 at 11 11 08 am](https://user-images.githubusercontent.com/1093725/35878865-7556ba42-0b2e-11e8-9a68-fa3e9525fab7.png)

@Superjomn Don't we already show the negative value?

[2018-02-06 19:14] #255 closed, assigned to jetfuel

[2018-02-06 19:34] cs2be commented on #179
One possible reason is when you run cmake, it locates the incorrect python library for your python interpeter.  You can see this in the console:

[code]

Default macOS python is different from those supplied by brew or macports.  A work around to this issue is to configure the PYTHON_LIBRARY and PYTHON_INCLUDE_DIR when running CMAKE:

[code]

[2018-02-07 08:46] jacquesqiao commented on #247
@varunarora https://www.tensorflow.org/programmers_guide/embedding  this is a good reference. Embedding visualization is very useful to understand word to vector.

[2018-02-08 08:55] llxxxll commented on #257
I have the same doubts before running localdemo.

[2018-02-08 18:22] cs2be commented on #244
Fixed in https://github.com/PaddlePaddle/VisualDL/pull/260

[2018-02-08 18:22] #244 closed, assigned to Superjomn

[2018-02-08 18:22] cs2be opened #263 "Transition from Sans to Vue"

[2018-02-15 12:33] ismailadjimera opened #269 "VisualDL installation issue in Windows"
Hi guys
I have an issue when trying to install VisualDL in anaconda. After cloning the git, when I run this code:
pip install --upgrade dist/visualdl-*.whl

I got this error: Requirement dist/visualdl-*.whl looks like a filename, but the file does not exist

[2018-02-15 19:01] varunarora commented on #269
Thanks for letting us know, @ismailadjimera. Have you built VDL from source? You need to do that only if you are building VDL locally - if not, you should just use the standard pip package.

May I ask what framework / project you are working on here?

[2018-02-15 19:25] ismailadjimera commented on #269
Thanks for answering.
I try to use the standard pip package but I get issues like this one:
TypeError: parse() got an unexpected keyword argument 'transport_encoding' that's why I try to clone the git.

I 'm not working yet on a particulary project here

[2018-02-15 20:01] varunarora commented on #269
Ahaa. That's a real bug. Could you perhaps paste some info on what system you are working on? And if you still have a stack trace on you, if you could paste that, it would be awesome!

[2018-02-19 14:06] harryprince commented on #217
I am using py27, but the same issue.

Python 2.7.13
OS X El Capitan 10.11.5

I can search visualdl, however fail to install it by pip.

[code]

[code]

result :

[code]

[2018-02-19 14:51] cs2be commented on #217
Hi Harry, currently we have packages for macOS 10.12 (Sierra) and above.  Please build the VisualDL from source if you need to run on El Capitan.  Thank you.

[2018-02-22 05:01] jacquesqiao commented on #90
we can close it now~

[2018-02-22 05:01] #90 closed, assigned to nobody

[2018-02-22 05:07] daming-lu opened #275 "Support Python3"
This need is asked on the forum:

https://www.zhihu.com/question/266695642

[2018-02-22 17:05] varunarora commented on #275
Duplicate of #175.

[2018-02-22 17:05] #275 closed, assigned to nobody

[2018-02-24 09:51] daming-lu commented on #257
https://github.com/PaddlePaddle/VisualDL#image

[2018-02-24 09:51] #257 closed, assigned to daming-lu

[2018-02-27 01:08] jetfuel commented on #269
`pip install --upgrade dist/visualdl-*.whl` is an example command. The setup.py should create an wheel file under the dist folder. for example: `visualdl-0.0.1a2-cp27-cp27m-macosx_10_13_intel.whl`. Please try to install the wheel with your generated file.

[2018-02-27 10:40] oraoto commented on #175
我改了一个[Python 3版本的](https://github.com/oraoto/visualDL/tree/feature-py3)，已经可以跑起keras的demo，再完善一下就发个PR。

[2018-02-27 10:52] Superjomn commented on #175
@daming-lu @jetfuel  可以帮看下

[2018-02-27 12:36] jacquesqiao commented on #175
@oraoto 太赞了，期待

[2018-02-27 13:18] ismailadjimera commented on #269
I try to generate the wheel using the setup.py, but it said that I have to install nmp, bash, cmake, unzip which i have done, but I still got the error telling me that I should install unzip.

![capture](https://user-images.githubusercontent.com/20044937/36730806-f78944e4-1bc8-11e8-95cd-e6d20d784da5.PNG)

[2018-02-27 22:23] jetfuel commented on #261
@cs2be What do you mean empty filename? Is the log file created but with a broken filename or the file is not even created?

VisualDL should create the log file associated with log entry upon initializing the log type
For example,  `scalar0 = loggerWriter.scalar("scalars/scalar0")` will create a file `<run_name>%scalars%scalar0` with zero entry right away.

[2018-02-27 22:33] jetfuel commented on #231
@Superjomn Can you share what's our current WHL package build process? I can take the commands and see if we can turn it into a script. I am not familiar with the Pipy. It's best if I can do a dry run with manual commands first.

[2018-02-28 03:20] Superjomn opened #284 "Improve backend performance"
Currently, some implementation of the backend is naive, work not slow. For that, the user will embed backend SDK into their training phase, and the backend will be triggered frequently, so the logger's performance is crucial.

A rough look at the details, there are several modules should be tuned, I list them based on the importance order:

1. `storage/Storage::PersistToDisk`, this method will sav

[2018-02-28 11:46] oraoto commented on #178
This could be fixed by adding a `#include <functional>`, which include in PR #286 .

[2018-03-02 18:31] jetfuel opened #289 "The API documentation is empty on http://visualdl.paddlepaddle.org/"
The API documentation build fails on Travis-CI. This might be an environment issue.
One way to fix it is to build the documentation in a docker image.

[2018-03-05 07:22] Chakri-V-V opened #291 "Tensorflow or Keras support / examples"
Hey , Am trying to install VisualDL but the following message pops up

Collecting visualdl
  Could not find a version that satisfies the requirement visualdl (from versions: )
No matching distribution found for visualdl

When does your support with Tensorflow or Keras start ?

[2018-03-05 07:46] varunarora commented on #291
Hey @Chakri-V-V, can you tell us what pip command you used to install `visualdl`?

As far as TF, we don't have anything planned for now. Have you tried TensorBoard?
As far as Keras, @daming-lu, do we have an examples?

[2018-03-05 09:08] Chakri-V-V commented on #291
pip install --upgrade visualdl
is the command am using . Neither is it working on virtual env , not even with the steps mentioned to install locally .
No , I shall have a look with TensorBoard . Can you help me out with the same .

[2018-03-05 20:21] varunarora commented on #291
@Chakri-V-V Are you using Windows? We don't seem to support Windows and old versions of MacOS yet (before 10.12). BUT we should (a) add that note to our documentation, (b) support windows!! Sorry about that.

Here is info on TensorBoard: https://www.tensorflow.org/programmers_guide/summaries_and_tensorboard. Should be easy to get started with `pip install tensorboard`

[2018-03-06 00:28] #175 closed, assigned to daming-lu

[2018-03-06 06:39] TuXiaokang commented on #206
try `brew install protobuf`,  then rebuild.

[2018-03-06 06:48] daming-lu commented on #291
@Chakri-V-V : Thanks for your interest in VisualDL. We do support Keras. Please find the tutorial [here](https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/keras/TUTORIAL_CN.md)

[2018-03-06 09:15] luchensk commented on #206
@TuXiaokang I ran as you mentioned as above, and it looks better but still failed after [ 64%], as follows:

[code]

[2018-03-06 09:17] luchensk commented on #206
My protobuf version is 3.5.1 and use the latest version of VisualDL from master, as below:

[code]

[2018-03-06 09:25] TuXiaokang commented on #206
@luchensk have you update repo to last commit?

[2018-03-06 09:56] luchensk commented on #206
I removed the repo(still failed if I used by `git pull` to update) and then re-cloned. Now it works, thanks.

[2018-03-06 19:43] varunarora commented on #291
@daming-lu Could we have an English version of that tutorial please?

[2018-03-07 02:49] #289 closed, assigned to jetfuel

[2018-03-07 19:22] varunarora commented on #269
@ismailadjimera Sorry about that - let us try to replicate this is on Windows and get back to you.
cc: @jetfuel

[2018-03-07 19:33] nickyfantasy commented on #203
Empty records issue resolved in https://github.com/PaddlePaddle/VisualDL/pull/298

[2018-03-07 22:45] jetfuel commented on #291
@varunarora This PR will expose the English version of the Keras tutorial. https://github.com/PaddlePaddle/VisualDL/pull/300

[2018-03-07 22:52] #12 closed, assigned to nobody

[2018-03-07 23:11] varunarora commented on #291
@jetfuel Oh man that is amazing. Here you go @Chakri-V-V: https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/keras/TUTORIAL_EN.md

[2018-03-08 08:50] leaf918 opened #301 "mac 直接报错"
百度人，本想试用下deep learning visualization的强大（pytorch ），结果 一装，直接报错，先不说什么原因,直接删除了，第三方库兼容问题不想找什么原因。

[2018-03-08 23:52] varunarora commented on #301
@jetfuel Translate please?

[2018-03-09 03:02] leaf918 commented on #301
@varunarora Once I install visualDL on my mac book,and try it ,while Got an error.
I dont wanna paste the error info,I almost cannot error for the first time while try other 3rd part python lib .

[2018-03-09 06:18] beleev opened #305 "Build error on standard ubuntu"
Description:    Ubuntu 16.04.1 LTS
Release:        16.04
Codename:       xenial
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)
![2018-03-09 2 17 42](https://user-images.githubusercontent.com/3471605/37193402-aa17956a-23a4-11e8-9c59-cc1286740962.png)

[2018-03-09 20:12] jetfuel commented on #305
Hi @beleev,
  Thank you for the feedback. It seems that the compiler is not able to parse the pybind sphinx documentation syntax. One way to fix is to switch the C compiler and  CXX compiler to  Clang. That should resolve the error. Sorry for the inconvenience.

[2018-03-11 02:33] yeyupiaoling opened #307 "Python fluid import error"
I import fluid is this line, This is new Fluid:
[code]
No error info,only this line:
[code]

[2018-03-12 09:21] beleev commented on #305
Thanks, it works

[2018-03-12 09:21] #305 closed, assigned to nobody

[2018-03-12 12:36] yeyupiaoling opened #308 "PaddlePaddle的例子运行不起来"
我尝试运行了PaddlePaddle的demo，但是运行不起来，因为PaddlePaddle的Fluid版本的接口是在
[code]

[2018-03-12 18:51] varunarora commented on #307
@yeyupiaoling We shall look at this. Is #308 identical?

[2018-03-13 00:36] varunarora commented on #307
Hey @yeyupiaoling, have you followed the instructions to install PaddlePaddle on your computer before running this script? VisualDL unfortunately won't install this for you automatically.

These instructions are available on the PaddlePaddle website paddlepaddle.org.

[2018-03-13 00:37] #308 closed, assigned to nobody

[2018-03-13 00:52] nickyfantasy opened #313 "Cannot do data select zoom when "wall" horizontal axis is selected (EChart related issue)"
Reproduce steps: In Scalar, choose "wall" units as horizontal axis, try to drag on the chart to select zoom in.

Expected Results: Should be able to zoom in for selected region.

Actual Results: Not able to zoom in and gives following error:

[code]

[2018-03-13 00:55] nickyfantasy commented on #263
Completed. PR https://github.com/PaddlePaddle/VisualDL/pull/281

[2018-03-13 00:55] yeyupiaoling commented on #307
@varunarora
Hi, I tried this demo, no problem.
[code]
And my PaddlePaddle is no problem too.

I think the problem is an new Fluid can't ues in VisualDL,

[2018-03-13 00:55] #263 closed, assigned to jetfuel

[2018-03-13 00:58] varunarora commented on #307
@yeyupiaoling Got it - we are looking into it!

[2018-03-13 01:11] yeyupiaoling commented on #307
@varunarora
I got newest PaddlePaddle in this doc:http://paddlepaddle.org/docs/develop/documentation/en/build_and_install/build_from_source_en.html

[2018-03-13 01:18] varunarora commented on #307
@yeyupiaoling Yeah your probably right, we are talking to the core team right now to see what happened

[2018-03-13 02:23] yeyupiaoling commented on #307
@varunarora
I found import different order will happen different error, like:
[code]
and
[code]

[2018-03-13 03:02] zhangguangzhi opened #315 "RuntimeError: [/build/VisualDL/visualdl/storage/storage.cc:43]"
I am using VisualDL and I get the following error. How should I troubleshoot

 File "/usr/local/lib/python2.7/dist-packages/visualdl/python/storage.py", line 141, in scalar
    return type2scalar[type](tag)
RuntimeError: [/build/VisualDL/visualdl/storage/storage.cc:43]

[2018-03-13 05:55] varunarora commented on #307
That is really strange... @jetfuel probably has some views on this

[2018-03-13 11:06] realsnake opened #316 "Mac run error info"
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/visualdl/__init__.py", line 5, in <module>
    from .python.storage import *
  File "/Library/Python/2.7/site-packages/visualdl/python/storage.py", line 3, in <module>
    from visualdl import core
ImportError: dlopen(/Library/Python/2.7/site-packages/visualdl/core.so, 2): Library not loaded: /usr/local/opt/python/Framewo

[2018-03-13 23:11] jetfuel commented on #315
@zhangguangzhi Looking at the code history. I think storage.cc:43 is as following
[code]
Maybe you were trying to create a new Scalar Writer with the same `tag` name within the same `mode`
Try change the  `mode` name like this
[code]
Hope this helps

[2018-03-13 23:13] jetfuel commented on #316
@realsnake Thank you for the feedback. Is this within the Virtualenv ? Using Virtualenv should help to isolate the environment.

[2018-03-14 00:40] nickyfantasy commented on #227
This is the list we have now:
![pasted image at 2018_03_12 06_05 pm](https://user-images.githubusercontent.com/985199/37377187-adb9aa3e-26e5-11e8-8b90-3b00cdb170fb.png)

[2018-03-14 00:43] nickyfantasy commented on #227
The original list does not have a sequence of different Hue contrast, also saturation and brightness level are not consistent, it will be very difficult to distinguish.

[2018-03-14 00:46] nickyfantasy commented on #227
Proposed change:

The idea is following:
-keep contrast of Hue level
-alternate between warm/cold colors
-keep saturation and brightness similar
-avoid neutral color like black/gray/white
-avoid color too bright like yellow that obscures by background

<img width="275" alt="screen shot 2018-03-13 at 5 37 31 pm" src="https://user-images.githubusercontent.com/985199/37377261-0e39bcc8-26e6-11e8-83fb-

[2018-03-14 01:09] zhangguangzhi commented on #315
@jetfuel Thank you, this is the reason.

[2018-03-14 01:09] #315 closed, assigned to nobody

[2018-03-14 02:13] yeyupiaoling opened #319 "I run demo vdl_create_scratch_log happen error"
I install VisualDL
[code]
And then run
[code]
error log:
[code]

[2018-03-14 02:30] realsnake commented on #316
@jetfuel No, it's normal environment. Do you have any suggestion to solve my problem?

[2018-03-14 02:47] zhangguangzhi opened #320 "Can't show scalar"
My program uses main() to call the trained function train(), which I have in my train function. Here is my program file. When I executed, there was no expected result, Can't show scalar.

![1](https://user-images.githubusercontent.com/29686413/37380733-fa287e92-2774-11e8-982b-6438810e924a.jpg)
![2](https://user-images.githubusercontent.com/29686413/37380734-fa6462f4-2774-11e8-8ef5-6089bbde81c7.jpg

[2018-03-14 02:50] zhangguangzhi commented on #320
Chinese：我的程序是使用main()来调用训练的函数train()，我在我的train函数，以下是我的程序文件。当我执行时，没有出现预想的结果，图形可显示step，但是无法显示值。
而且只能查看到最后一个step

[2018-03-14 04:27] jetfuel commented on #316
@realsnake Try to use Virtualenv to create an environment first. and then install the visualdl again. Hopefully, that will help.

[2018-03-14 04:31] jetfuel commented on #319
@yeyupiaoling Sorry for the inconvenience. Try simply typing `vdl_scratch.py` or `vdl_scratch`.
We changed the script name and update the documentation, but the pip version still uses the old code.

[2018-03-14 04:40] jetfuel commented on #320
@zhangguangzhi It seems that the t_loss was not updated. You can try to generate some fake logs manually to check if the visualDL is working
[code]

[2018-03-14 04:44] yeyupiaoling commented on #319
@jetfuel
OK! Thank you~

[2018-03-14 04:44] #319 closed, assigned to nobody

[2018-03-14 04:54] yeyupiaoling commented on #307
@varunarora @jetfuel
You can try my code:https://github.com/yeyupiaoling/TestVisualDL/blob/master/code/TestVisualDL.py
And you should see these log:
[code]

[2018-03-14 05:29] yeyupiaoling commented on #320
@zhangguangzhi
My program happen this problem just now. You can try again. close VisualDL, and then start again.

[2018-03-14 05:37] zhangguangzhi commented on #320
@jetfuel  Virsualdl is normal
![image](https://user-images.githubusercontent.com/29686413/37385002-df68f60a-278c-11e8-8875-73fe4d0a13f0.png)

[2018-03-14 05:53] zhangguangzhi commented on #320
@jetfuel
I modified my code, trained five times, showed the first t_loss for the first time, and finally showed the fifth t_loss. Not a line.
![image](https://user-images.githubusercontent.com/29686413/37385274-5859329a-278e-11e8-9563-8220605b48c8.png)
first train
![image](https://user-images.githubusercontent.com/29686413/37385401-bd960b10-278e-11e8-9dff-9c5860cca404.png)
second train
![image](ht

[2018-03-14 06:43] zhangguangzhi commented on #320
@jetfuel Thank you
I will take out this configuration and it will do.
`logger = LogWriter("./log", sync_cycle=1)
with logger.mode("t_loss") as logger:
    train_loss = logger.scalar("loss/val")`

[2018-03-14 06:43] #320 closed, assigned to nobody

[2018-03-14 06:48] zhangguangzhi opened #321 "How to cancel smoothed in scalar"
![image](https://user-images.githubusercontent.com/29686413/37387203-7e020802-2796-11e8-8de3-8742dbf523a9.png)
As shown, the smoothed curve affects my reading. How should I cancel it
@jetfuel
@varunarora

[2018-03-14 06:55] zhangguangzhi commented on #321
I found a way to not display "smoothed" on the web page, but I still don't understand how this "smoothed" is generated.

[2018-03-14 08:24] yeyupiaoling commented on #307
@varunarora @jetfuel
I need help.

[2018-03-14 09:26] realsnake opened #322 "visualDL --logdir ./random_log --port 8080 error"
Traceback (most recent call last):
  File "/usr/local/bin/visualDL", line 14, in <module>
    import visualdl.server.graph as vdl_graph
  File "/usr/local/lib/python2.7/dist-packages/visualdl/server/graph.py", line 9, in <module>
    from . import onnx
  File "/usr/local/lib/python2.7/dist-packages/visualdl/server/onnx/__init__.py", line 8, in <module>
    from .onnx_pb2 import ModelProto
  File "

[2018-03-14 17:44] jetfuel commented on #320
@zhangguangzhi Ah, I see that you create the logger within the for-loop. To use VisualDL, you only need to create the scalar log writer once. Then use that scalar log writer in your training process.

Also, it is recommended to set your sync_cycle larger if you want to record more data points. Saving to file system is expansive. The team is aware of this and is working to improve the performance.

[2018-03-14 18:19] #227 closed, assigned to nickyfantasy

[2018-03-14 18:36] nickyfantasy commented on #321
@zhangguangzhi There is a slider in the config panel where you can adjust the smoothing value. But right now there is a bug that if you make the smoothing value to be 0, it just uses the default one. Will fix the bug, but meanwhile you can adjust it to like 0.01

[2018-03-15 00:48] varunarora commented on #307
@yeyupiaoling We understand and can promise we are on it. Sorry for the delays - we are trying to do what we can.

[2018-03-15 01:31] varunarora commented on #307
@yeyupiaoling I think there is some issue with your environment / Paddle build. We have tried it on Mac OSXs 10.12s and Python 2.7 and it seems to be fine, including your script.

Can you give us a little info on your environment? Anything other than the air pollution ;)

[2018-03-15 01:34] yeyupiaoling commented on #307
@varunarora
Mac? My environment is `64 bit Ubuntu 16.04`

[2018-03-15 01:39] varunarora commented on #307
@yeyupiaoling Ubuntu is the primary environment in which most people work on Paddle - so you should be fine. Have you tried using it on Docker?

[2018-03-15 01:40] varunarora commented on #307
Again, I think something mainly went wrong during the build process.

[2018-03-15 01:45] yeyupiaoling commented on #307
@varunarora
I not use Docker. And I install VisualDL with this command：
[code]

[2018-03-15 01:48] yeyupiaoling commented on #307
@varunarora
Maybe the problem of my paddlepaddle. Can you get me your paddlepaddle's whl

[2018-03-15 11:42] yeyupiaoling commented on #307
@varunarora
When I build and install locally. I run it successfully. Thank you.

[2018-03-15 11:42] #307 closed, assigned to nobody

[2018-03-15 17:59] jetfuel commented on #322
@realsnake Sorry for the delay. It seems that the Protobuf package is not up to date. You should be able to fix the issue with `pip install --upgrade protobuf` or `pip install --upgrade visualdl`
Thank your for using the tool

[2018-03-15 18:01] #321 closed, assigned to nobody

[2018-03-15 18:42] jetfuel commented on #241
@daming-lu I think you are most ahead in this field so I assigned the issue to you at the moment. We can all help.

[2018-03-15 18:55] jetfuel opened #325 "Research if data can append to a protobuf file"
At the moment, each PersistToDisk function call will trigger `proto.SerializeToOstream(&file);` and its a very expansive operation. The system is rewriting the whole data to the filesystem. This is inefficient and the operation will get more expansive as the data grows.

  We should research if Protobuf allows us to append data into an existing file. That should allow VisualDL to work with trainin

[2018-03-15 19:02] jetfuel opened #326 "The sync_cycle concept is confusing. Can we switch to use a timer?"
sync_cycle is used to determine how often the VisualDL should persist data into the filesystem.  Without extensive documentation, our users won't be able to understand how to choose a proper sync_cycle value to see the real-time Scalar update without impacting the training performance.

We should try some different approach to trigger the `PersistToDisk()`. For example, VisualDL can set a timer of

[2018-03-15 19:06] jetfuel commented on #301
Thank you for trying out the VisualDL and sorry to hear you had some difficulties. If you are willing to help us to improve the user experience. Please kindly let us know what issue you ran into and the error log so we can triage it.

[2018-03-15 19:12] #20 closed, assigned to Superjomn

[2018-03-15 22:25] jetfuel commented on #245
Currently, I envision that users can use this to evaluate their TTS neural-network.
After certain steps/iterations, a user can save an "audio message"  generated by the network from a "specified text". Then VisualDL can display those audios accordingly to the steps so the user can listen to the generated audio to determine the performance of the NN.

[2018-03-16 03:08] zhangguangzhi opened #327 "Use onnx error"
I added onnx configuration in the code, but the runtime has the following error
`Traceback (most recent call last):
  File "main.py", line 401, in <module>
    main()
  File "main.py", line 191, in main
    torch.onnx.export(net, dummy_input, "main.onnx")
  File "/usr/local/lib/python2.7/dist-packages/torch/onnx/__init__.py", line 75, in export
    _export(model, args, f, export_params, verbose, t

[2018-03-16 07:56] zhangguangzhi commented on #327
@jetfuel

[2018-03-16 22:49] jetfuel commented on #325
The C++ Protobuf can use `SerializeDelimitedToOstream` and `SerializeDelimitedToCodedStream ` to append data.

Here is the PR that provides the functionality. https://github.com/google/protobuf/pull/710/files
There are some restrictions. We must maintain the same ostream to write the data. Same practice when reading.

Here is the code snippet.
[code]

[2018-03-16 22:51] varunarora commented on #327
Hey @zhangguangzhi, thanks for reaching out! Unfortunately, this seems like a problem for the Pytorch community and their ONNX generation. So we won't be able to help you much :(

That said, it feels like either the network is not properly configured or some issue with Pytorch's model exporter. Looking at the `master` branch of this particular Python module (https://github.com/pytorch/pytorch/blob

[2018-03-19 01:38] zhangguangzhi commented on #327
But I was able to output pytorch-demo's GRAPHS
Should be a problem with my cnn network reference

[2018-03-19 01:38] #327 closed, assigned to nobody

[2018-03-20 18:07] jetfuel commented on #326
We could just avoid exposing the variable all together. and make the sync_cycle to adjust itself.

[2018-03-20 18:40] jetfuel commented on #246
Allow users to create a new "Text Log Writer" to add record with "step and text".

[2018-03-21 19:20] jetfuel opened #329 "Always missing the last record."
If I add 3 records to a ScalarLogger, the Scalar Reader can only get two records back.

[2018-03-21 20:19] jetfuel opened #330 "Should Provide manual save feature to the users"
Currently the PersistToDisk is trigger automatically.
VisualDL should provide a manual save feature to more advance users.

[2018-03-22 12:33] Feywell commented on #269
I have met the same issue.
I try to use Visual DL on windows 10. But there is not pip package in pypi. And I try to build from source.
I need to install cmake, unzip, bash.
And then , here is another trouble:

' to '0.0.2'
running bdist_wheel
running build
running build_py
++ pwd
+ TOP_DIR='/mnt/e/集群/文件/Visual DL/VisualDL-develop'
+ FRONTEND_DIR='/mnt/e/集群/文件/Visual DL/VisualDL-develop/frontend'
+

[2018-03-22 16:04] oraoto commented on #269
Currently the build script is tailored for Linux / macOS, you have to run the the commands (cmake, msbuild) manually to build the project. I have tried and failed :(

[2018-03-22 23:16] #330 closed, assigned to jetfuel

[2018-03-22 23:17] #326 closed, assigned to jetfuel

[2018-03-22 23:25] #329 closed, assigned to jetfuel

[2018-03-22 23:34] #291 closed, assigned to nobody

[2018-03-22 23:36] daming-lu opened #334 "Add search feature to graph"
Currently, neither Paddle or ONNX supports grouping in the graph data, so no way for VDL to group nodes. Alternatively, we could add a search feature so that users can search for a certain node when the graph is very long and complex.

Better if we can move the focus to the node being searched.

[2018-03-23 01:49] Feywell commented on #269
@oraoto  Thanks for your reply. So, what is the step to build this project manually.
Can you tell me detail?
Thank you again !

[2018-03-23 04:41] oraoto commented on #269
[code]

This builds all third-party dependencies except gtest, and fails on VisualDL：

[code]

[2018-03-23 20:31] jetfuel opened #335 "The Travis build doesn't fail when it should actually fail"
The travis build somehow always exit with 0 (success). and it didn't catch the pitfalls when it needs to be.
For example, the style check didn't pass but the travis still marked it as success.

We need to fix this to avoid troubling code gets into the codebase.

[2018-03-23 20:54] jetfuel commented on #335
fixed by https://github.com/PaddlePaddle/VisualDL/pull/336

[2018-03-23 20:54] #335 closed, assigned to jetfuel

[2018-03-23 23:50] daming-lu opened #339 "Put detailed info on the side once user clicks a node"
Discussed with Thuan and Jeffy. Since [HTML5 canvas has difficulties rendering multi-line labels](https://github.com/cytoscape/cytoscape.js/issues/305), we plan to add node's info on the side once a user clicks a node.

[2018-03-24 00:17] daming-lu opened #340 "Text bug"
once pulled to step 0, the progress bar disappeared. It is a bug on the slider.
A demo is here:

(url removed)

[2018-03-24 08:01] Feywell commented on #269
I try to use VS2015 build like what you said. Also failed as follow:

12>  Building Custom Rule E:/Visual DL/VisualDL-develop/visualdl/storage/CMakeLists.txt
12>  CMake does not need to re-run because E:/Visual DL/Visual_dl_build/visualdl/storage/CMakeFiles/generate.stamp is up-to-date.
12>  Running C++ protocol buffer compiler on storage.proto
12>E:/Visual DL/VisualDL-develop/visualdl/storage : w

[2018-03-26 19:04] jetfuel opened #342 "timestamp display bug"
The time stamp in both image and text are showing incorrect value.
The time stamp always shows some where around 1970 even the record was made around 2017 and 2018.

[2018-03-26 19:20] #322 closed, assigned to jetfuel

[2018-03-26 19:21] #301 closed, assigned to nobody

[2018-03-26 20:23] #340 closed, assigned to jetfuel

[2018-03-26 20:23] #342 closed, assigned to jetfuel

[2018-03-27 01:55] realsnake commented on #322
Thanks， it works.

[2018-03-27 18:35] jetfuel commented on #247
We can possibly divide this issues into smaller tasks
1. Frontend: How can we plot the chart for the embedding? If we were just to create a demo/first version with just 2D, we can use EChart's [Scatter](http://echarts.baidu.com/examples/editor.html?c=scatter-simple). We can easily put dots and label on it.

2. Backend or Frontend (This can be on the both side, but if we were to let user switch red

[2018-03-28 21:43] jetfuel commented on #247
Here are some thoughts on how to persist the data

1. We could mimic what Histogram data does. The histogram record is `(int step, vector<float> data)`. We can change the parameters a bit to `(string label, vector<float> data)` to keep track one single **word**. We might need to modified the proto format to be able to save the label.

2. Create a protobuf message, the suggested format will be
[cod

[2018-03-29 05:58] deqingli opened #346 "mac 上安装 VisualDL 总是装不上"
OS：macOS 10.13
python 环境：
![image](https://user-images.githubusercontent.com/13548221/38072227-ff761d2a-3357-11e8-8b7d-a74a38539af8.png)
安装方式：
![image](https://user-images.githubusercontent.com/13548221/38072257-17d30cac-3358-11e8-9f2b-f731ea79c23b.png)
报的错误：
![image](https://user-images.githubusercontent.com/13548221/38072285-28823280-3358-11e8-8f45-aee8670372f6.png)
后来我又选择如下的这种方式安装：
![image](htt

[2018-03-29 09:23] oraoto commented on #346
Permission denied和Operation not permitted，是不是当前用户权限不够？

[2018-03-29 16:12] daming-lu opened #347 "Add docs for how to install VisualDL in Anaconda"

[2018-03-30 01:39] daming-lu commented on #346
Jeff will work on proper installation for Mac users via brew.

[2018-03-30 07:16] qinghuasun commented on #209
@Superjomn After run the demo pytorch_cifar10.ipynb, and generate a graph using dummpy, but can not display graph in the browser.   How can i  solve the problem? Thanks

onnx as following:
graph(%1 : Float(8, 3, 32, 32)
      %2 : Float(6, 3, 5, 5)
      %3 : Float(6)
      %4 : Float(16, 6, 5, 5)
      %5 : Float(16)
      %6 : Float(120, 400)
      %7 : Float(120)
      %8 : Float(84, 120)

[2018-04-02 07:45] deqingli commented on #346
跟权限没有关系，试了 sudo 也没用

[2018-04-05 19:22] jetfuel opened #364 "Vue component code style standard"
We currently have clang format pre-commit hook to check Python and C++ code format. Vue files aren't checked at the moment. This results many different formats and indentation in the Vue files. This is a problem that we should address.

[ESLint](https://mysticatea.github.io/vue-eslint-demo/) has this demo showing how it can help us to format the code. This tool can be useful. I suggest that we ins

[2018-04-06 19:18] daming-lu commented on #339
https://github.com/PaddlePaddle/VisualDL/pull/358

[2018-04-06 19:18] #339 closed, assigned to daming-lu

[2018-04-07 00:53] daming-lu opened #371 "Clicking node is mutating a prop directly"
[code]

[2018-04-07 00:53] daming-lu opened #372 "Polish SVG downloaded image"
Right now the quality is poor.

![screen shot 2018-04-06 at 5 28 44 pm](https://user-images.githubusercontent.com/5635322/38449398-72752d2c-39c3-11e8-9371-5944d36a310b.png)

[2018-04-08 03:40] sarawon opened #373 "Hdfs Support"
Hi,

Does visualDL support reading from hdfs?

[2018-04-08 12:02] deqingli opened #374 "smooth 参数设为0，依然会有 smooth 效果"
如下图：
<img width="850" alt="smooth" src="https://user-images.githubusercontent.com/13548221/38467184-4660d632-3b67-11e8-9d72-8bed2915d67c.png">

问题描述：当 smooth 参数拖成 0 的时候，依然带有 smooth 效果。

期望结果：
1.  smooth 参数拖成 0 的时候，不再有 smooth 效果。
2. 默认显示原始数据，即 smooth 为0。

[2018-04-09 17:57] jetfuel commented on #364
The ESLint code check is online. We turn off the following three checks in the .eslintrc.js setting.  The ESLint doesn't parse the `debounce` code syntax well and it will emit error around that section. We had to turn them off to keep the process going.

[code]

[2018-04-09 17:57] #364 closed, assigned to jetfuel

[2018-04-09 18:00] jetfuel commented on #373
Hi @sarawon
Thank you for asking. VisualDL is currently using Protobuf to store data. We didn't make any plan on supporting HDFS.

[2018-04-09 20:26] jetfuel commented on #374
https://github.com/PaddlePaddle/VisualDL/pull/375 fixes this issue.

[2018-04-09 20:26] #374 closed, assigned to deqingli

[2018-04-10 01:00] daming-lu opened #379 "IOError: [Errno 2] No such file or directory: './testing.wav'"
![screen shot 2018-04-09 at 5 59 28 pm](https://user-images.githubusercontent.com/5635322/38530515-d41552ec-3c1f-11e8-9d8c-26343f8ecd99.png)

[2018-04-10 01:02] daming-lu commented on #379
And when I put a valid .wav file, there is another error like below:

[code]

[2018-04-10 17:41] #373 closed, assigned to nobody

[2018-04-11 00:58] daming-lu commented on #379
https://github.com/PaddlePaddle/VisualDL/pull/382

[2018-04-11 00:58] #379 closed, assigned to nickyfantasy

[2018-04-11 00:59] daming-lu commented on #371
https://github.com/PaddlePaddle/VisualDL/pull/378/files#diff-ad5497f52c0c55700cf7f9e386ba758fL23

[2018-04-11 00:59] #371 closed, assigned to daming-lu

[2018-04-11 00:59] daming-lu opened #386 "SVG to PNG loses CSS styles"
Need to keep CSS integrity while downloading images.

[2018-04-11 16:25] bveliqi commented on #316
Running into the same issue.
I've tried it within two newly created conda python 3.6 and python 2.7 environments.
Any idea?

[2018-04-11 18:13] jetfuel commented on #316
@bveliqi This is a daunting issue to deal with. In OP's case, OP has the following error
[code]
We can see that the first line and the second line points to two different python. Usually creating a virtualenv will solve this issue.

Another way to approach this issue if to build your own wheel and install that.
[code]

Please note the following printout created by camke. All the Python related var

[2018-04-12 02:19] daming-lu opened #390 "Python3 wheel not working"
<img width="893" alt="screen shot 2018-04-11 at 7 16 25 pm" src="https://user-images.githubusercontent.com/5635322/38652926-f213beac-3dbc-11e8-9f05-6f42f44796fc.png">

[2018-04-12 03:24] daming-lu commented on #372
https://github.com/PaddlePaddle/VisualDL/pull/387

[2018-04-12 03:24] #372 closed, assigned to daming-lu

[2018-04-12 03:24] daming-lu commented on #386
https://github.com/PaddlePaddle/VisualDL/pull/387

[2018-04-12 03:24] #386 closed, assigned to daming-lu

[2018-04-12 08:51] bveliqi commented on #316
Thanks @jetfuel for the reply.

Tried installing it myself, failed with the following error:

[code]
Any idea?

I don't use virtualenv. I only work with conda environments. As I said creating totally new conda environments for both python 2 as well as 3 did not help.

[2018-04-13 00:14] jetfuel opened #393 "The Scalar Horizontal relative setting and wall setting is showing incorrect result."
Relative option and Wall option of Horizontal aren't working properly.

The regular step chart
![scratch-scalar 2](https://user-images.githubusercontent.com/1093725/38710325-a8bbce80-3e74-11e8-9302-6ae7b878c13b.png)

The relative chart
![scratch-scalar 3](https://user-images.githubusercontent.com/1093725/38710330-b4a6b82c-3e74-11e8-90a4-caea5a61dd37.png)

The Wall chart.
![scratch-scalar 4](https:

[2018-04-13 22:17] #393 closed, assigned to jetfuel

[2018-04-13 22:48] #246 closed, assigned to jetfuel

[2018-04-13 23:18] jetfuel commented on #2
Close the ticket. This is implemented.

[2018-04-13 23:18] #2 closed, assigned to jacquesqiao, daming-lu, deqingli, BingBlog

[2018-04-13 23:19] jetfuel commented on #31
We have sphinx documentation.

[2018-04-13 23:19] #31 closed, assigned to Superjomn, daming-lu

[2018-04-13 23:22] #178 closed, assigned to nobody

[2018-04-15 08:31] zchrissirhcz opened #396 "Choose download folder; Reuse log data"
First I like VisualDL as a visualization tool during deep learning training and really appreciate your work. As a caffe user, it helps me.

By referring different training schemes, I mean on same dataset and network but different hyperparameters.
In some cases, I would like to compare between different training schemes, so hopes to choose download folder for each scheme's plotted images, thus they

[2018-04-16 09:07] daming-lu opened #397 "Cannot download large graph"
MNIST is OK

`src.src.length
59942`

SQUEEZE_NET is NOT GOOD

`src.src.length
312462`

PS: MNIST.png

![graph 10](https://user-images.githubusercontent.com/5635322/38800003-e3574e54-411a-11e8-8e9f-634478cc9fec.png)

[2018-04-16 19:07] jetfuel commented on #396
Hi @zchrissirhcz Thank you for using the tool.
I am not too familiar with HTML5.  But based on the tiny research I done,  at the moment, HTML5 doesn't really allow Javascript to trigger "save as dialog" for security reason. Usually the "save as dialog" is a browser feature.

The good news is, Google Chrome browser supports this feature. In the `Setting` -> `Show advanced` -> `download`. You can to

[2018-04-16 19:44] zchrissirhcz commented on #396
@jetfuel Thanks for your concrete reply. My question means to re-load the scalar data that saved in my specified log folder, thus I can load different log folders' data for a summary plot and comparison.

[2018-04-16 19:44] #396 closed, assigned to nobody

[2018-04-17 17:57] jetfuel opened #399 "1.0.0 Release Note"
Let's try to make the release easier to adapt by providing a release note.

[2018-04-17 20:16] #399 closed, assigned to jetfuel

[2018-04-17 22:06] jetfuel opened #401 "Update the Keras logo on homepage"
The Keras logo shows `COMING SOON`.
We already have a demo for it. We should update the logo to remove the `COMING SOON`

[2018-04-17 22:08] jetfuel opened #402 "Write a PaddlePaddle with VisualdDL demo"
Write a tutorial of VisualDL to show how we can integrate it within Paddle

[2018-04-17 22:13] jetfuel opened #403 "Adjust the gif animations to make them slower"
The Gif files on the README.md move too quick. I usually can't stare at them over couple seconds.

We need to tune them down by reduce the frame-rate or make the animations slower.

[2018-04-17 22:14] jetfuel opened #404 "Update the README.md's graph animation gif."
We updated the Graph to be interactive. Therefore, we should update the Graph gif file in README.md to show the latest change.

[2018-04-17 22:16] jetfuel opened #405 "Build a docker to demo all components on our website."
Users should be able to access our demo website and play with the demo.

We need to build a docker image that has the latest change and  have our website to host it.

[2018-04-17 22:18] jetfuel opened #406 "Improve Histogram chart"
Improve ECharts Histogram chart.

This is based on the conversation the other day.

[2018-04-17 22:19] jetfuel opened #407 "Add Embedding feature"
- Each log folder should only support one embedding data
- Should support 2D and 3D
- Should be able to switch between TNSE and CPA

[2018-04-17 22:23] jetfuel opened #408 "Update the Documentation structure"
Update the the structure to support the following

- Introduction
   - What is VisualDL
   - Getting Start (Links to take the users to different area)
- Tutorial
   - Installation
   - QuickStart
   - Components
   - Demos
- API
- How to contribute
  - Generate requirements
  - How to develop frontend

[2018-04-17 22:24] jetfuel opened #409 "Write an Audio components tutorial"

[2018-04-17 22:24] jetfuel opened #410 "Write an Text components tutorial"

[2018-04-17 22:26] jetfuel commented on #406
@deqingli Hi. You mentioned before that you would like to improve the ECHART Histogram. Please use this issue to track the progress. Thank you

[2018-04-17 23:06] jetfuel commented on #397
Can't reproduce it at the moment. might be browser memory issue.

[2018-04-17 23:06] #397 closed, assigned to daming-lu

[2018-04-17 23:09] jetfuel commented on #346
Should be solved by the steps in https://github.com/PaddlePaddle/VisualDL/issues/347

[2018-04-17 23:10] #334 closed, assigned to daming-lu

[2018-04-17 23:14] jetfuel commented on #313
@deqingli When you have time, can you take a look of this please?

[2018-04-17 23:22] jetfuel commented on #325
Assign to Nicky. Check if there are other appending example. This should resolve a huge part of https://github.com/PaddlePaddle/VisualDL/issues/284

[2018-04-17 23:26] #241 closed, assigned to daming-lu

[2018-04-17 23:28] jetfuel commented on #242
Users should be able to access our demo website and play with the demo.

We need to build a docker image that has the latest change and have our website to host it.

[2018-04-17 23:28] jetfuel commented on #405
duplicated of https://github.com/PaddlePaddle/VisualDL/issues/242

[2018-04-17 23:28] #405 closed, assigned to daming-lu

[2018-04-18 20:52] daming-lu commented on #346
@deqingli 我们今天尝试了新的版本的安装。在虚拟环境下安装没有问题。具体步骤如下：
(vdl_venv is the virtual environment name of your choice)

`virtualenv vdl_venv`
`source vdl_venv/bin/activate`
`pip install visualdl`
`visualdl --logdir=./`

[2018-04-18 21:02] daming-lu commented on #390
Solved by using `virtualenv`

[2018-04-18 21:02] #390 closed, assigned to nickyfantasy

[2018-04-19 02:46] daming-lu commented on #404
https://github.com/daming-lu/large_files/commit/dfd87807bb5255da96194531ff04590b2d6072bb

[2018-04-19 02:46] #404 closed, assigned to daming-lu

[2018-04-19 02:56] daming-lu commented on #403
https://github.com/daming-lu/large_files/commit/83af221846583efc02743b9acc387681994feffb
https://github.com/daming-lu/large_files/commit/d914a95a86ab53cd33997f6255c0e95db9202993

[2018-04-19 02:56] #403 closed, assigned to daming-lu

[2018-04-19 03:22] marsggbo opened #414 "how to install VisualDL in windows?"
I've tried `pip install --upgrade visualdl`, but got such error

  Could not find a version that satisfies the requirement visualdl (from versions: )
No matching distribution found for visualdl

Then I tried to build from source, but when I run this code: `python setup.py bdist_wheel`, I got such info:

and then

` pip install --upgrade dist/visualdl-*.whl` also faied, the error info is

visualdl-

[2018-04-19 19:13] daming-lu commented on #414
@marsggbo : Thanks for your interest in VisualDL. Sorry that we currently do not support Windows. We now only support Mac and Linux (Ubuntu). In Windows, you can create a virtual environment of Ubuntu inside Windows using tools such as VirtualBox. That way you can install our Linux version. Let me know if I can help in any aspect. Thank you again 😄

[2018-04-20 05:41] zchrissirhcz opened #415 "What is the exactly meaning of `sync_cycle`?"
Hi, I'm using VisualDL to plot loss vs iteration curve during my network's training (including validation), by putting the loss value to scalar objects. However, don't know the exactly meaning of `sync_cycle`, and I often have to wait a long time to see the first plotted points or lines on the web page.

Some details are: I set sync_cycle to 10:
[code]
and I do put loss value to `sc_train_loss` du

[2018-04-20 23:17] daming-lu opened #417 "Histogram baseline can be non-horizontal"
<img width="823" alt="hist_bug" src="https://user-images.githubusercontent.com/5635322/39077394-5e10d8f6-44b6-11e8-96bd-b2c6dca8d69e.png">

[2018-04-21 05:20] Xander23333 opened #418 "'from visualdl import core' ImportError"
<img width="657" alt="2018-04-21 13 16 08" src="https://user-images.githubusercontent.com/23695541/39080670-2da72eee-4566-11e8-9b61-78f1115ea52a.png">

python3导入visualdl模块。
报错说，visualdl中的storage模块导入cure库的时候出错。原因是 image not find。

请问是什么原因?

[2018-04-22 21:42] daming-lu commented on #418
@XanderXu1998 感谢对VisualDL的兴趣。请问您是否在 conda 的虚拟环境下安装的 VisualDL ？ 看到您的 /usr/local/lib，感觉您应该是在Mac上用 brew 安装的 python。不知道您是否能试试 Anaconda？流程在这里：

https://github.com/PaddlePaddle/VisualDL#install-with-anaconda

[2018-04-22 21:45] daming-lu opened #419 "Get audio returns 500 error"
<img width="1665" alt="screen shot 2018-04-22 at 2 38 37 pm" src="https://user-images.githubusercontent.com/5635322/39100205-6029c464-463b-11e8-8e45-48517474d92a.png">

[2018-04-24 00:12] jetfuel commented on #415
@zchrissirhcz Hi, thank you for using VisualDL. The `sync_cycle` is used to calculated when to sync the record to the disk. and currently is not optimized.

VisualDL keep track a counter. Each `add_record` or visualdDL related execution will increase the counter. Once the counter reaches to the `sync_cycle`, VisualDL will write the records to the file system.

Because IO is very expansive, current

[2018-04-24 05:16] zchrissirhcz commented on #415
@jetfuel Thanks for your reply. The `save( )` function you mentioned would be helpful for me to see the plot quickly.

[2018-04-24 05:16] #415 closed, assigned to nobody

[2018-04-25 12:56] zkdfbb opened #423 "do not work with pytorch 0.4"
when using pytorch 0.4 (python3.6.4)

[1]    3893 segmentation fault (core dumped)  python

[2018-04-25 18:50] daming-lu commented on #423
@zkdfbb 感谢您对VisualDL的兴趣。请问您是在Anaconda的Python虚拟环境下安装的VisualDL和PyTorch吗？segmentation fault 大多数是环境不匹配造成的。能否贴一下您的 stack trace？谢谢啦

PS: 我更喜欢韩菱纱 😀

[2018-04-25 22:54] daming-lu opened #426 "Add favicon"

[2018-04-26 00:24] #407 closed, assigned to jetfuel

[2018-04-26 03:43] deqingli commented on #346
@daming-lu @jetfuel  I have tested install with Anaconda and it works well, thanks for your work.

[2018-04-26 03:43] #346 closed, assigned to jetfuel

[2018-04-26 10:20] zkdfbb commented on #423
是的，Anaconda3，用pytorch 0.3的时候还正常，0.4 import的时候就直接退出了。

[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib64/libthread_db.so.1".
Missing separate debuginfo for /home/kai.zhang1/.anaconda3/lib/python3.6/site-packages/numpy/../../../libiomp5.so
Detaching after fork from child process 22368.
Missing separate debuginfo for /home/kai.zhang1/.anaconda3/lib/python3.6/site-p

[2018-04-26 18:05] jetfuel opened #429 "Provide a lower case executable 'visualdl' to keep the user experience consistent."
As DeQing points out.
![f7e945663cb259a59e27c89b6](https://user-images.githubusercontent.com/1093725/39323302-08f3da28-4941-11e8-8504-d11e0fe49039.png)

Our executable is 'visualDL'. but the pip package is 'visualdl'. It is quite confusing actually.

I suggest that we create a symbolic link to support both 'visualDL' and 'visualdl' executable in next release. Once released, we should feel free to

[2018-04-27 02:43] Yancey0623 opened #431 "Build demo Docker image failed"
[code]

[2018-04-27 03:06] daming-lu opened #432 "Merge common part in build process"
dev / prod / release targets of VisualDL share many common code. After gaining more experience of npm and webpack, will try to clean them up and merge common code.

[2018-04-27 04:49] jacquesqiao opened #434 "title will override number if the title is too long"
![image](https://user-images.githubusercontent.com/3048612/39345135-5896bc8e-4a19-11e8-89b9-716eba1b15c3.png)

[2018-04-27 18:50] daming-lu opened #435 "Webpack: why it does not compile the whole thing?"
When running webpack, the `index.<hashcode>.js` is only partially built in the first run (`388 kB`)

![screen shot 2018-04-27 at 11 47 07 am](https://user-images.githubusercontent.com/5635322/39379775-34d285d8-4a11-11e8-8bcc-4d422e7d4507.png)

and later fully compiled (`24.9 MB`)

<img width="797" alt="screen shot 2018-04-27 at 11 47 26 am" src="https://user-images.githubusercontent.com/5635322/39

[2018-04-27 21:30] jetfuel opened #436 "Documentation: How to use Embedding"

[2018-04-27 22:56] jetfuel commented on #431
fixed by https://github.com/PaddlePaddle/VisualDL/pull/438

[2018-04-27 22:56] #431 closed, assigned to nobody

[2018-04-28 10:40] higis927 opened #439 "Build fail with error 'google/protobuf/stubs/common.h' file not found on MacOS"
OS version:
System Version: macOS 10.13.2 (17C88)
Kernel Version: Darwin 17.3.0
Python version: 2.7.10
cmake version: 3.11.0
protoc version: 3.5.1
gcc version: Apple LLVM version 9.0.0 (clang-900.0.39.2)
It failed with the error during running 'python setup.py build as following. It seemes it does not find google/protobuf/text_format.h. However, there is indeed google/protobuf/text_format.h in gcc

[2018-04-28 11:23] yanyan-li opened #440 "找不到 visualDL命令"
大家好，请教一个问题。
ubuntu 16.04. 源码编译， 但是 pip install 成功之后，仍然 找不到 visualDL。
visualDL: command not found

另外，readme上相关的link ”you can still start Visual DL by starting the dev server _here_“失效。

[2018-04-28 16:44] hackiey commented on #423
同样遇到了这个问题，torch和visualdl单独import都可以成功，一旦先import其中一个，再import另一个就会报segmentation fault的错误，0.3.1的时候是没有问题的，升级完0.4就不能行了

[2018-04-28 19:55] qbx2 commented on #316
I think the issue comes from: https://github.com/PaddlePaddle/VisualDL/blob/9ad1e5a2eac9b0c6f9f2c1820bd8ec00e9cf1779/docs/release/build.sh#L52-L60
core.so in VisualDL tries to load /Library/Frameworks/Python.framework/Versions/3.6/Python which does not exist In my environment.
The path of python should be set properly somehow.

[2018-04-29 09:10] tengerye opened #441 "How to configure in PyCharm"
Hi,
I have successfully installed VisualDL and could import it from shell, however, when I import it from PyCharm:
`from visualdl import LogWriter`

I still get this:
`ModuleNotFoundError: No module named 'visualdl'`.

Any idea how to configure it from PyCharm please?

[2018-04-30 18:40] jetfuel commented on #440
Hi @yanyan-li Thank you for using VisualDL. and sorry for the issue your ran into.

Please try `visualdl` with lower case. If that didn't help with the issue, please try to install the visualdl within a virtualenv or anaconda environment. That will ensure the pip to install the executable on your PATH. Thanks

[2018-05-01 03:57] daming-lu commented on #439
Hi, @higis927 ! Can u try installing VisualDL using Anaconda ? It provides a unified Python environment.

[2018-05-01 03:58] daming-lu commented on #441
Hey, @tengerye ! Can u try `python -c 'import visualdl'` in your terminal? Integrating into PyCharm could be problematic.

[2018-05-01 03:59] daming-lu opened #443 "Ubuntu installation is good, but cannot run"
![screen shot 2018-04-30 at 8 55 24 pm](https://user-images.githubusercontent.com/5635322/39460579-553d5dca-4cb9-11e8-976b-e6dc5a3fff53.png)

[2018-05-01 04:14] daming-lu commented on #443
We can run VisualDL on Ubuntu by installing the official release. But not the dev version. It could be because the `setup.py` script installs some packages that are only working on macOS. Closing it for now as the buggy situation is rare.

[2018-05-01 04:14] #443 closed, assigned to nobody

[2018-05-01 10:09] tengerye commented on #441
Thank you for your reply@daming-lu.

It works fine on the Terminal but remains a problem for PyCharm.

[2018-05-01 21:10] daming-lu commented on #441
@tengerye 👍  I think the problem is the integration between your Python environment and PyCharm. I use PyCharm but have not integrated into the environment yet. I use PyCharm simply as an editor 😄

[2018-05-02 02:00] hyfvincent commented on #423
Is there any update for this issue?

[2018-05-02 18:58] jetfuel commented on #441
@tengerye Typically I would setup my PyCharm by visiting
Preferences-> Project -> Project Interpreter
And then to confirm if the selected interpreter is installed with the package you need. If this doesn't help, I would recommend moving the question to PyCharm community. They can provide more in-depth help.

[2018-05-03 07:20] ValedL commented on #423
Same issue under Virtualenv and Python 2.7..

[2018-05-03 09:14] oraoto commented on #423
Python 3.6.5, PyTorch 0.4 cpu + VisualDL master, 跑了[pytorch_word2vec.py](https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/pytorch/pytorch_word2vec.py)， 没出现 segmentation fault.

看上面的错误信息，好像和openmp有关？

[2018-05-03 09:35] oraoto commented on #423
测试了conda安装pytorch然后安装visualdl，会出现segmentation fault.

[code]

[2018-05-03 10:57] oraoto commented on #423
在测试了在conda环境下编译visualdl，没出现segfault。推测原因是conda的numpy默认使用了mkl，而visualdl的pypi包编译时用的是普通的numpy，所以导致了segfault.

[2018-05-03 11:30] oraoto commented on #423
搞错了，不关numpy、mkl的事，用同一台PC上的virtualenv里编译的visualdl，和conda环境的pytorch一起用是没问题的。

[2018-05-03 12:00] oraoto commented on #423
因为segfault出现在pybind11::detail::make_new_python_type，可能和https://github.com/pybind/pybind11/issues/1262 有关

[2018-05-04 18:28] #441 closed, assigned to nobody

[2018-05-04 19:48] #434 closed, assigned to daming-lu

[2018-05-07 03:10] J-Zhujj opened #446 "WARNING: Do not use the development server in a production environment."
WARNING: Do not use the development server in a production environment.
Launch DL，throw exception，What should I do?

[2018-05-07 13:02] higis927 commented on #439
@daming-lu  I tried it with Anaconda. The error is as following.
+ build_backend
+ cd /Users/amy.sy/code/VisualDL/build
+ [[ -n '' ]]
+ cmake ..
-- Protobuf protoc executable: /Users/amy.sy/code/VisualDL/third_party/install/protobuf/bin/protoc
-- Protobuf library: /Users/amy.sy/code/VisualDL/third_party/install/protobuf/lib/libprotobuf.a
-- Protobuf version: 3.5
-- Configuring done
-- Generating d

[2018-05-07 18:46] daming-lu commented on #446
@J-Zhujj : thanks for your interest in VisualDL. Can you paste the exception or a screenshot? That can help us find the issue better. Thank you 😁

[2018-05-07 22:03] jetfuel commented on #439
@higis927 Hi, thanks for pasting the trace. I think the Cmake is not using the protobuf under your
`/usr/local` and that's why it couldn't find the `text_format.h`. Usually the VisualDL should download the protobuf as an external library and compile it from scratch. I am not sure why it is not doing that in this case.

[2018-05-08 00:03] #436 closed, assigned to jetfuel

[2018-05-08 02:48] higis927 commented on #439
@jetfuel Thanks for your response. Do you mean that I do not need to install protobuf before I install VisualDL? I uninstalled protobuf, and run python setup.py bdist_wheel. The following error is fired:
==========
+ check_duplicated 'vendor.*.js'
+ filename_format='vendor.*.js'
++ ls dist/vendor.5a194f30e1079311fad3.js
++ wc -l
++ awk '{$1=$1;print}'
+ file_num=1
+ '[' 1 '!=' 1 ']'
+ clean_env
+

[2018-05-08 02:55] higis927 opened #447 "Build fail with error 'visualdl/storage/CMakeFiles/binary_record.dir/build.make:61: *** target pattern contains no `%'. Stop.' on Linux"
OS version:
System Version: Linux e18f05531.et15sqa 2.6.32-220.23.2.ali1089.el5.x86_64 #1 SMP Fri Jun 14 10:52:15 CST 2013 x86_64 x86_64 x86_64 GNU/Linux
Python version: 2.7.14
cmake version: 3.11.0
protoc version: I do not installed protoc by myself
gcc version: gcc (GCC) 4.9.2 20150212
The errors are as following:
-- Installing: /tmp/rnn/VisualDL/build/third_party/install/gtest/include/gtest/gte

[2018-05-08 16:09] daming-lu commented on #447
@higis927 Thanks for your interest in VisualDL. 'protoc' is installed automatically by VisualDL. May I know if you use Anaconda or not? Anaconda is suggested to prevent environment conflicts.

[2018-05-09 01:36] higis927 commented on #447
@daming-lu I am installing it on Linux docker.
On Mac os, I install it by Anancoda, but the issue is documented as following:
https://github.com/PaddlePaddle/VisualDL/issues/439

[2018-05-09 22:57] jetfuel commented on #447
@higis927 Sorry for the trouble. It took us a while to debug this. The Cmake version is too new for the protobuf build script. Try downgrading the cmake to version 3.9. and that should resolve the issue for you.

The team will also try to update the protobuf build script asap to be compatible with latest cmake.

[2018-05-10 10:26] topiaruss opened #450 "move the definite article in your logo tag line"
Just say: Visualise Deep Learning.

Good luck, from a native English speaker.

[2018-05-11 00:47] varunarora commented on #450
@topiaruss Of course, 100% agree.

[2018-05-11 22:42] #450 closed, assigned to nobody

[2018-05-14 13:04] ghost opened #452 "Review the whole network states for a single predicted value after a trained model"

[2018-05-14 13:54] ghost commented on #452
We are always not very clear that if the every part/layer of a model is worked well as our original designing purpose. To give a weight related picture is very important after training or in the step of prediction. It is like to classify a single sample in a trained/known model. a weighted map/picture instead of a black box will be more help to understand the model and the input sample. The map/pi

[2018-05-15 00:51] yeyupiaoling opened #453 "Why is there no Graph in PaddlePaddle?"
Graph in all the other dome. like：https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/pytorch/TUTORIAL_EN.md

But no Graph in PaddlePaddle dome. like:https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/paddle/TUTORIAL_EN.md

Can paddlepaddles generate a Graph? Thanks

[2018-05-15 17:42] daming-lu commented on #453
@yeyupiaoling We are working on generating genuine PaddlePaddle graph so that it can be used directly in VisualDL. Right now the solution is to use [paddle->onnx](https://github.com/PaddlePaddle/paddle-onnx) converter.

BTW: I am a big fan of your CSDN blog 🤗

[2018-05-15 23:01] daming-lu commented on #452
@chaostree Thank you Chaostree for your interest in VisualDL. Your suggestion is really valuable to us. You know besides Graph we also provide other components like Histogram, which is really useful at pinpointing gradients exploding/vanishing. Histogram can show weight changes from every iteration/epoch. We will of course consider adding a global network viewer after each prediction.

[2018-05-16 00:19] yeyupiaoling commented on #453
@daming-lu
Woo，vey lucky. Looking forward to the emergence of paddlepaddle graph. And paddle->onnx is a little bit complicated. Thank you for your reply.

[2018-05-19 22:20] #453 closed, assigned to nobody

[2018-05-21 07:26] WangXin93 commented on #418
@XanderXu1998 我也遇到这个问题，然后装完xcode就好了。

[2018-05-23 07:34] zkdfbb opened #457 "step可以支持浮点数么"
现在只支持整数，有计划支持浮点数么

[2018-05-23 18:40] jetfuel commented on #457
Hi @zkdfbb We don't have plans to change steps into float type. It is because step is always Integer type. We can't take 'half' step. So make step Integer type is sufficient.

[2018-05-24 10:32] oraoto commented on #269
[Windows support](https://github.com/oraoto/VisualDL/releases) is comming, feel free to provide feedbacks😃.

[2018-05-27 03:25] varunarora commented on #269
@oraoto We love your contributions! Thank you so much. Kindly let me know if you wish to connect with us to discuss ideas for VisualDL.

[2018-05-29 08:43] oraoto commented on #269
@varunarora I'm not proficient in C++ or Python, just a little contribution to make VisualDL works in my env.

[2018-06-02 11:28] Haninini commented on #446
i also got same warning.
 Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off
Traceback (most recent call last):
  File "/usr/local/bin/flask", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.4/dist-packages/flask/cli.py", line 894, in main
    cli.main(args=args, pro

[2018-06-05 23:31] jetfuel opened #459 "VisualDL fails gracefully without setting "mode""
When configuring the visualdl log writer. The users need to provide "mode" before creating a component writer.
[code]
We should either set a `default` mode or throw an error to the users.

[2018-06-08 01:26] Fankbai commented on #414
为什么不在readme中指出来不支持Windows。这和平台有关吗

[2018-06-11 21:37] jetfuel commented on #459
Correction:
The system is already setting the default mode to `default`.

[2018-06-11 21:37] #459 closed, assigned to nobody

[2018-06-14 09:58] codes67 commented on #446
[code]

[2018-06-17 21:01] kushmilan commented on #446
Same warning.

flask run
 * Serving Flask app "application.py"
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off
Traceback (most recent call last):
  File "c:\users\milan\appdata\local\programs\python\python36-32\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)

[2018-06-21 02:00] seiriosPlus opened #462 "Run VidualDL get Exception"
As the title says:
[code]

[2018-06-21 02:30] seiriosPlus commented on #462
![image](https://user-images.githubusercontent.com/5442383/41694650-dc146ecc-753d-11e8-9222-21fb71d0a6d6.png)

The graph is confusing.

[2018-06-21 08:11] ujsyehao commented on #440
you can
`cd /usr/local/bin`
`./visualDL`

[2018-06-21 10:47] ujsyehao commented on #21
how to use visualDL in caffe?

[2018-06-21 10:48] ujsyehao commented on #21
One way is to use caffe python interface, another way is to modify solver.cpp.
Is it right?

[2018-06-22 02:53] ujsyehao opened #463 "how to use visualDL with caffe"
I have two problems:
1. I can not run C++ SDK demo, I have git clone visualDL and make, then I try to compile c++ sdk example, below is my compile command:
 `g++ a.cpp --std=c++11 -I /home/yehao/VisualDL -L /home/yehao/VisualDL/visualdl/core.so`
But I get errors:
![152](https://user-images.githubusercontent.com/17454232/41755508-5ffecf08-760a-11e8-8f7d-1dd660a6cf27.png)
Can anyone give me some adv

[2018-06-22 02:54] oraoto commented on #462
I can reproduce this error by installing a older version of protobuf: `pip install protobuf==3.3
`.

@seiriosPlus  What's your protobuf verion?

[2018-06-22 03:07] oraoto commented on #462
In https://github.com/PaddlePaddle/VisualDL/pull/286/commits/2559e2513f784fe40382e420a6536028e55508dc , protobuf was bump to 3.5, but we don't specify it in `setup.py`, this leads to the issue.

[2018-06-25 08:01] Superjomn commented on #463
https://github.com/PaddlePaddle/VisualDL/blob/develop/CMakeLists.txt#L81

core.so 里没有打包进所有的 c++的 lib，需要额外链接相关的静态链接库

@daming-lu C++ 的库需要单独发布出来

[2018-06-26 13:55] findmyway commented on #423
Any update?

[2018-06-29 06:55] ujsyehao commented on #463
用g++编译：
`g++ -o out test.cpp --std=c++11 -I/home/yehao/VisualDL/ -I/home/yehao/VisualDL/build/ -L/home/yehao/VisualDL/tmp/ -lsdk -lstorage -lbinary_record -lentry -ltablet -lim -lgtest -lglog -lprotobuf -lgflags -lpthread`
**把所有生成的静态库复制到tmp文件夹下**，用这条命令可以编译成功。

[2018-06-29 07:13] ujsyehao commented on #463
在编译visualDL的时候，**遇到protoc版本的问题**，我本机上的protoc版本是2.6和3.6，其中protoc 3.6是默认版本，g++ test.cpp报错：
`_this file was generated by an older version of protoc, please regenerate this file with a newer version of protoc._ `
又去查看cmake，发现它默认去下载protoc 3.5版本，在**cmake/external/protobuf.cmake**中，我修改了protobuf版本
![154](https://user-images.githubusercontent.com/17454232/42078428-04a9888c-7baf-11e8-853a-fd7f1247554c.png)

[2018-07-02 04:57] findmyway opened #464 "`tags` of `LogReader` return empty if `mode` is not set"
Recently I wrote a [Julia wrapper](https://github.com/findmyway/VisualDL.jl) above VisualDL.

When writing tests, I find that the `tags` method of `LogReader` always returns empty if `mode` is not set.

Just open this issue in case someone else also encounter it.

[2018-07-02 20:54] NKVDL commented on #446
Same

(CodexA) 192:~ NVDL$ flask run
 * Serving Flask app "kerasvis.runserver"
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off
Usage: flask run [OPTIONS]

Error: While importing "kerasvis.runserver", an ImportError was raised:

Traceback (most recent call last):
  File "/anaconda3/envs

[2018-07-03 21:54] daming-lu commented on #464
@findmyway : Thanks for your interest in VisualDL. `mode` is required for `tags`. Let me know if you find this requirement improper.

[2018-07-04 00:42] jacquesqiao opened #465 "the color and the line is not match"
![image](https://user-images.githubusercontent.com/3048612/42250801-1a917528-7f66-11e8-8ea4-1966f6b1daf1.png)

[2018-07-04 04:23] #464 closed, assigned to nobody

[2018-07-05 19:06] #426 closed, assigned to daming-lu

[2018-07-05 19:55] #429 closed, assigned to nobody

[2018-07-05 21:05] daming-lu commented on #463
@ujsyehao 谢谢您的提议。我们会马上把protoc的问题改好~

[2018-07-05 21:09] nickyfantasy commented on #402
Done with https://github.com/PaddlePaddle/VisualDL/pull/427

[2018-07-05 21:49] #402 closed, assigned to nickyfantasy

[2018-07-06 03:10] ujsyehao commented on #463
@daming-lu thank you

[2018-07-12 21:27] nickyfantasy commented on #347
Done

[2018-07-12 21:27] #347 closed, assigned to nickyfantasy, daming-lu

[2018-07-14 17:39] bschley commented on #446
Try to start the server with the development env.

[code]

and then you start the server with:

`$ flask run`

[2018-07-18 04:13] alfredyule78 opened #471 "windows docker容器下安装vdl成功，但是如何进行训练模型监控？"
![default](https://user-images.githubusercontent.com/12423715/42858926-bbaba262-8a83-11e8-9a36-40f303968571.png)
![default](https://user-images.githubusercontent.com/12423715/42858948-caf843a6-8a83-11e8-870e-4de7482b4586.png)
按照官方语句执行失败，该怎么办？

[2018-07-18 09:13] alfredyule78 opened #472 "执行quickstart中python代码报错，TypeError: urlopen() got an unexpected keyword argument 'context'"
![default](https://user-images.githubusercontent.com/12423715/42871806-cedcc472-8aad-11e8-8be0-f0587ddcb714.png)

[2018-07-18 09:14] #471 closed, assigned to nobody

[2018-07-23 01:33] yeyupiaoling opened #474 "在ubuntu使用VisualDL报以下错误"
我使用pip和源码编译都试过了，还是报错，错误日志：
[code]

[2018-07-23 03:27] oraoto commented on #474
protobuf版本问题，`pip list `看看你的protobuf版本是不是小于3.4。

试试在virtualenv里安装visualdl和protobuf==3.5。

[2018-07-23 03:28] oraoto commented on #474
类似的问题: https://github.com/PaddlePaddle/VisualDL/issues/462

[2018-07-23 10:40] yeyupiaoling commented on #474
@oraoto 的确，在安装paddlepaddle-gpu的时候需要的是3.1.0的，所以就错了。谢谢您的回答。

[2018-07-23 10:40] #474 closed, assigned to nobody

[2018-07-23 20:48] nickyfantasy commented on #472
This problem is already fixed in next release version 1.1. Please upgrade end of this week!

[2018-07-23 20:49] nickyfantasy commented on #472
Fixed by https://github.com/PaddlePaddle/VisualDL/pull/473

[2018-07-24 02:27] yeyupiaoling opened #476 "Neither the train nor the test trend chart has the correct step length"
For example, in the loss picture below, it is obvious that there are many times of train. How can we solve this problem?

![image](https://user-images.githubusercontent.com/26297768/43113214-05f90f7e-8f2c-11e8-93b3-00401c10302e.png)

[2018-07-24 04:51] typhoonzero opened #477 "generating multiple scalar graphs in a for loop will cause RuntimeError"
below are my code snippet to genrate the data:

[code]

Reports error:

[code]

[2018-07-25 04:23] alfredyule78 commented on #472
![default](https://user-images.githubusercontent.com/12423715/43179408-5c53fa58-9005-11e8-9370-0e0173f62167.png)
还是没有解决

[2018-07-25 05:49] alfredyule78 commented on #472
weekend，ok

[2018-07-25 05:49] #472 closed, assigned to nobody

[2018-08-01 07:12] Rhyanz46 commented on #446
in flask configuration class add :
`ENV = ""`

like :
`DEBUG = True`

[2018-08-02 21:52] nickyfantasy commented on #41
Done by https://github.com/PaddlePaddle/VisualDL/pull/427. Closed

[2018-08-02 21:52] #41 closed, assigned to nobody

[2018-08-02 22:31] nickyfantasy opened #482 "Group components into Metics / Data"
According to @varunarora design, we will improve design by grouping some components together

[VDL_DesignSpec-1.pdf](https://github.com/PaddlePaddle/VisualDL/files/2255325/VDL_DesignSpec-1.pdf)

- Group Scalars, Histograms into Metrics
- Group Image, Audio, Text into Data(or called Sample, TBD)

Idea of this change is:
- Group similar components to make them more organized and clear
- Scalar and H

[2018-08-02 22:34] nickyfantasy opened #483 "Show / Select Runs in Top bar"
According to @varunarora design,

https://github.com/PaddlePaddle/VisualDL/files/2255325/VDL_DesignSpec-1.pdf

We should show / select runs in top bar.

Runs are global among all components, it makes more sense to put it in a global space.

Mouse hover the runs should show dropdown to select / toggle run.

[2018-08-02 22:36] nickyfantasy commented on #316
Fixed by https://github.com/PaddlePaddle/VisualDL/pull/466.

[2018-08-02 22:36] #316 closed, assigned to jetfuel

[2018-08-06 18:39] nickyfantasy commented on #414
We just released VisualDL for Windows for `pip install --upgrade visualdl` ! Make sure you have Python 3.6 or above

[2018-08-06 18:39] #414 closed, assigned to nobody

[2018-08-06 18:40] nickyfantasy commented on #269
We just released VisualDL for Windows for pip install --upgrade visualdl ! Make sure you have Python 3.6 or above. Thanks @oraoto for contributing

[2018-08-06 18:40] #269 closed, assigned to nobody

[2018-08-07 22:00] daming-lu opened #485 "ResNet50 v2 model cannot be shown"
https://github.com/tensorflow/models/tree/master/official/resnet

ResNet-50 v2 (Accuracy 76.05%)

<img width="1242" alt="vdl" src="https://user-images.githubusercontent.com/5635322/43804916-a472d186-9a52-11e8-8e5a-bf5c3b605bb3.png">

[2018-08-16 18:48] nickyfantasy commented on #483
Done, for screenshot you can see https://github.com/PaddlePaddle/VisualDL/pull/487

[2018-08-16 18:49] #483 closed, assigned to nickyfantasy

[2018-08-23 11:47] leochen86 opened #490 "无法成功运行官网命令"
我使用的是paddle 0.14.0的docker镜像，运行在mac环境，按照官网pip成功安装后，运行vdl_create_scratch_log，visualdl --logdir=scratch_log --port=8080 均以失败告终，请求指导

[root@d1dae57a567d paddleprogram]# vdl_create_scratch_log
[WARNING 2018-08-23 11:44:43,299 vdl_create_scratch_log:221] download ONNX file from https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/mnist_model.onnx?raw=true
Traceback (most recent call last):
  File

[2018-08-23 11:48] leochen86 commented on #490
<img width="637" alt="757780215e776baf2fce9661c34d5481" src="https://user-images.githubusercontent.com/34496954/44523716-77230f80-a70d-11e8-8621-d17faa796943.png">

[2018-08-23 12:06] oraoto commented on #490
paddlepaddle使用的protobuf版本比visualdl需要的旧，安装新版即可`pip install protobuf==3.5.1`，会提示可能不兼容，实际没有影响。

[2018-08-23 15:05] leochen86 commented on #490
你好，请问一定要3.5.1的protobuf版本吗，我今天试过更新到3.6.1,结果还是一模一样的错误信息，请问是否一定要3.5.1版本的protobuf？

[2018-08-23 15:28] oraoto commented on #490
@leochen86 上面有两个错误，第一个是urlopen的，第二个是profobuf的，安装3.6.1后还有第二个错误吗？

[2018-08-23 15:31] leochen86 commented on #490
更新成3.6.1以后，错误依旧，没有任何变化，两条命令都是和原来一模一样的错误

[2018-08-23 15:32] leochen86 commented on #490
[图片]

[2018-08-23 15:35] leochen86 commented on #490
![Uploading e836036b44fcc0c8631a05090359bc91.PNG…]()

[2018-08-23 18:45] nickyfantasy commented on #490
@leochen86 我刚在mac用了paddle 0.14.0的镜像，运行pip install visualdl 再 visualdl --logdir=scratch_log --port=8080  是有相同错误，可是pip install --upgrade protobuf 以后就没有这问题，是不是你有安装其他的protobuf？ 你可以重新docker pull 最新的paddle版本试试还有没有这问题？

[2018-08-24 02:18] leochen86 commented on #490
你好，的确如你所说，更新protobuf之后visualdl能够成功启动了，但是vdl_create_scratch_log命令还是不行，此外，我看说明里面只有一个scalar的代码示例，哪里可以看到展现神经网络权重参数的代码示例？

Successfully installed protobuf-3.6.1
[root@d1dae57a567d paddleprogram]# visualdl --logdir=scratch_log --port=8080
[INFO 2018-08-24 02:16:34,770 visualdl:310]  port=8080
 * Serving Flask app "visualdl" (lazy loading)
 * Environment: production
   WARNING: Do not use the development

[2018-08-24 09:51] leochen86 opened #492 "如何可以正确地通过visualdl histograms展示出神经网络某一层的参数"
你好，我的代码如下所示，但是发现visualdl展现的histograms似乎不是很直观,尤其是对histogram的第二个参数的意义不是很理解，它与参数维度以及展示的图片之间的关系是什么？
with logger.mode("train") as writer:
    param1_histgram=writer.histogram("param1",6)

模型结构如下图，其中要展现的时第一层的参数，也就是12个参数值（输入特征为度=2，输出节点6个）
<img width="645" alt="0b8dd643f201605bc8d5b61f5041ab37" src="https://user-images.githubusercontent.com/34496954/44578351-068bf980-a7c6-11e8-84f8-52c8ad7a6703.png">
实际某次

[2018-08-24 09:59] leochen86 commented on #492
当我代码里面param1_histgram=writer.histogram("param1",6)这样写，运行程序不会出错，但是如果写100就会报如下错误，因此感觉第二个参数很重要，但是不知道什么含义，与对应网络层的参数个数关系什么，图中又如果将网络参数与图中节点对应起来?

例如，当写成param1_histgram=writer.histogram("param1",100)时，会报如下错误，其中蓝色框时当时给它的输入，而红色框是报错信息，而这样的错误在param1_histgram=writer.histogram("param1",6)或者12或者10都不会出现
<img width="637" alt="92cf45c9665e33ac6f0215204f474875" src="https://user-images.githubusercontent.com/3449695

[2018-08-25 03:36] nickyfantasy commented on #490
@leochen86 我查了一下，TypeError: urlopen() got an unexpected keyword argument 'context' 好像是某一python版本的问题。不过urlopen()只是为了下载ONNX file展示而已，我相信scratch_log其实已经创建了，运行visualdl --logdir=scratch_log --port=8080应该看到data了。如果你想用graph来看onnx file, 直接下载 https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/mnist_model.onnx?raw=true，运行visualdl --logdir=scratch_log -m [path to onnx file] --port=8080 就好

[2018-08-25 06:31] leochen86 commented on #490
好的，感谢，我另外还提了一个issue的，关于histogram的，辛苦帮忙也解惑一下

[2018-08-25 12:32] leochen86 commented on #490
@nickyfantasy 按照你的说明，的确可以正确浏览visualdl的所有演示效果了，感谢

[2018-08-25 12:32] #490 closed, assigned to daming-lu

[2018-08-27 03:23] Superjomn commented on #492
@jacquesqiao 这个你有经验，可以帮答下么，或者给个例子

[2018-08-27 21:18] nickyfantasy commented on #492
@leochen86 谢谢你的提问。writer.histogram("param1",6) 在这个参数里6的意思是创建多少个bucket.

譬如说你的data是 [0.5, 1.1, 1.3, 2.2, 2.9, 2.99] ， 创建3个bucket，每个bucket就大概是[0-1], [1-2], [2-3], 然后把对应的data放到bucket里，所以histogram呈现的是第一个bucket有1个，第二个bucket有2个，第三个有3个

代码里面 histogram.h 有一个检查是一定要 数值大于bucket size， 所以如果你只有12个数值,  如果分成超过12个就会报错

[2018-08-27 21:25] nickyfantasy commented on #492
我们的histogram文档确实不清楚，我会多加histogram的例子和api解释

[2018-08-29 08:16] djbyrne opened #493 "python: can't open file 'visualdl\..\visualDL': [Errno 2] No such file or directory"
I have tried to run the example code. I am able to add the loggers to my code and it compiles. However when I run visualdl --logdir ./random_log --port 8080 i receive the following error.

python: can't open file 'visualdl\..\visualDL': [Errno 2] No such file or directory

I am running this on Windows 7 and python 3.6

Any help would be appreciated.

[2018-08-29 09:07] oraoto commented on #493
I can reproduce this problem in Windows 10 cmd.exe and python 3.6, but it works fine in PowerShell.

@djbyrne Please run the command in PowerShell. Currently the visualdl.bat script doesn't work in cmd.exe.

[2018-08-29 09:29] djbyrne commented on #493
Thanks @oraoto ill try that!

[2018-08-29 09:37] oraoto commented on #493
A quickfix is to modify the visualdl.bat:

[code]

I don't think it's a good solution. We should utilize setuptools to generate the proper executable and remove visualdl.bat entirely.

[2018-08-29 10:24] djbyrne commented on #493
Running the command in PowerShell fixed it for me, thank you! Will also try modifying the .bat file

[2018-08-29 10:24] #493 closed, assigned to nobody

[2018-08-29 15:22] leochen86 commented on #492
@nickyfantasy 你好，感谢你的回答，不过我还是有点不清楚,bucket与data大小的关系是什么，例如如果我明确知道某一层的data长度是12，那么histogram的第二个参数应该怎么设置呢？
另外“譬如说你的data是 [0.5, 1.1, 1.3, 2.2, 2.9, 2.99] ， 创建3个bucket，每个bucket就大概是[0-1], [1-2], [2-3], 然后把对应的data放到bucket里，所以histogram呈现的是第一个bucket有1个，第二个bucket有2个，第三个有3个”，这段里面histogram的呈现于bucket的关系是什么？为什么创建3个bucket，每一个bucket里面的数据量会不一样？如果可以的话，能否用图形化的方式解答一下

[2018-08-29 17:43] zzuberi commented on #423
Not sure if this is useful but the latest version of visualdl that works with pytorch is 0.0.1a2.

[2018-09-05 22:23] nickyfantasy commented on #492
@leochen86 histogram柱状图的意思就是把data分类放在bucket里，因为训练的data应该是接近中间平均值的较多，训练越多期望得到的图是越圆滑，有点像正态分布的意思。

[0.5, 1.1, 1.3, 2.2, 2.9, 2.99]  这个例子 0.5放到第一个bucket[0-1]，1.1, 1.3放到第二个[1-2]，2.2, 2.9, 2.9放到第二个[2-3], 如果你只有12个data,那可以试试分4-6个bucket吧

[2018-09-06 10:10] leochen86 commented on #492
@nickyfantasy bucket我明白了，那么bucket的位置和数量在图上是如何对应的，能够画个示意图吗

[2018-09-06 10:26] chmod740 opened #496 "训练次数达到一定次数时，严重的性能问题"
我加载了10个histograms 3个scalars 10个images在训练次数达到6000的时候 histograms 加载速度很慢
 其中 sync_cycle=100  每个step 进行一次add_record

[2018-09-06 23:40] eliyahusternberg commented on #446
I am getting the same error not sure whats going on

[2018-09-06 23:44] bschley commented on #446
`WARNING: Do not use the development server in a production environment.`

Is only a warning. Then means, if you run your site in the world wide web... then don't activate the developement mode on THAT specific server, for security reasons.

And if you added the environment variables make sure you add them as a user or global enviroment varialble... depends of the user you use.

[2018-09-06 23:50] eliyahusternberg commented on #446
I get this error while trying to run the application from Miguel Grinberg

[2018-09-06 23:50] eliyahusternberg commented on #446
flask.cli.NoAppException: Could not import "microblog".

Traceback (most recent call last)
File "/Users/eliyahusternberg/Desktop/sign_in/venv/lib/python3.6/site-packages/flask/cli.py", line 330, in __call__
rv = self._load_unlocked()
File "/Users/eliyahusternberg/Desktop/sign_in/venv/lib/python3.6/site-packages/flask/cli.py", line 317, in _load_unlocked
self._app = rv = self.loader()
File "/Users/

[2018-09-07 00:14] eliyahusternberg commented on #446
Thanks however I still get an import error when I go to
http://localhost:5000/index.

On Thu, Sep 6, 2018 at 7:44 PM, Ben Schley <notifications@github.com> wrote:

[2018-09-14 00:16] #476 closed, assigned to nobody

[2018-09-15 11:34] SwapanpreetKaur commented on #206
It failed when running 'python setup.py bdist_wheel':

/vdl/lib/python2.7/site-packages/setuptools/dist.py:398: UserWarning: Normalizing '1.1.0
' to '1.1.0'
  normalized_version,
running bdist_wheel
running build
running build_py
++ pwd
+ TOP_DIR=/Users/swapan/VisualDL
+ FRONTEND_DIR=/Users/swapan/VisualDL/frontend
+ BACKEND_DIR=/Users/swapan/VisualDL/visualdl
+ BUILD_DIR=/Users/swapan/VisualDL/bu

[2018-09-15 11:35] SwapanpreetKaur commented on #206
It failed when running 'python setup.py bdist_wheel':

@luchensk  @TuXiaokang  Please help

/vdl/lib/python2.7/site-packages/setuptools/dist.py:398: UserWarning: Normalizing '1.1.0
' to '1.1.0'
  normalized_version,
running bdist_wheel
running build
running build_py
++ pwd
+ TOP_DIR=/Users/swapan/VisualDL
+ FRONTEND_DIR=/Users/swapan/VisualDL/frontend
+ BACKEND_DIR=/Users/swapan/VisualDL/visualdl

[2018-09-17 09:44] TuXiaokang commented on #206
@SwapanpreetKaur it seems that you need to install `copy-webpack-plugin` successfully.

[2018-09-17 10:04] SwapanpreetKaur commented on #206
@TuXiaokang
Resolved npm crashed during installation.

[2018-09-19 02:48] SwapanpreetKaur opened #499 "json file loading"
Where to load another json data file for test and train , to reflect changes on front-end side.

[2018-09-24 22:45] nickyfantasy commented on #482
Done

[2018-09-24 22:45] #482 closed, assigned to nickyfantasy

[2018-09-29 06:43] meenusheok commented on #446
In case of window use set at the place of export:-
set FLASK_ENV=development
flask run
and then run your python file

[2018-10-03 00:59] eliyahusternberg commented on #446
Thanks

On Sep 6, 2018 7:44 PM, "Ben Schley" <notifications@github.com> wrote:

[2018-10-09 19:43] #499 closed, assigned to nobody

[2018-10-10 02:18] wdcxc commented on #423
I have encountered the same problem. Is there any solution like downgrade the version of packages except pytorch(0.4)?

[2018-10-10 06:09] qijunbo commented on #446
env FLASK_ENV=development FLASK_APP=hello.py flask run

[2018-10-11 02:05] HotaekHan opened #504 "Can't use with pytorch 0.4.1"
import torch
from visualdl import LogWriter
...
Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)

How can I handle this?
I have also installed from source following guide. then I have no error like that. However I can't see anything from web browser in case.

Thanks

[2018-10-19 23:11] jiayiliu opened #505 "No ONNX model graph displayed, unless there is other logs"
VisualDL renders an empty page if only onnx model is specified without additional logs

The same command:
`visualdl -t 0.0.0.0 -p 8888 -m alexnet.onnx  --logdir log`
creates nothing if log dir is empty.

Wish this is a minor issue to be fixed.

[2018-10-21 15:59] enea1982 commented on #446
hello you can give me a hand on a telegram bot

[2018-10-21 16:00] enea1982 commented on #446
when I start the bot app.py
this screen comes to me
pi@admin:~/fastcoinbot $ python3 app.py
2018-10-21 17:40:27,505 - super-bot - INFO - Starting bot
2018-10-21 17:40:27,505 - super-bot - INFO - Load config
2018-10-21 17:40:27,507 - super-bot - INFO - Connect to Telegram
2018-10-21 17:40:27,510 - super-bot - INFO - Collect modules
2018-10-21 17:40:27,938 - super-bot - INFO - Ready
 * Serving Flask

[2018-11-13 00:36] FiReTiTi commented on #217
Is Python 3 supported now?

[2018-11-14 01:13] ryusaeba commented on #504
trace

[2018-11-20 02:52] nepeplwu opened #506 "工具支持中文展示"

[2018-11-20 06:16] varunarora commented on #217
@FiReTiTi I believe so, from https://github.com/PaddlePaddle/VisualDL/pull/314

[2018-11-20 11:59] #506 closed, assigned to nobody

[2018-11-21 06:37] shanyi15 opened #509 "left navi bar duplicate "安装""
http://visualdl.paddlepaddle.org/documentation/visualdl/zh/develop/getting_started/introduction_cn.html
![image](https://user-images.githubusercontent.com/35982308/48823193-df2fd300-ed9a-11e8-803f-1e96db75a9a7.png)

[2018-11-22 07:16] alittleshell opened #510 "python3"
怎么在mac裸装python3 版本visualdl？

[2018-11-30 08:17] FiReTiTi commented on #217
I still face the same error on Python 3:
Collecting visualdl
  Could not find a version that satisfies the requirement visualdl

[2018-12-10 07:03] nepeplwu opened #512 "VisualDL不支持paddle模型的展示"
VisualDL不支持paddle模型的展示

[2018-12-10 10:00] nepeplwu opened #514 "windows命令行下启动visualdl报错"
windows下安装了visualdl后，启动visualdl，提示"python: can't open file 'visualdl\..\visualDL: [Errno 2] No such file or directory'"

[2018-12-12 01:47] #512 closed, assigned to nobody

[2018-12-12 02:19] nepeplwu commented on #510
在mac上可以用pip进行安装，目前支持python2.7和python3.6两个python版本，同时mac系统必须是10.6以上

[2018-12-13 07:45] nepeplwu opened #517 "visualdl要求protobuf是3.5版本以上，但是paddlepaddle要求是3.1.0，两者无法同时运行"

[2018-12-13 08:33] #517 closed, assigned to nobody

[2018-12-13 08:46] nepeplwu commented on #514
已解决

[2018-12-13 08:46] #514 closed, assigned to nobody

[2018-12-18 00:53] yeyupiaoling opened #520 "Windows上使用VisualDL出错"
# 环境
1. Windows 10 专业版
2. Python 3.5

# 问题
在执行dome的程序时出错，错误如下：
[code]

[2018-12-18 01:40] varunarora commented on #520
Interesting, perhaps someone who has worked on the Windows install needs to look at this

[2018-12-18 05:04] oraoto commented on #520
@yeyupiaoling 使用的VisualDL是哪一个版本呢？从pypi安装的吗？

[2018-12-18 06:08] yeyupiaoling commented on #520
@oraoto 我刚刚使用pip安装的。

[2018-12-18 15:58] oraoto commented on #520
试了Win 10 + Python 3.6，出现同样的问题，可能是pypi上的1.2.1的wheel有问题。

可以先安装1.2.0版本: ` pip install  visualdl==1.2.0`，或者在[这里](https://ci.appveyor.com/project/oraoto/visualdl-windows-build/builds/21081354/job/1mvhtc4vf0cagkly/artifacts)下载最新的版本。

[2018-12-19 01:00] yeyupiaoling commented on #520
成功了，谢谢。

[2018-12-19 01:00] #520 closed, assigned to nobody

[2018-12-19 09:02] oraoto commented on #520
问题出现在protobuf使用了zlib动态链接了zlib.dll，但是wheel里没有打包zlib.dll：

![image](https://user-images.githubusercontent.com/24709398/50209543-046e2c00-03af-11e9-9c3a-c0b247f83c8b.png)

[2019-01-05 16:18] nbro opened #523 "Exception on /data/runs"
### Problem

I am getting the following errors after having executed the command `visualDL --logdir ./log --port 7070` on the terminal and having gone to the URL `http://0.0.0.0:7070/`, under a Conda environment. This occurs before I run my PyTorch program.

[code]

What I see when I go to the mentioned URL:

<img width="1426" alt="screen shot 2019-01-05 at 17 17 22" src="https://user-images.githu

[2019-01-05 16:24] nbro commented on #523
I think the problem was due to the fact that I was not running the command `visualDL --logdir ./log --port 7070` from where the `log` folder is located (which, apparently, must exist before executing the command). I ran the command from the folder containing the `log` sub-folder, after having executed my PyTorch program, and now I'm not getting the error.

I think that VisualDL should not crash on

[2019-01-05 17:20] nbro opened #524 "VisualDL visualizes the plots with some delay"
I first started the VisualDL server using the command: `visualDL --logdir ./log --port 8080`. Then I ran my PyTorch program. I went to the URL `http://0.0.0.0:8080/ `, but I only saw empty plots. Then I forced my PyTorch program to stop. I also stopped the visual DL server. I restarted it, and I went to the same URL and now I can see the plots. Why can't I see the plots in real-time?

[2019-01-05 18:33] nbro opened #525 "Some of the issues or comments are not in English and this limits the immediate usefulness of them"
I suggest to encourage users to write in English. Maybe you can write a warning in the README (or something like that).

[2019-01-05 18:43] nbro opened #526 "Are there any examples of how to use LogReader?"
Please, have a look at https://nbro.github.io/blogging/2019/01/06/an-example-of-how-to-use-visualdl-with-pytorch/, which is a blog post which (also) explains how to use VisualDL with PyTorch.

[2019-01-05 18:53] nbro commented on #524
Actually, after a while, it starts to display something. More or less, in my case, when the second epoch starts (but when exactly?).

Meanwhile, I see that VisualDL is outputting some error messages:

[code]

[code]
or

[code]

Right now, I am just plotting scalars in line plots.

[2019-01-07 14:00] yeyupiaoling opened #527 "在使用VisualDL保存的histogram图，如何分析呢？"
学生使用定义参数
[code]
然后使用获取参数
[code]
最后使用以下方式保存参数
[code]

最后经过训练得到的图像是：
![image](https://user-images.githubusercontent.com/26297768/50744436-2f38fb00-125e-11e9-9186-066fbe91afa7.png)

得到这个图像之后，我应该如何分析呢？能从这个图像中知道什么的？当图像出现那些情况对于的又是那种情况呢？

[2019-01-09 01:22] nbro commented on #523
I noticed that you can also have the error

[code]

but when you read the logging data from the file system using `LogReader` (see an example of how to do it [here](https://github.com/nbro/visualdl_with_pytorch_example/blob/master/read_visualdl_data.py)). You can have this error if e.g. in the statement `logger.scalar("scalars/train_loss")`, `"scalars/train_loss"` was not an "id" or "tag" with whi

[2019-01-09 01:23] nbro opened #528 "Error messages are uninformative regarding the actual error"
See e.g. this comment: https://github.com/PaddlePaddle/VisualDL/issues/523#issuecomment-452523955. I would strongly suggest that you provide more informative error messages to help users figure out the problem.

[2019-01-22 00:35] yeyupiaoling commented on #525
@nbro But it will be more convenient for us to use Chinese.

[2019-01-22 00:58] nbro commented on #525
@yeyupiaoling English is also not my native language. I am aware of the fact that English can be considered, nowadays, the "standard" language in science/tech. It is very unlikely that you will not need to learn English, if you decide to pursue a career in a scientific field.

[2019-01-23 07:30] nepeplwu commented on #527
histogram主要用来记录参数分布的变化趋势，有这么几个方面可以分析下：
1. 参数是否有训练到（从上图来看，参数的分布一直在变化，说明参数确实在学习中）
2. 参数是否出现异常值，如极大的正值或者极大的负值
3. 参数主要分布在哪个区间，是否符合预期（举个例子，当你在Loss中加了正则化项之后，你要验证参数是不是符合预期，可以通过这个查看参数是不是符合正则化之后的性质，从而来判断代码是否实现正确）

[2019-01-23 08:24] nepeplwu commented on #524
hi, nbro, the frequency of data refresh in webpage you can sense depends on two factors, the first is the frequency of data exchange at webpage and server(which is per 15s now), the second is the frequency of data being written to log file(which can control by the sync_cycle parameter). The reason for limiting refresh frequency is that frequent refresh results in high performance costs, especially

[2019-01-23 08:25] nepeplwu commented on #528
hi, nrbo, thank you for your feedback. We will consider adding more valid tips to future versions

[2019-01-23 08:50] nepeplwu commented on #526
Hi, nbro, thank you for your feedback. In our design, the user only needs to use the LogWriter record data, and then use webpage to view the data. Users do not need to use LogReader. We would like to know about your scenario of using LogReader

[2019-01-23 08:58] nepeplwu commented on #523
Hi nbro, thank you for your feedback. We'll add more valid hints in future releases when VisualDL is started with an empty log dir

[2019-01-23 08:59] nepeplwu commented on #523
Hi, nbro, thank you for your feedback. We'll add more valid hints in future releases when VisualDL is started with an empty log dir

[2019-01-23 12:02] nbro commented on #526
@nepeplwu I may need to use LogReader, because the VisualDL plots may not be high-quality when I export them or they may not have the right names on the axes; in that case, I may want to read the data from the logging files and plot it with another tool. To solve this problem, maybe you could provide more sophisticated charts, e.g. whose name can be changed.

[2019-01-24 01:35] yeyupiaoling commented on #527
@nepeplwu 好的，谢谢你的回答，我终于明白了。

[2019-01-24 01:35] #527 closed, assigned to nobody

[2019-01-24 02:04] yeyupiaoling commented on #525
@nbro You're right. So I try my best to use English. But often I don't get the results I want.

[2019-01-24 08:46] nepeplwu commented on #526
@nbro , can you provide an example with a screenshot about "they may not have the right names on the axes" ?

[2019-01-24 10:42] nbro commented on #526
@nepeplwu In general, you may want to change the name of the axes or the title of the chart, after you have performed your experiments, but, at that time, you either use `LogReader` and another plotting tool, or you re-run your experiments.

[2019-01-28 03:04] nepeplwu commented on #526
@nbro , here is an example of using logReader. I hope it works for you
https://github.com/PaddlePaddle/VisualDL/wiki/example-of-LogReader

[2019-01-28 11:25] nbro commented on #526
@nepeplwu You did not read my blog post that I linked you to above. I figured out how to use `LogReader`, and, in that blog post, I show an example of how to use it.

[2019-01-28 11:43] nepeplwu commented on #526
@nbro , I'm a little confused, so the purpose of this post is to help others understand how to use LogReader, rather than want to know how to use LogReader?

[2019-01-28 11:53] nbro commented on #526
@nepeplwu When I opened this issue, I did not know how to use `LogReader`. Meanwhile, I figured it out, and I edited my original post above to include the link to an article that I wrote about the topic.

[2019-02-17 07:07] findmyway opened #530 "Support more scalar data types in server"
While implementing the Julia wrapper #529 , I found that only `float` scalars were shown correctly. Other data types like `double` scalars were not supported. After examing the source code, I find the reason is that the following line in [lib.py](https://github.com/PaddlePaddle/VisualDL/blob/develop/visualdl/server/lib.py#L59)

[code]
just ignores the data type info. The default signature is `read

[2019-02-17 15:33] findmyway opened #531 "Images not shown"
The following code snippet works well with v1.0.0

[code]
![image](https://user-images.githubusercontent.com/5612003/52915198-e61fa080-330b-11e9-9623-6d1656d70710.png)

However, with v1.2.1 the image is missing in the front end.
![image](https://user-images.githubusercontent.com/5612003/52915236-24b55b00-330c-11e9-867b-fe70c2f9aff3.png)

I'm pretty sure that data is saved to the log dir correctly

[2019-02-25 22:05] AndreiChirap opened #533 "Pytorch "TypeError: add_record(): incompatible function arguments" while training the model"
TypeError: add_record(): incompatible function arguments. The following argument types are supported:
    1. (self: visualdl.core.HistogramWriter__float, arg0: int, arg1: List[float])

Here is the code :
###############################################################################
 # histogram
        weight_list = net.conv1.weight.view(6*3*5*5,-1)

        histogram0.add_record(train_step,weigh

[2019-03-04 19:25] idea-launch-lab commented on #533
Same issue while re-creating pytorch demo from:
https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/pytorch/pytorch_cifar10.py

running in Anaconda with python 2.7
[code]

[2019-03-05 12:47] AndreiChirap commented on #533
Try to convert form tensor to numpy, this trick worked for me

[2019-03-08 09:22] MBasarte commented on #533
Hey! This is what I did to get it working but I'm not completely sure if it's correct:

        weight_list = net.conv1.weight.view(6*3*5*5, -1)
        histogram0.add_record(train_step, weight_list.detach().numpy())

        # image
        image1.start_sampling()
        image1.add_sample([96, 25], net.conv2.weight.view(16*6*5*5, -1).detach().numpy())
        image1.finish_sampling()

        im

[2019-03-14 09:25] yeyupiaoling opened #534 "VisualDL graph支持Paddle fluid保存的模型可视化展示？"
我在文档看到的：http://paddlepaddle.org/documentation/docs/zh/1.3/release_note.html#visualdl

是直接显示吗？不需要转换成onnx？

[2019-03-15 02:54] nepeplwu commented on #534
是的，1.3.0版本已经可以直接支持paddle模型的展示了，使用方法为：
1. 在paddle代码中，调用fluid.io.save_inference_model()接口保存模型
2. 在启动命令中，使用 --model_pb [paddle_model_dir] 加载paddle模型

[2019-03-15 03:34] yeyupiaoling commented on #534
@nepeplwu 好的，谢谢。

[2019-03-15 03:34] #534 closed, assigned to nobody

[2019-03-18 03:05] v587su opened #536 "No pip support for python3.7"
I have to rename the file to install.

[2019-03-18 03:15] v587su commented on #536
Rename doesn't work.
Python version mismatch: module was compiled for version 3.6, while the interpreter is running version 3.7.

[2019-03-25 07:15] nepeplwu commented on #536
@v587su ,thank you for your attention. We just released the VisualDL for python3.7

[2019-03-26 07:09] PiotrFaj commented on #536
Hej,
Marku sytuacja na chwilę obecną wygląda następująco:
- z dostarczonych dysków wy separowano pliki odpowiedzialne za wirtaulene
maszyny oraz przekonwertowane pliki tak, aby może utworzyć tymczasowe
środowisko.
- czasochłonność polega na dobraniu sprzetu w taki sposób, aby móc
udzwignośc wszystkie maszyny w tym samym czasie.
Ja szacuje, że do końca tygodnia (jak przy wstępnych założeniach)
środ

[2019-03-30 11:38] yxchng commented on #534
--model_pb does not work. is this a bug?

[2019-03-30 12:01] yxchng opened #538 "Error trying to visualize fluid model"
I got the following error trying to visualize fluid model

[2019-03-30 15:45] yeyupiaoling commented on #534
@yxchng You can use this commad:
[code]

[2019-03-30 15:55] yxchng commented on #505
Have you solved the problem? @jiayiliu

[2019-03-30 15:58] yxchng commented on #534
@yeyupiaoling It does not work. I think the problem is similar to this https://github.com/PaddlePaddle/VisualDL/issues/505 and the log I got is https://github.com/PaddlePaddle/VisualDL/issues/538

[2019-03-30 17:04] #457 closed, assigned to nobody

[2019-04-08 06:15] yxfGrace commented on #316
Hi, has this problem been solved? I have the same problem. Thank you.

[2019-04-09 15:10] jiayiliu commented on #505
@yxchng I just dumped some other information to the log and the graph will be generated.  I think there might be an if condition mistakenly ignore the output if log is empty.  I didn't check the details.

[2019-04-11 11:07] QinZiwen opened #539 "在c++代码中如何使用visualdl"
请问，在C++代码中如何找visualdl的头文件和怎么链接visualdl的库。我写的cmakelists如下：
[code]
编译时报错：
<img width="961" alt="image" src="https://user-images.githubusercontent.com/15364705/55952655-b4341600-5c8c-11e9-8454-096b372c0187.png">
[code]

[2019-04-19 18:08] khinmaunghtay4ah opened #540 "Import Error: cannot import name 'LogWriter'"
When I try to import
`from visualdl import LogWriter`,  I got the following import error.

`Traceback (most recent call last):
  File "visualdl.py", line 4, in <module>
    from visualdl import LogWriter
  File "C:\Program Files (x86)\kmh\Lib\site-packages\chestxray\input\visualdl.py", line 4, in <module>
    from visualdl import LogWriter
ImportError: cannot import name 'LogWriter'`

I am running

[2019-04-25 03:13] annualLXJ opened #541 "How to use VisualDL in python train（ Installation with virtualenv）"
PROBLEM:
if I want use VisualDL , what should I write in my train file
ERROR:

(vdl) root@ubuntu16:/paddle/openCV/opencv-4.1.0/my_build_dir/Paddle/build/lac# visualdl --logdir=models --port=8080
[INFO 2019-04-25 11:01:42,991 visualdl:336]  port=8080
 * Serving Flask app "visualdl" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.

[2019-04-25 04:16] oraoto commented on #541
Some other application is using port 8080, you can specify other ports.

[2019-05-06 03:06] nepeplwu commented on #536
@v587su , visualdl supported python3.7 now , you can install it via pip.

[2019-05-06 03:06] #536 closed, assigned to nobody

[2019-05-06 03:07] nepeplwu commented on #538
@yxchng , what is the version of visualdl you installed?

[2019-05-06 03:54] nepeplwu commented on #540
@kmh4ah , This is because your test file name is `visualdl.py`, which causes the Python interpreter to use your test file first when looking for the visualdl module, so you cannot find the LogWriter. Try using another name as the test file name (eg test.py)

[2019-05-06 03:54] nepeplwu commented on #539
@QinZiwen , 可以参考下https://github.com/PaddlePaddle/VisualDL/blob/develop/CMakeLists.txt的写法

[2019-05-06 03:56] #509 closed, assigned to nobody

[2019-05-06 03:56] nepeplwu commented on #509
The problem has been fixed

[2019-05-06 03:57] #526 closed, assigned to nobody

[2019-05-06 03:57] #510 closed, assigned to nobody

[2019-05-06 06:07] QinZiwen commented on #539
@nepeplwu 非常感谢

[2019-05-06 06:07] #539 closed, assigned to nobody

[2019-05-10 08:50] zhaifly opened #542 "Does VisualDL can draw a program, such as main_program?"
like this
[test.txt](https://github.com/PaddlePaddle/VisualDL/files/3165659/test.txt)

[2019-05-10 10:11] #542 closed, assigned to nobody

[2019-05-12 08:47] khinmaunghtay4ah commented on #540
Thank your @nepeplwu .
Error has been solved.

[2019-05-12 08:47] #540 closed, assigned to nobody

[2019-05-27 08:50] LeLiu opened #543 "node names in model graph not match the setting of name attributes by paddle api"
when using visaldl to display a paddlepaddle model,  the node names are automatic numbers like 'conv2d_0', 'conv2d_1' ... ,  not the values named by python code.

[2019-05-27 14:35] raymanbigD commented on #446
I had the same issue . I solved it by just running the ip address as an argument within flask

app.run('localhost', 5000)

[2019-06-03 11:13] yxfGrace opened #544 "不联网编译visualDL"
请问visualDL是否可以在不联网情况下通过python setup.py bdist_wheel编译？
一些外部依赖库是否可以提前下载好？

[2019-06-18 04:35] sh0416 opened #548 "Segmentation fault using dict"
[code]
I got segmentation fault

[code]
It works,

Is there any suggestion to use dict structure for scalar instance?

Thanks,

[2019-06-20 07:08] linshuliang commented on #548
from visualdl import LogWriter
logger = LogWriter('log', sync_cycle=10)
with logger.mode("train"):
    logger_dict = dict()
    logger_dict['train_acc'] = logger.scalar("scalars/train_acc")
    logger_dict['train_norm'] = logger.scalar("scalars/train_norm")
    logger_dict['train_loss'] = logger.scalar("scalars/train_loss")

this program works, no segmentation fault occur.

[2019-06-20 07:11] linshuliang commented on #548
[code]

this program works, no segmentation fault occurs.

[2019-06-20 07:17] linshuliang commented on #544
必须联网，因为 npm 会根据 frontend/package.json 下载相应的依赖。
执行
[code]
不联网，npm 会因下载不了依赖而报错。

[2019-06-20 07:28] linshuliang commented on #543
The graph component will not read the values name in the python code.

As a matter of fact,  the node names in the graph are given according to the name of paddle op.

Take 'conv2d_0' and 'conv2d_1' for example,  'conv2d_0'  is the first conv2d op of the paddle model, and 'conv2d_1' is the second conv2d op of the paddle model.

[2019-06-20 12:05] sh0416 commented on #548
@linshuliang
I figure out what is wrong. logdir directory already has scalar term. Is there any graceful warning for this situation?

[2019-06-28 12:25] xinxinbingzi commented on #514
如何解决的，我也报错(null): can't open file 'D:\Program': [Errno 2] No such file or directory

[2019-06-28 13:19] xinxinbingzi opened #551 "Visualdl cannt start in windows"
(vdl) C:\Users\x0714>visualdl --logdir ./vdllog --host 127.0.0.1 --port 8989
python: can't open file 'D:\Program': [Errno 2] No such file or directory

[2019-07-01 07:28] linshuliang commented on #551
In Windows system,  the directory path `--logdir` must be designated in full name, such as 'C:\Users\x0714\vdllog'.

[2019-07-01 08:06] JiaoZiLang opened #552 "训练过程中没有动态绘图"

[2019-07-01 08:29] #552 closed, assigned to nobody

[2019-07-05 10:02] my777777 opened #554 "visualDL如何查看网络结构graph？报错：malloc_error_break"
按照READEME.md的Quick Start安装visualDL，无法查看graph
依次运行以下命令：

在浏览器中点击『GRAPHS』后出现error，信息如下：

版本信息如下：
Mac: 10.13
Python: 2.7.16
visualDL: 1.3.0

[2019-07-08 02:44] songyouwei commented on #554
I met the same issue.

[2019-07-22 03:25] linshuliang commented on #551
我在 win10 上运行[demo程序](https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/component/scalar-demo.py)，生成了日志文件夹 `log`。之后执行命令:

[code]

就能在 chrome 浏览器中查看visualdl 显示的图表。

[2019-07-22 03:26] linshuliang commented on #551
请问你是在 anaconda 环境下运行的程序吗？

你遇到的问题，初步预判是路径设置的bug。你重建一个 conda env，

[code]

重新运行一次程序，看是否还会出现同样的问题？

[2019-07-22 03:40] linshuliang commented on #554
是在 chrome 浏览器打开页面吗？

[2019-07-22 09:04] #548 closed, assigned to nobody

[2019-07-22 09:05] #544 closed, assigned to nobody

[2019-07-22 13:03] linshuliang commented on #531
Your code works well in the current version.

[2019-07-22 13:03] #531 closed, assigned to nobody

[2019-07-22 13:04] #432 closed, assigned to daming-lu

[2019-07-22 13:05] #541 closed, assigned to nobody

[2019-07-22 13:05] #528 closed, assigned to nobody

[2019-07-22 13:05] #538 closed, assigned to nobody

[2019-07-22 13:05] #417 closed, assigned to daming-lu

[2019-07-22 13:05] #440 closed, assigned to nobody

[2019-07-22 13:06] #530 closed, assigned to nobody

[2019-07-22 13:06] #525 closed, assigned to nobody

[2019-07-22 13:06] #543 closed, assigned to nobody

[2019-07-22 13:06] #523 closed, assigned to nobody

[2019-07-22 13:14] #533 closed, assigned to nobody

[2019-07-23 02:58] IMJerryChen opened #555 "TypeError: stat: can't specify None for path argument"
[ERROR 2019-07-23 02:58:48,139 app.py:1891] Exception on /data/plugin/graphs/graph [GET]
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/flask/app.py", line 2446, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python3.5/dist-packages/flask/app.py", line 1951, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/u

[2019-07-23 02:59] linshuliang commented on #554
protobuf 版本太高，会导致graph无法显示。
重装 protobuf，可以解决这个问题：
[code]

[2019-07-23 03:00] linshuliang commented on #555
protobuf 版本太高，会导致graph无法显示。
重装 protobuf，可以解决这个问题：
[code]

[2019-07-23 06:27] IMJerryChen commented on #555
尝试降低protobuf版本  并没有效果呢

[2019-07-23 06:35] linshuliang commented on #555
报错的原因，是不是没有指定路径？
在命令行执行 `visualdl` 命令时，

* `--logdir`        : 指定 打点数据的路径；
* `--host`          : 指定主机名；
* `--port`          : 指定端口；
* `--model_pb` : 指定 model_graph 的路径；

例如：

[code]

[2019-07-23 06:37] #462 closed, assigned to nickyfantasy

[2019-07-23 06:54] IMJerryChen commented on #555
我运行的这个例子
# 运行一个例子，vdl_create_scratch_log 将创建测试日志
vdl_create_scratch_log
visualdl --logdir=scratch_log --port=8080

请问想看gragh的话 需要跟--model_pb吗

[2019-07-23 07:00] linshuliang commented on #555
如果想查看 Graph 功能，都必须在 `visualdl` 命令中添加 `--model_pb` 选项来指定 graph_model 的路径。

例如：

[code]

[2019-07-23 07:14] IMJerryChen commented on #555
啊啊，已经解决，谢谢您~

[2019-07-23 10:30] IMJerryChen opened #556 "训练时出现下面错误RuntimeError: [/work/VisualDL/visualdl/logic/sdk.cc:222]"
Traceback (most recent call last):
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1741, in <module>
    main()
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1735, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "/root/.pycharm_helpers/pydev/pydevd.py", line 1135, in run
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "/r

[2019-07-24 03:43] linshuliang commented on #556
image 组件并没有 add_sample() 这个成员函数。
具体使用方法可参考
[visualdl 使用指南](https://paddlepaddle.org.cn/documentation/docs/zh/1.5/user_guides/howto/evaluation_and_debugging/debug/visualdl_usage.html#permalink-7-image-)

[2019-07-25 03:34] IMJerryChen commented on #556
在demo/mxnet/mxnet_demo.py 这个文件里有image0.add_sample(shape, list(data))这个用法，大概在脚本的75行左右，如下这个函数里

def add_image_histogram():
    def _callback(iter_no, sym, arg, aux):
        image0.start_sampling()
        weight = arg['fullyconnected1_weight'].asnumpy()
        shape = [100, 50]
        data = weight.flatten()

        image0.add_sample(shape, list(data))
        histogram0.add_record(iter_no, list

[2019-08-01 07:04] #555 closed, assigned to nobody

[2019-08-07 06:30] tianjie491 opened #557 "使用VisuslDL查看网络结构时gurphs显示空白"
在windows上使用VisuslDL查看网络结构时gurphs显示空白，查看metrics时没有问题。模型保存是按visualdl指南上保存的，应该没有问题啊
![图片](https://user-images.githubusercontent.com/48859246/62599748-a3846b80-b91f-11e9-9b9f-b0069b4aabbd.png)
这是为什么，怎么解决？

[2019-08-07 06:32] tianjie491 commented on #557
浏览器用的火狐，用ie打不开，不知道是什么原因

[2019-08-07 06:45] tianjie491 commented on #557
删除log文件夹后报RuntimeError: [D:\VisualDL\visualdl/utils/filesystem.h:63]

[2019-08-07 10:13] linshuliang commented on #557
protobuf 版本太高，会导致graph无法显示。
重装 protobuf，可以解决这个问题：
[code]

由于 visualDL 开发使用了 Google 的 protobuf，因此建议使用 chrome 浏览器。

[2019-08-07 10:14] linshuliang commented on #556
这个示例程序，可能是旧版本公布的 API，现在已经废弃了

[2019-08-19 13:03] hundunyu opened #558 "【DOWNLOAD IMAGE】保存不了GRAPHS"
使用的是谷歌浏览器，【GRAPHS】页面网络显示正常，点击下载图片按钮，保存的图片大小为0，浏览器检查元素显示如下:
index.6522bbde709d082003dd.js:1 Stylesheet could not be loaded: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons

[2019-08-20 03:07] #557 closed, assigned to nobody

[2019-08-20 03:07] #556 closed, assigned to nobody

[2019-08-21 14:29] leehownash commented on #551
python "D:\Program Files\Python36\Scripts\visualdl" --logdir=test_log/ --port=8080

then it will work

[2019-08-25 09:37] ghost opened #559 "VisualDL 无法可视化计算图"
按照文档也无法可视化计算图, 并且会出现如下错误, 接着自动退出
[ERROR 2019-08-25 17:25:09,300 lib.py:380] Unexpected error: <class 'RuntimeError'>
[/work/VisualDL/visualdl/logic/sdk.cc:85]
<traceback object at 0x10cd07c30>
[ERROR 2019-08-25 17:25:11,305 lib.py:380] Unexpected error: <class 'RuntimeError'>
[/work/VisualDL/visualdl/logic/sdk.cc:85]
<traceback object at 0x10cd07c80>
[ERROR 2019-08-25 17:25:13,311 visualdl:60] ser

[2019-08-26 03:54] linshuliang commented on #559
protobuf 版本太高，会导致graph无法显示。
重装 protobuf，可以解决这个问题：
[code]

[2019-08-27 12:19] ghost commented on #559
可行, 谢谢

[2019-08-27 12:19] #559 closed, assigned to nobody

[2019-08-31 14:29] #558 closed, assigned to nobody

[2019-09-08 13:32] prigioni commented on #446
it well done

[2019-10-30 15:53] meghdadFar opened #563 "Edit x and y axis labels"
Is there a way to change the name of the x and y axis to a custom name?
Also, can I control the plot colors?

[2019-10-31 06:45] linshuliang commented on #563
The name of x axis is fixed to be **Step**,  however, you can set the name of y aixs

Take an example:

[code]

The display on the web:

https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/component/usage-interface/scalar-interface.png

There is no options to control the colors too.

[2019-11-03 01:53] Lobsterrr commented on #446
Thanks this really works.

[2019-11-15 02:58] Wsine commented on #505
@jiayiliu I confirm that there is still such issue. how about we reopen it and wait for response from developer?

Btw, it's not easy to create log with other framework besides Paddle.

[2019-11-17 05:36] jiayiliu commented on #505
Hi @Wsine
I used tf to simply add some summary to the log.  It will fix you problem, hopefully.

[2019-11-22 02:47] #551 closed, assigned to nobody

[2019-11-22 23:40] xinpingwang commented on #418
@XanderXu1998 Is there any plan to upload `visualdl` to conda, as the env is created by conda, and using pip to manage packages under conda seems not very good. I see there are `paddlepaddle` and `paddlepaddle-gpu` available on the [paddle channel](https://anaconda.org/paddle)

[2019-11-23 15:52] xinpingwang opened #564 "ESLint and FECS config are not consistent"
There are two code style config files under frontend: `.eslintrc.js` and `.fecsrc`, but these config are not consistent. And the `lint` script in `package.json` using the `fecs`, so at least the following configuration needs to be added to the `.eslintrc.js` file:
[code]

[2019-12-06 12:25] CBD88 opened #566 "How to plot neural network structure using VisualDL"
Where i can find the sample program to visualize neural network structure like mention in home page.
"To display the paddle model, all you have to do is:
call the fluid.io.save_inference_model()interface to save paddle model
use visualdl --model_pb [paddle_model_dir] to load paddle model in command line "

[2019-12-06 14:03] PointCloudNiphon opened #567 "使用VisualDL保存模型结构时，下载下来图片不完整"
使用VisualDL保存模型结构时，下载下来图片不完整，最右侧缺失

[2019-12-06 14:08] PointCloudNiphon commented on #567
![image](https://user-images.githubusercontent.com/37015371/70328821-efff9980-1874-11ea-88b4-35f2f3ff8748.png)

[2019-12-29 03:12] chliang opened #568 "存在某一个曲线图有时候刷不出来"
![image](https://user-images.githubusercontent.com/1207569/71551904-253e7800-2a2c-11ea-9bea-17b943447a2e.png)

[2019-12-31 11:18] linshuliang commented on #568
您好，我们已跟进了这个issue。

[2020-01-19 14:54] gxpzy opened #569 "网络结构可视化"
1. 在官网看到的神经网络结构的可视化中发现加法操作显示了两个分支，如图所示
![84@(T0HFWX{M45Z{IG(}AW8](https://user-images.githubusercontent.com/17157193/72682946-c5f4f480-3b0d-11ea-9ce9-6310cca2e53b.png)
自己写的时候进行可视化并没有显示分支，整个网络就是一条线下来了，每次都要点了看输入是哪个
2. 卷积操作可视化时加法操作也显示出来了，而上图中的加法似乎是包含在了卷积块中
![0X8 L$ {Q0TC61VHN2PMP09](https://user-images.githubusercontent.com/17157193/72682998-68ad7300-3b0e-11ea-9e2c-4cf4ca4fe3de.png)
网络仅定义了一个卷积操作，但加法操

[2020-02-11 07:52] gxpzy commented on #568
请问这个问题是否已经解决了？

[2020-03-02 09:33] Michael3444 opened #575 "可视化graph的时候报错KeyError: 'dim'"
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2292, in wsgi_app
    response = self.full_dispatch_request()
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1815, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1718, in handle_user_exception

[2020-03-09 09:01] shaqing opened #580 "when i'm going to visualize the "__model__"file,i got this error"
when i use the command "visualdl --m [model_dir]", i met this error.

visualdl: error: the following arguments are required: --logdir

how can i figure out it, i need help, thank you!

[2020-03-13 10:40] ShenYuhan opened #592 "[Update]优化scalar、image、histogram显示"
1 优化scalar、image、histogram采样方式
使用增量采样的方式，大幅降低采样时间

2 修改image展示数据数量
考虑到前端显示全部数据的不必要性，现改为显示等间隔采样的十张图片

3 修复histogram数据遗漏问题

[2020-03-15 09:21] #592 closed, assigned to nobody

[2020-03-15 13:37] ZeyuChen opened #595 "Windows platform compatibility upgrade"
Ensure VisualDL 2.0 can run smoothly on Windows platform.

[2020-03-17 13:47] st1312st opened #597 "Tensorboard have docker images,and very easy to use."

[2020-03-17 13:48] #597 closed, assigned to nobody

[2020-03-17 14:46] ShenYuhan commented on #520
那么请问在windows中应该如何打包呢？用python setup bdist_wheel打的包依然会报这个错

[2020-03-19 02:25] ShenYuhan opened #600 "Support start visualdl server in python."
Now, user can start VisualDL server in Python, like this:

[code]
Then you can see some startup logs printed on screen, indicates that VisualDL server has been started up successfully.

[2020-03-22 02:24] TanTingyi opened #603 "Con't visual graphs in ai studio."
I followed this tutorial  [https://aistudio.baidu.com/aistudio/projectdetail/34655?qq-pf-to=pcqq.group](url) . But con't visual graphs.

[2020-03-22 11:32] PeterPanZH commented on #603
related to ai studio. someone will contact you later.

[2020-03-22 11:42] PeterPanZH commented on #603
@TanTingyi Please refer to https://aistudio.baidu.com/aistudio/projectdetail/325476 for VisualDL in AI Studio. If fails again, please reopen this issue. Thanks.

[2020-03-22 11:42] #603 closed, assigned to nobody

[2020-03-24 09:08] #600 closed, assigned to nobody

[2020-03-28 06:18] Gs-Zhang opened #610 "官方实例都不能运行"
(paddle) gszhang@gszhang-TM1613:~$ visualdl --logdir=./log --port=8081 --model_pb=/home/gszhang/Code/paddlepaddle/NLP/paddle_lenet_5_model
[INFO 2020-03-28 14:13:02,702 visualdl:336]  port=8081
 * Serving Flask app "visualdl" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debu

[2020-03-28 06:20] Gs-Zhang commented on #610
![2020-03-28 14-19-23 的屏幕截图](https://user-images.githubusercontent.com/48624777/77816642-336d6480-70ff-11ea-9afa-e95eed614658.png)

[2020-03-28 06:36] Gs-Zhang commented on #610
Graphy那个

[2020-03-28 14:41] ShenYuhan commented on #610
您说的是哪个demo，我这边试一下

[2020-04-06 05:42] liupgd commented on #524
I hope the flush time can be setted by user. Some time, 15s is tooooooo long.  I thought my installation was wrong. I checked it over and over. I only found that the flush time is fixed at 15s. What a bad design....

[2020-04-07 05:25] PeterPanZH commented on #524
Manually flush will be added in next few commits. User setting of flush time may impact backend performance. We will evaluate it later. Thanks for your suggestion.

[2020-04-07 05:28] PeterPanZH opened #613 "Adding flush time user setting"
I hope the flush time can be setted by user. Some time, 15s is tooooooo long.  I thought my installation was wrong. I checked it over and over. I only found that the flush time is fixed at 15s. What a bad design....

_Originally posted by @liupgd in https://github.com/PaddlePaddle/VisualDL/issues/524#issuecomment-609576922_

[2020-04-07 05:29] PeterPanZH commented on #524
We will discuss it in #613

[2020-04-07 05:29] #524 closed, assigned to nobody

[2020-04-22 02:12] ArtyZe commented on #610
@ShenYuhan
me too

[2020-04-22 02:46] ArtyZe opened #615 "vdl_create_scratch_log, command not found"
hello,
我这边使用visualdl时先是报了一个filesystem的error，根据其他同学的问题，应该是log dir的问题，所以按照你们的readme来创建一个scratch log， 然后不管是vdl_create_scratch_log还是vdl_scratch都是没有找到这个命令，请问是什么情况？

[2020-04-22 03:48] ArtyZe commented on #209
@Superjomn
If I got paddle model from paddlehub so I don't have log, now what can I do to visualise the paddle model?

[2020-04-23 03:37] NotFound403 opened #616 "Whether to consider to support tensorboard data format"
i train the net  with  Tensorboard  ,if  dl support its data format

[2020-04-23 06:28] ArtyZe commented on #610
@Gs-Zhang
兄弟，我昨天试了一下，这个创建scratch log的操作在linux下ok，但是windows下即使anaconda都不可以，所以不用想了。
然后如果你是想看graph的话，不用创建scratch log，--log_dir随便选一个即可，--model_pb选择你的模型所在路径，也就是__model__及各层参数那个，之后在界面中选择上面一层的graph即可看到。
@ShenYuhan
顺便真的想对baidu 的开发者们提个建议，issue回复快一些吧，文档写好一点吧。。。虽然他们也确实做了很不错的工作

[2020-04-23 06:29] #615 closed, assigned to nobody

[2020-04-28 06:06] ShenYuhan commented on #616
Visualdl has different proto format with Tensorboard, so you can`t use vdl to read  log file created by other tools.

[2020-04-29 08:30] ShenYuhan commented on #610
@ArtyZe 谢谢理解，我们正在重整vdl架构和文档，对issue的处理也会加速

[2020-04-29 15:03] Sasi-007 commented on #446
Issue::

F:\web\Python webapps>flask run
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
Usage: flask run [OPTIONS]

Error: Could not locate a Flask application. You did not provide the "FLASK_APP" environment variable, and a "wsgi.py" or "app.py" module was not found in the c

[2020-05-02 06:06] Sasi-007 commented on #446
@Lobsterrr Can u explain me briefly step by step those steps bcz i have set path in environment variables but it doesn't work.

[2020-05-13 02:01] ShenYuhan commented on #610
手动将url调整为“http://0.0.0.0:8040/static/index.html#/graphs”，就能看到网络结构了

[2020-05-15 07:57] ly7969 opened #625 "网页无法显示scalar"
终端运行命令：visualdl --logdir log/train log/val --host 127.0.0.1 --port 8040
然后在网页访问：http://127.0.0.1:8040

网页显示
Not Found
The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.

终端提示以下错误：
[INFO 2020-05-15 15:41:24,458 app.py:378]  port=8040
 * Serving Flask app "visualdl.server.app" (lazy loading)
 * Environment: production
   WARNING:

[2020-05-15 08:05] PeterPanZH commented on #625
请问是通过pip安装的吗？

[2020-05-15 08:09] ly7969 commented on #625
由于通过pip install --upgrade visualdl，只能安装1.3版本，所以改为
通过代码方式安装：
git clone https://github.com/PaddlePaddle/VisualDL.git
cd VisualDL
python setup.py bdist_wheel
pip install --upgrade dist/visualdl-*.whl

[2020-05-15 08:13] PeterPanZH commented on #625
那这个问题刚刚的提交已经修复了，请更新一下代码再试一次~
另外develop分支还在开发中，可能会有很多问题，欢迎随时反馈，感谢

[2020-05-15 08:53] ly7969 commented on #625
运行命令：python setup.py bdist_wheel，提示以下错误

/home/lishi/anaconda3/lib/python3.7/site-packages/setuptools/dist.py:476: UserWarning: Normalizing '2.0.0-alpha.2' to '2.0.0a2'
  normalized_version,
running bdist_wheel
running build
running build_py
ARG:
info: downloading installer
info: profile set to 'default'
info: default host triple is x86_64-unknown-linux-gnu
info: syncing channel updates for 'night

[2020-05-15 10:01] PeterPanZH commented on #625
请问nodejs版本是多少？

[2020-05-15 10:07] ly7969 commented on #625
v4.2.6

[2020-05-15 10:13] PeterPanZH commented on #625
编译需要node10以上，建议装个12

[2020-05-15 10:59] PeterPanZH commented on #625
刚发了新版，可以使用`pip install visualdl==2.0.0a3`安装

[2020-05-16 13:57] #625 closed, assigned to nobody

[2020-05-16 13:58] #616 closed, assigned to nobody

[2020-05-17 04:11] ZeyuChen commented on #595
We use pure python implementation in v2.0.0-beta to solve windows compatibility issues.

[2020-05-17 04:11] #595 closed, assigned to ShenYuhan

[2020-05-22 08:36] PeterPanZH commented on #56
outdated

[2020-05-22 08:36] #56 closed, assigned to daming-lu

[2020-05-22 08:37] PeterPanZH commented on #9
see #613

[2020-05-22 08:37] #9 closed, assigned to nobody

[2020-05-22 08:46] ShenYuhan commented on #11
您好，可以使用最新的2.0.0版本的visualdl，已经解决了这个问题。
您可以参考文档：https://github.com/PaddlePaddle/VisualDL
pip 命令：
[code]

[2020-05-22 08:47] #463 closed, assigned to Superjomn, daming-lu

[2020-05-22 08:48] #418 closed, assigned to nobody

[2020-05-22 08:54] ShenYuhan commented on #10
此问题在VisualDL 2.0.0已经得到解决和优化，目前后台数据增大不会增加采样负荷，采用蓄水池算法避免了重复采样。

[2020-05-22 08:54] #10 closed, assigned to nobody

[2020-05-22 08:55] ShenYuhan commented on #80
visualdl2.0.0已经全面重构前端和后端架构，此TODO已失效

[2020-05-22 08:55] #80 closed, assigned to nobody

[2020-05-22 08:58] ShenYuhan commented on #71
Hello， VisualDL 2.0.0 is rebuild by pure python， so you can compile on different platform Simply.

See usages and docs:
https://github.com/PaddlePaddle/VisualDL

command to install visualdl
[code]

[2020-05-22 08:58] #71 closed, assigned to Superjomn

[2020-05-22 16:19] ZeyuChen commented on #213
VisualDL 2.0 is builted by pure python3, so there is no more CMakeList and such compile issues from now on. Issues closed

[2020-05-22 16:19] #213 closed, assigned to Superjomn, jacquesqiao

[2020-05-22 16:20] #4 closed, assigned to nobody

[2020-05-22 16:21] ZeyuChen commented on #496
VisualDL 2.0 use sampling algorithm to solve this issues, Please have a try.

[2020-05-22 16:21] #496 closed, assigned to ZeyuChen

[2020-05-22 16:23] ZeyuChen commented on #439
VisualDL 2.0-beta use pure Python 3 to build, easy to install with high compatibility, so  there is no C++ compile issues from now on.

[2020-05-22 16:23] #439 closed, assigned to ZeyuChen

[2020-05-22 16:24] ZeyuChen commented on #447
VisualDL 2.0 use pure python 3 to build, so there is no C++ compile issues from now on, easy to install with high compatibility, so issues closed.

[2020-05-22 16:24] #447 closed, assigned to ZeyuChen

[2020-05-22 16:26] ZeyuChen commented on #231
Now VisualDL 2.0 can install from pypi easily with `pip install visualdl==2.0.0b`, pure python3 so no need to build with difference environments.

[2020-05-22 16:26] #231 closed, assigned to ZeyuChen

[2020-05-22 16:27] #11 closed, assigned to ZeyuChen

[2020-05-22 16:27] #83 closed, assigned to nobody

[2020-05-22 16:28] #187 closed, assigned to nobody

[2020-05-22 16:28] #408 closed, assigned to jetfuel

[2020-05-22 16:29] #563 closed, assigned to nobody

[2020-05-22 16:30] ZeyuChen commented on #199
This issue was solved this issues in VisualDL 2.0-beta.

[2020-05-22 16:30] #199 closed, assigned to deqingli, BingBlog

[2020-05-22 16:31] ZeyuChen commented on #284
VisualDL 2.0 use stream down sampling method to solve backend perf issues now.

[2020-05-22 16:31] #284 closed, assigned to Superjomn

[2020-05-22 16:32] ZeyuChen commented on #228
We use the same sampling strategy on Image data as TensorBoard to fix this bug.

[2020-05-22 16:32] #228 closed, assigned to ZeyuChen

[2020-05-23 06:00] DYJ1111 opened #643 "服务器训练模型，如何在本地浏览器查看日志？"
在服务器训练模型，如何远程在本地浏览器查看训练情况？

[2020-05-24 12:10] PeterPanZH commented on #643
在服务端安装启动visualdl：
[code]

之后可以在本地访问`http://服务器公网IP:端口/`即可

[2020-05-24 12:10] #643 closed, assigned to nobody

[2020-05-28 04:03] linhandev opened #644 "vdl_create_scratch_log"
目前 vdl_create_scratch_log 貌似已经无法正常执行，要下载的onnx链接已经失效。

`
vdl_create_scratch_log
[WARNING 2020-05-28 11:58:37,376 vdl_create_scratch_log:221] download ONNX file from https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/mnist_model.onnx?raw=true
Traceback (most recent call last):
  File "/opt/conda/bin/vdl_create_scratch_log", line 228, in <module>
    download_onnx()
  File "/opt/conda/bin/vdl

[2020-05-28 04:06] linhandev commented on #644
https://github.com/PaddlePaddle/VisualDL/blob/develop/demo/mnist_model.onnx?raw=true
![image](https://user-images.githubusercontent.com/29757093/83097806-95385380-a0db-11ea-8c5a-a10d4bd86d12.png)

[2020-05-28 04:34] PeterPanZH commented on #644
VisualDL2.0已经废弃了这个脚本

[2020-05-28 04:36] linhandev commented on #644
但是vdl2里他还是能执行，反正这个你们知道就好

[2020-05-28 04:36] #644 closed, assigned to nobody

[2020-05-28 04:43] PeterPanZH commented on #644
谢谢反馈~

[2020-05-28 09:22] tt36999 opened #645 "命令行启动VisualDL之后，每次访问VisualDL的页面时命令行都会报错"
![image](https://user-images.githubusercontent.com/12522418/83122769-aa76a780-a106-11ea-81ae-7885c7ab33ae.png)
![image](https://user-images.githubusercontent.com/12522418/83123235-430d2780-a107-11ea-86a0-f46d335a2e3c.png)
![image](https://user-images.githubusercontent.com/12522418/83123498-92ebee80-a107-11ea-9077-c6582161ff7d.png)
![image](https://user-images.githubusercontent.com/12522418/8312351

[2020-05-28 09:25] tt36999 opened #646 "命令行启动VisualDL，打开DL页面之后名两行报错"
![image](https://user-images.githubusercontent.com/12522418/83123882-0857bf00-a108-11ea-9c5d-e4ff08a7167d.png)
![image](https://user-images.githubusercontent.com/12522418/83123898-0e4da000-a108-11ea-95d1-638f69e39b24.png)
![image](https://user-images.githubusercontent.com/12522418/83123962-23c2ca00-a108-11ea-8650-78cf749e55b0.png)
![image](https://user-images.githubusercontent.com/12522418/8312403

[2020-05-28 15:57] linhandev commented on #646
vdl 升2了，或许可以试试

[2020-05-28 20:29] PeterPanZH commented on #646
1.x版本已经不再维护，欢迎试用VisualDL 2.0
`pip install --upgrade visualdl==2.0.0b4`

[2020-05-28 20:31] PeterPanZH commented on #645
duplicated with #646

[2020-05-28 20:31] #645 closed, assigned to nobody

[2020-05-29 01:51] tt36999 commented on #646
问题解决，非常感谢

[2020-05-29 01:51] #646 closed, assigned to nobody

[2020-05-29 10:44] Kaival347 opened #647 "Could not find a version that satisfies the requirement visualize"

[2020-05-30 05:20] PeterPanZH commented on #647
visualdl 1.x does not support Python 3. Please try visualdl 2.0.
`pip install --upgrade visualdl==2.0.0b4`

[2020-06-01 17:30] ZeyuChen commented on #568
VisualDL 2.0已经可以解决这一问题，欢迎使用。

[2020-06-01 17:34] ZeyuChen commented on #190
We use pure python to refactor VisualDL, so there is no such C++ issues.

[2020-06-01 17:34] #190 closed, assigned to nobody

[2020-06-01 17:38] ZeyuChen opened #648 "Integrate Netron as the default Graph Visualization Tools"

[2020-06-01 17:39] ZeyuChen opened #649 "Add brand-new Histogram feature for Dygraph Mode when use PaddlePaddle"

[2020-06-01 17:40] ZeyuChen opened #650 "Add newly designed Audio tab for Parakeet audio synthesis library"

[2020-06-03 04:05] #568 closed, assigned to ShenYuhan

[2020-06-04 06:04] PeterPanZH commented on #505
VisualDL 2.0 will solve this problem.

[2020-06-04 06:04] #505 closed, assigned to PeterPanZH

[2020-06-04 06:04] PeterPanZH commented on #569
VisualDL 2.0将使用netron作为网络结构可视化工具，请期待。

[2020-06-04 06:04] #569 closed, assigned to PeterPanZH

[2020-06-04 06:05] PeterPanZH commented on #567
请使用VisualDL 2.0。如果还有问题请reopen。

[2020-06-04 06:05] #567 closed, assigned to PeterPanZH

[2020-06-04 06:07] PeterPanZH commented on #554
VisualDL 2.0 will integrate netron as model visualization tool.

[2020-06-04 06:07] #554 closed, assigned to PeterPanZH

[2020-06-05 03:45] fantasysee opened #653 "请问如何同时显示多次不同训练的scalar curves？"
VisualDL 一次只能显示一次训练工程文件夹下的 scalar curves 吗？比如说，我有几次设置了不同超参数的训练结果，都记录了scalar，请问应该如何把他们放在同一幅图上呢？

[2020-06-05 03:51] fantasysee commented on #653
比如说有好多个打了时间戳的log文件夹，然后每个log文件夹下都包含了mode为train，name为acc的scalar，如何同时显示呢？

[2020-06-05 03:56] fantasysee commented on #653
也尝试过这样命令行调用 VisualDL ：visualdl --logdir "2020-05-31_14-32-25, 2020-06-01_21-13-58"  结果无法显示。

[2020-06-06 03:03] ShenYuhan commented on #653
您好 有两种方式可以完成您的需求
1 启动命令，空格分割
[code]
2 指定文件夹为这两个文件夹的父文件夹即可

[2020-06-06 03:06] fantasysee commented on #653
感谢您的解答。我发现我在本地安装的VisualDL版本是 1.3.0，与Github上版本不符……怪不得按照Github上的流程走没有奏效。

[2020-06-08 02:52] yuanyuan999 commented on #446
牛逼牛逼兄弟

[2020-06-08 08:40] andreazanetti opened #656 "What is the pourpose of sync_cycle in LogWriter?"
Hi, can anyone clarify what the supposed function of the sync_cycle LogWriter parameter should be?
Looking into the code, I end up here: https://github.com/PaddlePaddle/VisualDL/blob/917c720423d3bfbe580b6e0ec71069efe8fad0a7/visualdl/writer/writer.py#L62
but from a quick look the **kwargs I was not able to trace it down to the function.

Is it a buffering size or so?
Thank you

[2020-06-08 08:50] ShenYuhan commented on #656
`sync_cycle ` is a parameter in version 1.X, means `Specify how often should the system store data into the file system.
        Typically adding a record requires 6 operations.
        System will save the data into the file system once operations count reaches sync_cycle.`.
This parameter has been deleted in version 2.X.

[2020-06-08 08:56] andreazanetti commented on #656
thank you, all clear.

[2020-06-08 08:56] #656 closed, assigned to nobody

[2020-06-11 02:35] ShaneTian opened #660 "Some questions from 1.3.0 to 2.0.0b4"
I am using `VisualDL 1.3.0` now. I mainly use the following functions:

- `LogWriter.mode`. such as `with logwriter.mode("train") as writer`
- Define before record. such as:
[code]
- `histogram`. such as:
[code]
They all work well in `VisualDL 1.3.0`.

--------------------------------------------
But, when I update it to `2.0.0b4`, I found some errors respectively:

- `AttributeError: 'LogWriter'

[2020-06-11 02:54] ShenYuhan commented on #660
- For convenience, we have made a lot of improvements，so the difference between the two versions is very large.
 - We are still upgrading and more components will appear soon.

[2020-06-11 02:58] ShaneTian commented on #660
OK, thank you!
In the latest version, can I use multi-level tags:
[code]

[2020-06-11 03:14] ShenYuhan commented on #660
You can use it like this
[code]

[2020-06-11 03:18] #653 closed, assigned to ShenYuhan

[2020-06-11 03:19] ShaneTian commented on #660
OK! Thank you!

[2020-06-11 03:19] #660 closed, assigned to nobody

[2020-06-11 03:19] #647 closed, assigned to nobody

[2020-06-12 01:27] Shafi-gethub commented on #446
How should i solve this Error, Im running it in windows 10 CMD
(env) C:\Users\Gilan\Desktop\ShafiFOLDER>set FLASK_New = D.py

(env) C:\Users\Gilan\Desktop\ShafiFOLDER>flask run
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
Usage: flask run [OPTIONS]

[2020-06-12 10:24] LilyCaiZL opened #663 "我想知道一下为什么visualdl中，需要安装的库中有hdfs，什么功能使用了分布式文件系统？"
我想知道一下为什么visualdl中，需要安装的库中有hdfs，什么功能使用了分布式文件系统？

[2020-06-12 10:57] PeterPanZH commented on #663
visualdl现在支持将日志文件写入hdfs，详情可见 #657

[2020-06-12 11:11] LilyCaiZL opened #664 "graph功能下载图片的问题"
![N(NS12~VO6DA{EJ8F1N{_W6](https://user-images.githubusercontent.com/40067956/84496925-6d064280-ace0-11ea-9a49-06c5c880b9cb.png)
请问我用graph功能，下载的图片长这个样子，怎么办，png svg都是这样

[2020-06-12 14:24] PeterPanZH commented on #664
是个bug，#665 已修复，稍后会发版更新，着急的话可以先编译后使用

[2020-06-13 06:31] Kaival347 commented on #647
thanks bro

[2020-06-13 11:41] PeterPanZH commented on #648
#651

[2020-06-13 11:41] #648 closed, assigned to nobody

[2020-06-13 11:42] PeterPanZH commented on #664
Fixed in visualdl 2.0.0.b6

[2020-06-13 11:42] #664 closed, assigned to nobody

[2020-06-13 11:42] #663 closed, assigned to nobody

[2020-06-14 02:07] ShenYuhan commented on #610
目前最新版的VisualDL(>=2.0.0b6)已经支持graph，比旧版更加方便易用，具体信息可以参照[graph](https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/components/README.md#graph--%E7%BD%91%E7%BB%9C%E7%BB%93%E6%9E%84%E7%BB%84%E4%BB%B6)

[2020-06-14 02:08] ShenYuhan commented on #575
目前最新版的VisualDL(>=2.0.0b6)已经支持graph，比旧版更加方便易用，具体信息可以参照[graph](https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/components/README.md#graph--%E7%BD%91%E7%BB%9C%E7%BB%93%E6%9E%84%E7%BB%84%E4%BB%B6)

建议使用新版VisualDL

[2020-06-15 04:45] #575 closed, assigned to nobody

[2020-06-15 04:45] #610 closed, assigned to nobody

[2020-06-15 06:24] ZeyuChen commented on #485
Now VisualDL 2.0 Graph can visualize tensorflow model correctly.

[2020-06-15 06:24] #485 closed, assigned to daming-lu

[2020-06-15 06:26] ZeyuChen commented on #203
We upgrade the sampling algorithm to avoid frontend dead caused by large amount scalar data.

[2020-06-15 06:26] #203 closed, assigned to Superjomn, deqingli, BingBlog

[2020-06-16 02:09] ShenYuhan commented on #580
You can use VisualDL>=2.0.0b6 to visualize model construction.
`pip install visualdl==2.0.0b6 -U`
And:
`visualdl --model ${MODEL_FILE_PATH}`
See [graph](https://github.com/PaddlePaddle/VisualDL/blob/develop/docs/components/README.md#graph--%E7%BD%91%E7%BB%9C%E7%BB%93%E6%9E%84%E7%BB%84%E4%BB%B6) for more information.

[2020-06-17 02:04] LWhite027 opened #668 "HDFS initialization failed, please check if .hdfscli，cfg exists."
from visualdl import LogWriter

if __name__ == '__main__':
    value = [i/1000.0 for i in range(1000)]
    # 初始化一个记录器
    with LogWriter(logdir="./log/scalar_test/train") as writer:
        for step in range(1000):
            # 向记录器添加一个tag为`acc`的数据
            writer.add_scalar(tag="acc", step=step, value=value[step])
            # 向记录器添加一个tag为`loss`的数据
            writer.add_scalar(tag="loss", s

[2020-06-17 02:16] ShenYuhan commented on #668
您好，这只是一个warning，并不影响使用，我们已经修复这个问题，在下个版本中就不再会有错误提示了，

[2020-06-19 15:37] ShenYuhan commented on #668
您好，我们在新版本已经优化了此提示，您可以通过以下命令升级：
[code]

[2020-06-19 16:27] chenwthu opened #671 "在python脚本中启动出错"
在python脚本中启动visualdl面板
[code]
没有正常启动，版本2.0.0b7，[报错信息](https://github.com/PaddlePaddle/VisualDL/files/4805693/log.txt)

[2020-06-19 17:28] PeterPanZH commented on #671
日志中没有看到和visualdl相关的信息，请确定脚本执行到这里了

[2020-06-19 17:34] chenwthu commented on #671
注释掉app.run语句后不会报错，似乎是在flask模板渲染过程中出错

[2020-06-20 07:56] chenwthu commented on #671
[code]
会出现上述报错信息，vdl不能启动，python意外退出

[code]
不会出现上述报错信息，但vdl依然不能启动，python意外退出
设置`api_only=True`或`open_browser=True`都不能正常启动

[2020-06-20 11:24] ShenYuhan commented on #671
您这边确定指定的logs存在吗，我这里尝试了b7版本。是可以正常执行的，您可以在python脚本环境中单独执行这两句
[code]
然后看下结果

[2020-06-20 11:39] chenwthu commented on #671
log目录存在，vdl不能启动，提示python意外退出

[2020-06-20 12:04] chenwthu commented on #671
在`app.run()`中不使用多进程可以正常启动

[2020-06-20 19:07] PeterPanZH commented on #671
意外退出时有什么报错信息吗？怀疑python环境有问题

[2020-06-20 19:20] chenwthu commented on #671
[Crash Report](https://github.com/PaddlePaddle/VisualDL/files/4808455/report.txt)
使用环境macOS 10.15.5 virtualenv python 3.7.7

[2020-06-21 05:45] ShenYuhan commented on #671
不使用多进程可以正常启动是指？app.run()并没有提供是否使用多进程的选项，您是说自己开启一个子进程执行吗

[2020-06-21 06:05] chenwthu commented on #671
在vdl源码中不使用multiprocessing而直接调用`_run()`

[2020-06-21 06:09] ShenYuhan commented on #671
我确认一下，您使用run()之后，整个python环境直接退出了？

[2020-06-21 06:17] chenwthu commented on #671
弹出python意外退出的提示，但后续代码能继续执行，看起来没有影响主进程

[2020-06-21 06:28] ShenYuhan commented on #671
您方便放下完整的代码和执行的截图吗

[2020-06-21 06:53] chenwthu commented on #671
<img width="897" alt="" src="https://user-images.githubusercontent.com/16147671/85218666-eed82900-b3ce-11ea-96ac-7b017c98c4ea.png">

[2020-06-22 02:18] ShenYuhan commented on #671
您的flask版本是多少，另外如果直接在python环境中逐条执行脚本，是否直接报错退出？

[2020-06-22 04:38] chenwthu commented on #671
Flask==1.1.2

在python环境中执行`app.run()`后打印出`[INFO app.py:119] port=8040`，之后提示python意外退出，但没有退出python shell，按`Ctrl-C`后能回到python shell继续输入

[2020-06-22 07:10] tanzeyy opened #672 "[BUG] `Step` number truncated in web UI."
Only 6 digits can be shown in the `step` column in the hovercard. Hope this will be fixed soon.
<img width="968" alt="图片" src="https://user-images.githubusercontent.com/25984272/85258168-9326a200-b499-11ea-94e1-128614e98686.png">

VisualDL version:  2.0.0-beta.6
[code]

[2020-06-22 07:17] tanzeyy commented on #672
Issue still exsits in version 2.0.0-beta.7.
<img width="728" alt="图片" src="https://user-images.githubusercontent.com/25984272/85259267-56f44100-b49b-11ea-86e5-b855d0d99dc4.png">

[2020-06-22 07:28] ShenYuhan commented on #671
请问您的protobuf的版本是多少呢，
另外您可以按照下面的步骤尝试一下；
 - 1 首先启动时指定logdir为一个不存在的路径，观察是否可以正常启动
 - 2.a 在1可行的情况下，重新打点并重新启动
 - 2.b 在1不可行的情况下，新建一个纯粹的新python环境安装vdl，试下是否还存在这个问题

[2020-06-22 07:38] chenwthu commented on #671
protobuf==3.12.2
新建环境中无论logdir是否存在都无法正常启动

[2020-06-22 09:15] ShenYuhan commented on #671
我这里测试都是可以的，您pip list下，然后把新环境的list贴一下，我再对比下我们有没有不同

[2020-06-22 09:18] chenwthu commented on #671
[packages.txt](https://github.com/PaddlePaddle/VisualDL/files/4812364/packages.txt)

[2020-06-22 09:43] ShenYuhan commented on #671
您好，之前说的纯净的python环境，是指没有paddlepaddle这些额外包，仅仅安装visualdl和相关依赖的环境，您可以试试

[2020-06-22 09:50] chenwthu commented on #671
[packages.txt](https://github.com/PaddlePaddle/VisualDL/files/4812502/packages.txt)
还是不能启动

[2020-06-23 02:52] ShenYuhan commented on #671
您确定执行的python环境是这个虚拟环境吗，执行一下
[code]
看下

[2020-06-23 03:06] chenwthu commented on #671
确定，/Users/USER/Library/Caches/pypoetry/virtualenvs/paddlepaddle-venv-lEakuMU9-py3.7/bin/python

[2020-06-23 03:17] ShenYuhan commented on #671
要不您给个联系方式，发我邮箱就好 我们用qq或者其他沟通下，交流快捷一些

[2020-06-23 07:48] #672 closed, assigned to PeterPanZH

[2020-06-23 08:05] #671 closed, assigned to ShenYuhan

[2020-06-23 08:21] PeterPanZH commented on #668
fixed in 2.0.0b7

[2020-06-23 08:21] #668 closed, assigned to nobody

[2020-06-23 08:54] chenwthu opened #674 "Safari中无法显示折线图"
<img width="976" alt="" src="https://user-images.githubusercontent.com/16147671/85382855-f2f07c00-b571-11ea-9fab-0dd8d89ffacc.png">
Scalars中能识别到tag但显示为空白

[2020-06-23 09:27] PeterPanZH commented on #674
请问Safari版本是多少？可以截个about的图吗？谢谢~

[2020-06-23 09:34] chenwthu commented on #674
Safari Version 13.1.1 (15609.2.9.1.2)

[2020-06-23 10:10] PeterPanZH commented on #674
看起来是Safari的bug，已经做了兼容，下个beta版本会修复。急用的话可以用源码编译~

[2020-06-23 10:17] #674 closed, assigned to nobody

[2020-06-24 03:47] #564 closed, assigned to nobody

[2020-06-24 13:09] thrkingd opened #678 "gragh组件使用错误"
我在win10下面安装了2.0.0b6的版本，按照使用指南在命令行输入visualdl，在浏览器中打开地址，但是显示的页面上找不到可以上传文件的按键（就是右边的按键栏），是浏览器的问题吗？
(wj) E:\soft\paddlepaddle-models-develop\models\PaddleCV\video>visualdl
HDFS initialization failed, please check if .hdfscli，cfg exists.
[INFO 2020-06-24 21:01:05,662 app.py:141]  port=8040
Model path  should be file path, please check this path.
 * Serving Flask app "visualdl" (lazy loading)
 * Environm

[2020-06-24 15:26] PeterPanZH commented on #678
可以提供下页面截图吗？

[2020-06-25 00:45] thrkingd commented on #678
现象的截图：
![批注 2020-06-25 084358](https://user-images.githubusercontent.com/46418649/85641095-2d682f00-b6c0-11ea-8653-e7ed7e87b1ea.jpg)

[2020-06-25 02:33] PeterPanZH commented on #678
看起来是浏览器不兼容。查看网络结构只支持chrome浏览器，请用最新版的chrome再试一下。后续会考虑加一个提示~

[2020-06-25 07:03] thrkingd commented on #678
换了chrome浏览器确实可以了，希望可以改进一下兼容性

[2020-06-25 18:47] PeterPanZH commented on #678
因为Graph功能强依赖浏览器特性，目前只有chrome支持全部功能，safari和firefox支持部分功能。后面会加个提示。

[2020-06-25 18:48] #678 closed, assigned to nobody

[2020-06-27 03:03] zachary-zheng opened #682 "数据加载中，请稍等"
你好！
我的Visualdl 版本2.0.0b4，
命令行输入以下：visualdl --logdir E:\Python\Pycharm\my work\AI_study\Learning_from_Github\04 paddlepaddle-learn\03 Paddle_hub\peach_clas
s\Finetuning\Fine_tuning_efficientnetb0\fine_tuning_2020-6-27\visualization --port 8080
然后用Google/sougou 浏览器打开http://127.0.0.1:8080/ 一直显示“数据加载中，请稍等”，只有一次在深夜结果能显示出来。后面从来都是显示“数据加载中，请稍等”。请问如何解决，谢谢。

[2020-06-27 05:17] PeterPanZH commented on #682
方便提供一下logdir指定的日志吗？

[2020-06-28 04:27] chenwthu commented on #671
应该是操作系统的问题，[Seg Fault on OSX when multiprocessing](https://bugs.python.org/issue37677)
在`if __name__ == '__main__'`中添加`multiprocessing.set_start_method('spawn')`可以解决

[2020-06-28 05:55] PeterPanZH commented on #671
赞~ 我怀疑过可能是这个问题，但是没有仔细研究，因为本地macOS+python3.7也没复现

[2020-06-28 06:03] #580 closed, assigned to nobody

[2020-06-28 06:05] PeterPanZH commented on #566
VisualDL 2.0 beta now support visualize neural network structure. Please refer to [Graphs](https://github.com/PaddlePaddle/VisualDL/tree/develop/docs/components#Graph--%E7%BD%91%E7%BB%9C%E7%BB%93%E6%9E%84%E7%BB%84%E4%BB%B6) for more infomation.

[2020-06-28 06:05] #566 closed, assigned to PeterPanZH

[2020-06-28 06:07] PeterPanZH commented on #465
Please try VisualDL 2.0

[2020-06-28 06:07] #465 closed, assigned to daming-lu

[2020-06-28 06:08] PeterPanZH commented on #492
close inactive issue.

[2020-06-28 06:08] #492 closed, assigned to jacquesqiao, daming-lu

[2020-06-28 06:08] PeterPanZH commented on #477
Please try VisualDL 2.0

[2020-06-28 06:08] #477 closed, assigned to nobody

[2020-06-28 06:09] PeterPanZH commented on #452
close inactive issue.

[2020-06-28 06:09] #452 closed, assigned to nobody

[2020-06-28 06:17] PeterPanZH commented on #446
VisualDL is designed to visualize deep learning in a self-hosted environment. So we use flask as a web server to host frontend files. If you want to use visualdl as a server, please consider using a production WSGI server instead. You can refer to [Flask Document](https://flask.palletsprojects.com/en/1.1.x/deploying/uwsgi/) for more infomation.

[2020-06-28 06:17] #446 closed, assigned to ShenYuhan

[2020-06-28 06:18] PeterPanZH commented on #435
close outdated issue.

[2020-06-28 06:18] #435 closed, assigned to daming-lu

[2020-06-28 06:18] PeterPanZH commented on #419
close outdated issue.

[2020-06-28 06:18] #419 closed, assigned to nickyfantasy

[2020-06-28 06:18] PeterPanZH commented on #410
close outdated issue.

[2020-06-28 06:18] #410 closed, assigned to jetfuel

[2020-06-28 06:18] PeterPanZH commented on #401
close outdated issue.

[2020-06-28 06:18] #401 closed, assigned to varunarora

[2020-06-28 06:21] PeterPanZH commented on #406
New histogram chart is coming out. Open a new issue if there are other problems or improvement.

[2020-06-28 06:21] #406 closed, assigned to deqingli

[2020-06-28 06:21] PeterPanZH commented on #409
close outdated issue.

[2020-06-28 06:21] #409 closed, assigned to nickyfantasy

[2020-06-28 06:22] PeterPanZH commented on #325
close outdated issue.

[2020-06-28 06:22] #325 closed, assigned to nickyfantasy, jetfuel

[2020-06-28 06:23] wuxlun opened #683 "docker 容器内使用visualdl, board 无图像显示"
paddle的镜像版本1.8.2
visualdl版本2.0.0b7
容器端口映射 8040：8040
在容器内包含执行：
vdl_create_scratch_log
visualdl --logdir=scratch_log --host=0.0.0.0
进入http://0.0.0.0:8040/  查看board，出现：
![image](https://user-images.githubusercontent.com/62460490/85939754-98c53180-b94a-11ea-8e60-05fd17baa053.png)
如果在宿主机上直接执行，则会出现正确画面。
求指导如何在容器内操作visualdl, board出现可视化结果

[2020-06-28 06:23] PeterPanZH commented on #313
close outdated issue.

[2020-06-28 06:23] #313 closed, assigned to nickyfantasy, deqingli

[2020-06-28 06:23] PeterPanZH commented on #261
close outdated issue.

[2020-06-28 06:23] #261 closed, assigned to nobody

[2020-06-28 06:24] PeterPanZH commented on #252
close outdated issue.

[2020-06-28 06:24] #252 closed, assigned to nobody

[2020-06-28 06:24] PeterPanZH commented on #247
close outdated issue.

[2020-06-28 06:24] #247 closed, assigned to varunarora, jetfuel

[2020-06-28 06:25] PeterPanZH commented on #245
close outdated issue.

[2020-06-28 06:25] #245 closed, assigned to nickyfantasy

[2020-06-28 06:25] PeterPanZH commented on #242
close outdated issue.

[2020-06-28 06:25] #242 closed, assigned to daming-lu

[2020-06-28 06:25] PeterPanZH commented on #239
close outdated issue.

[2020-06-28 06:25] #239 closed, assigned to nobody

[2020-06-28 06:26] PeterPanZH commented on #237
close outdated issue.

[2020-06-28 06:26] #237 closed, assigned to nobody

[2020-06-28 06:26] PeterPanZH commented on #229
close outdated issue.

[2020-06-28 06:26] #229 closed, assigned to nobody

[2020-06-28 06:27] PeterPanZH commented on #226
close outdated issue.

[2020-06-28 06:27] #226 closed, assigned to nobody

[2020-06-28 06:27] PeterPanZH commented on #212
close outdated issue.

[2020-06-28 06:27] #212 closed, assigned to nobody

[2020-06-28 06:28] PeterPanZH commented on #208
close outdated issue.

[2020-06-28 06:28] #208 closed, assigned to nobody

[2020-06-28 06:28] PeterPanZH commented on #207
close outdated issue.

[2020-06-28 06:28] #207 closed, assigned to nobody

[2020-06-28 06:28] PeterPanZH commented on #206
close outdated issue.

[2020-06-28 06:28] #206 closed, assigned to nobody

[2020-06-28 06:29] PeterPanZH commented on #205
close outdated issue.

[2020-06-28 06:29] #205 closed, assigned to nobody

[2020-06-28 06:30] PeterPanZH commented on #202
close outdated issue.

[2020-06-28 06:30] #202 closed, assigned to nobody

[2020-06-28 06:30] PeterPanZH commented on #197
close outdated issue.

[2020-06-28 06:30] #197 closed, assigned to nobody

[2020-06-28 06:30] PeterPanZH commented on #179
close outdated issue.

[2020-06-28 06:30] #179 closed, assigned to nobody

[2020-06-28 06:31] PeterPanZH commented on #423
close outdated issue.

[2020-06-28 06:31] #423 closed, assigned to nobody

[2020-06-28 06:31] PeterPanZH commented on #504
close outdated issue.

[2020-06-28 06:31] #504 closed, assigned to nobody

[2020-06-28 06:34] PeterPanZH commented on #683
`vdl_create_scratch_log`这个脚本在VisualDL 2.0中已经废弃，其生成的日志VisualDL应该无法读取。请问宿主机也是用这个脚本生成的log吗？

[2020-06-28 06:37] PeterPanZH opened #684 "Add PR Curve"

[2020-06-28 06:43] wuxlun commented on #683
@PeterPanZH 宿主机也是用这个脚本生成的，但是因为容器不识别这个command，我将生成的文件复制到了容器目录后，再使用的visualdl命令

[2020-06-28 06:46] PeterPanZH commented on #683
日志是复制到了容器的`${WORKDIR}/scratch_log`中吗？可以`docker exec`进去看看是不是日志路径不对

[2020-06-28 06:46] PeterPanZH commented on #683
方便的话可以把Dockerfile贴一下

[2020-06-28 06:56] wuxlun commented on #683
@PeterPanZH 我重新开启了一个新容器，不安装paddledetection,结果这个脚本可以使用，而且board也正常了，这是为什么
![image](https://user-images.githubusercontent.com/62460490/85940521-7d105a00-b94f-11ea-8dd8-6d2755da3d61.png)

[2020-06-28 06:56] wuxlun commented on #683
为何两个页面一个有飞桨标志，一个没有

[2020-06-28 06:58] PeterPanZH commented on #683
visualdl版本不同。蓝色是2.0，目前处于beta阶段，绿色是1.x，目前已不再维护。

[2020-06-28 07:03] PeterPanZH opened #685 "Allow frontend building on Windows"
Add rustc environment on Windows

[2020-06-28 07:05] PeterPanZH opened #686 "Add test cases"
We all don't love unit test, do we?

[2020-06-28 07:11] wuxlun commented on #683
我在宿主机上的visualdl版本是2.0，为何出现的仍旧是绿色面板

[2020-06-28 07:28] wuxlun commented on #683
还有一个问题是，如果我的visualdl的版本是2.0，我应该用什么命令来下载符合这个版本的log示例，已知的错误是如果2.0使用1.x的log示例，飞桨的board会显示无可视化结果展示。

[2020-06-28 09:20] ShenYuhan commented on #683
出现vdl1.X版本的原因应该是没删除干净。
现在没有命令提供log下载，您可以参照这里自己试一下运行demo得到log进行测试。
[vdl demo](https://github.com/PaddlePaddle/VisualDL/tree/develop/demo/components)

[2020-06-28 09:59] wuxlun commented on #683
@ShenYuhan 按照您的链接，在运行了 scalar_test.py后，成功生成了一个.log文件，但使用visualdl运行这个文件后，飞桨的board显示“服务器发生了一个错误”

[2020-06-28 11:19] zachary-zheng commented on #682
[vdlrecords.1593225272.log](https://github.com/PaddlePaddle/VisualDL/files/4842131/vdlrecords.1593225272.log)
[vdlrecords.1592579246.log](https://github.com/PaddlePaddle/VisualDL/files/4842132/vdlrecords.1592579246.log)
Thanks

[2020-06-28 14:33] zachary-zheng commented on #682
原因已查明，问题已解决。我原来路径用了\,转成/就行了。
谢谢。

[2020-06-28 14:33] #682 closed, assigned to ShenYuhan

[2020-06-28 16:18] PeterPanZH commented on #683
请问出现“服务器发生了一个错误”的页面时，您启动visualdl的命令是什么？

[2020-06-28 16:19] PeterPanZH commented on #683
运行`python scalar_test.py`后，会在当前目录下生成一个`log`文件夹，请先确认是否生成这个文件夹。如果已生成，请使用`visualdl --logdir ./log`启动。

[2020-06-28 16:21] PeterPanZH opened #687 "Add error tip when browser is not compatible"
in case of #678

[2020-06-29 05:25] wuxlun commented on #683
@PeterPanZH 您好，生成的log文件夹里的内容是  log/scalar_test/train/vdlrecords.1593348758.log，再无其他文件，执行的命令是 `visualdl --logdir=log/scalar_test/train`   我在win10的anaconda环境，ubuntu16的环境，以及映射端口后的docker容器内均进行了实验，进入飞桨visualdl页面均显示“服务器发生了一个错误”

[2020-06-29 06:54] ShenYuhan commented on #683
您可以试试下面两步是否解决问题
1 使用的vdl版本是最新的2.0.0b7，可通过下述命令从查看
[code]
2 为避免路径输入错误问题，可进入到日志所在路径中使用下述命令打开vdl
[code]

[2020-06-29 08:40] sirius-ai opened #689 "New feature request for support dygraph"
As title show, does team players have a plan to support dygraph?

[2020-06-30 06:51] PeterPanZH commented on #684
#680 #681 #688 #693

[2020-06-30 06:51] #684 closed, assigned to PeterPanZH, ShenYuhan

[2020-07-02 06:32] DesmonDay opened #694 "Support display different scalars in one figure."
I need to display train loss and validation loss simultaneously in one figure. Can VisualDL support this function?

[2020-07-02 14:07] linhandev commented on #689
VDL visualizes saved model file, there should be no distinction between the files saved from dygraph and static graph.

[2020-07-03 02:18] KuntaHu commented on #683
您好，我查看我的vdl是2.0.0b7版本，可以成功运行这两步。但是在浏览器中依然打不开vdl。我不知道是不是我的电脑原因MacBook。再就是我使用的是AI Studio里面的PaddleSeg中RemoteSensing模块，train_demo里面将vdl设置为true之后，在best_model文件夹下有一个log可以用于vdl显示。我使用的paddle版本为1.7.2

同时我也采用了scalar_test.py成功生成了log，也试着使用不同的port 和host。都无法成功在浏览器中显示board。还请帮忙解决。谢谢！

[2020-07-03 04:35] wuxlun commented on #683
@KuntaHu paddle版本要求是1.8以上

[2020-07-03 05:04] wuxlun commented on #683
@ShenYuhan 我按照您给的两个步骤执行，vdl版本为最新，仍然出现以下画面：
![image](https://user-images.githubusercontent.com/62460490/86433579-b40ab500-bd2d-11ea-9160-131eb819c365.png)

[2020-07-03 05:18] KuntaHu commented on #683
您好，按照您要求已经升级到1.8, 但是并没有变化，依然无法打开浏览器页面。

[2020-07-03 06:58] PeterPanZH commented on #683
打不开的表现是什么？

[2020-07-06 08:52] chenwthu opened #701 "Add method to terminate app cleanly"
It would be better if there is a method to terminate server.app in python scripts rather than hit CTRL+C in the terminal.

[2020-07-06 08:58] ShenYuhan commented on #701
The method `run(logdir=None, **options)` in visualdl/server/app.py return `Process ID` of process which running VisualDL. So you can terminate this process by yourself.

[2020-07-06 09:08] chenwthu opened #702 "Cannot display records inside a symbolic link to a directory"
If the file tree is as follows, only the ordinary directory shows on the webpage.
[code]

[2020-07-06 09:09] #701 closed, assigned to nobody

[2020-07-07 01:58] ShenYuhan commented on #702
You can use `visualdl --logdir .` in `PATH:XXX/XXX/logs`

[2020-07-11 05:52] chenwthu commented on #702
Doesn't work. The reason can be that the _followlinks_ option of _os.walk_ is not set to _True_ somewhere in the codes.

[2020-07-15 02:01] ShenYuhan commented on #702
Thanks for your suggestions, we will fix it in next version.

[2020-07-16 03:23] #683 closed, assigned to nobody

[2020-07-17 03:02] #702 closed, assigned to nobody

[2020-08-11 09:42] PeterPanZH opened #739 "cache not cleared when build multiple times"

[2020-08-11 17:52] PeterPanZH opened #742 "remove unused api `/runs`"

[2020-08-11 17:54] PeterPanZH opened #743 "unexpected empty page shown when switching between pages"

[2020-08-12 03:21] QinZiwen opened #745 "Does VisualDL provide C + + interface?"
Does VisualDL provide C + + interface?

[2020-08-12 03:25] ZeyuChen commented on #745
Currently we only have python interface.
Which scenario you need C++ interface to visualize deep learning training procedure? It seems most of the framework have python interface.

[2020-08-12 07:12] #742 closed, assigned to PeterPanZH

[2020-08-12 14:20] QinZiwen commented on #745
I want to use visual DL in other C + + programs that are not deep learning。

[2020-08-13 05:19] ZeyuChen commented on #745
Since VisualDL 2.0 was developed in pure Python, so there is no C++ interface.

[2020-08-13 05:29] QinZiwen commented on #745
ok，thanks

[2020-08-13 05:29] #745 closed, assigned to ZeyuChen

[2020-08-14 02:51] PeterPanZH opened #749 "run name overflow in sample pages"
![image](https://user-images.githubusercontent.com/3366499/90208698-fee31680-de1b-11ea-887e-83b8ac232b00.png)

[2020-08-14 03:58] #749 closed, assigned to PeterPanZH

[2020-08-17 08:24] PeterPanZH opened #756 "PR Curve chart Y axis adaptive values"

[2020-08-17 08:26] PeterPanZH opened #757 "Image zoom-in in sample page"

[2020-08-17 08:28] PeterPanZH opened #758 "Add keyboard shortcuts on step slider in sample page"

[2020-08-20 07:31] PeterPanZH opened #762 "show error page when components error"

[2020-08-20 07:42] ShenYuhan opened #763 "Support rewrite old log file by specifying `file_name` in LogWriter()."

[2020-08-20 08:05] PeterPanZH opened #765 "scalar page Y range frozen when data refreshed"

[2020-08-24 07:55] PeterPanZH commented on #765
cannot reproduce

[2020-08-27 02:44] cs-xiao opened #774 "页面跳转时数据流能不能记住选项而不是默认全选"
如题所述，这个visualdl真的好用！

[2020-08-27 05:34] PeterPanZH commented on #774
会在未来几个版本进行优化。感谢支持~

[2020-08-27 05:37] #756 closed, assigned to PeterPanZH

[2020-08-27 08:10] fjd330621 opened #777 "数据载入中，请稍等"
偶尔出现这一种情况
还有就是在document中并没有看到删除已有线条、图像的方法

[2020-08-27 13:23] PeterPanZH commented on #777
请问可以提供下您的log吗？

[2020-08-27 13:24] PeterPanZH commented on #777
目前无法删除log中已有的数据，如果不想看某个run的数据可以在右边将其取消勾选。

[2020-08-30 09:18] Gjiangtao commented on #683
我也遇到这个问题了，同时终端报错

[2020-08-30 09:19] Gjiangtao commented on #683
表现就是终端报这个错误

[2020-08-31 12:14] fjd330621 commented on #777
不好意思，回复迟了，是这一个吗?
![2020-08-31 20-06-14 的屏幕截图](https://user-images.githubusercontent.com/48682599/91718703-82e02100-ebc6-11ea-871a-1c6ede260c26.png)

就是copy的向导中的scalar语句，非常简单，还有就是能显示的时候也有一个问题就是不是常见的走势线，它会左右往返，但照理说我的step是跟随i时刻增加的，每个step只输入了一个值
with LogWriter(logdir="./log/scalar_test/train") as writer:
    writer.add_scalar(tag="acc", step=i, value=loss_value)

[2020-08-31 15:12] PeterPanZH commented on #777
麻烦将`./log/scalar_test/train`中的文件打包发一下我看看能不能复现

[2020-09-01 01:42] fjd330621 commented on #777
[vdlrecords.1598874873.zip](https://github.com/PaddlePaddle/VisualDL/files/5153447/vdlrecords.1598874873.zip)

[2020-09-03 10:31] PeterPanZH opened #785 "Sample Image is scaled down incorrectly on Safari"
Seems a bug of Safari

[2020-09-03 10:54] PeterPanZH commented on #777
这边看您的日志都只有一个点

[2020-09-04 04:31] #739 closed, assigned to PeterPanZH

[2020-09-04 04:38] fjd330621 commented on #777
不好意思，我现在好像理解了 ，with LogWriter(logdir="./log/scalar_test/train") as writer:这个命令应该会重置log？应该放在for 循环的外面？

[2020-09-04 07:11] #777 closed, assigned to nobody

[2020-09-04 13:19] #774 closed, assigned to PeterPanZH

[2020-09-07 10:19] PeterPanZH opened #798 "test webhook"
test webhook

[2020-09-07 11:31] PeterPanZH opened #799 "webhook test"
asdf

[2020-09-07 12:17] #798 closed, assigned to nobody

[2020-09-07 13:27] #799 closed, assigned to nobody

[2020-09-09 10:16] xiaomujiang opened #806 "不能显示scalar数据"
环境：visualdl               2.0.0b7

参考 《VisualDL2.0--基于「手写数字识别」模型的全功能展示》 在aistudio 上 启动服务，可以显示文件，说明生产的文件没有问题，log文件名是paddle_lenet_log， 然后在**本地尝试，报错**：
（1）启动服务
visualdl --logdir ./paddle_lenet_log --host 10.18.225.207  报一下错误：
[INFO 2020-09-09 18:14:32,975 app.py:141]  port=8040
Traceback (most recent call last):
  File "/root/anaconda3/envs/dog/bin/visualdl", line 8, in <module>
    sys.exit(main())

[2020-09-09 10:23] xiaomujiang commented on #806
已经解决环境问题

[2020-09-09 10:23] #806 closed, assigned to nobody

[2020-09-11 09:20] PeterPanZH commented on #743
fixed by #809

[2020-09-11 09:20] #743 closed, assigned to PeterPanZH

[2020-09-11 09:22] PeterPanZH commented on #762
fixed by #797

[2020-09-11 09:22] #762 closed, assigned to PeterPanZH

[2020-09-12 09:42] leyiweb commented on #683
终端没有报错，容器内curl都不通，无法映射到外部

root@xxxxx:~# curl http://127.0.0.1:8080
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>Redirecting...</title>
<h1>Redirecting...</h1>
<p>You should be redirected automatically to target URL: <a href="/app">/app</a>.

[2020-09-12 12:09] PeterPanZH commented on #683
@leyiweb curl显示了服务器返回了302，请用浏览器打开

[2020-09-16 14:20] PeterPanZH opened #813 "date & time cannot be formatted to correct locale string"

[2020-09-16 14:21] PeterPanZH commented on #813
get rid of momentjs and use build-in Intl constructor

[2020-09-18 05:24] PeterPanZH commented on #813
fixed by #815

[2020-09-18 05:24] #813 closed, assigned to PeterPanZH

[2020-09-21 12:27] xiegegege opened #825 "显示数据加载中，请稍后"
[vdlrecords.1600690579.log](https://github.com/PaddlePaddle/VisualDL/files/5255294/vdlrecords.1600690579.log)
附log，麻烦帮忙看下吧～